current_workflow.json
{"updatedAt":"2026-04-08T01:09:57.245Z","createdAt":"2026-04-08T01:09:57.245Z","id":"PtaAsz8hmkdIrqCM","name":"Sarah Nutri - RSS SIMPLE","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"GET","path":"rss-simple","options":{}},"id":"trigger-id","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-500,0],"webhookId":"rss-simple-webhook"},{"parameters":{"url":"https://medlineplus.gov/feeds/topics/seniorshealth.xml"},"id":"rss-id","name":"RSS Seniors Health","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-300,0]},{"parameters":{"maxItems":1},"id":"limit-id","name":"Latest Article","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-100,0]},{"parameters":{"promptType":"define","text":"={{ 'You are Sarah Nutri. Summarize this health news into a punchy Pinterest post for seniors. Include 5 hashtags. News: ' + $json.title + ' - ' + $json.contentSnippet }}"},"id":"rewrite-id","name":"Gemini: Rewrite","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[100,0]},{"parameters":{"options":{}},"id":"model-id","name":"Gemini Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,200],"credentials":{"googlePalmApi":{"id":"ZYtHRqXd2R1ruL4K","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"authentication":"webhook","content":"={{ 'Sarah Nutri Proposal:\n\n' + $('Gemini: Rewrite').item.json.text + '\n\nAPPROVE: http://localhost:8080/rest/webhooks/approve' }}","options":{}},"id":"discord-id","name":"Discord Notify","type":"n8n-nodes-base.discord","typeVersion":2,"position":[300,0],"credentials":{"discordWebhookApi":{"id":"7i15uQZ2xyb2Y3zH","name":"Discord Webhook account"}},"webhookId":"92e57073-8ae9-4a6d-a6f3-3fdd2506885a"}],"connections":{"Webhook Trigger":{"main":[[{"node":"RSS Seniors Health","type":"main","index":0}]]},"RSS Seniors Health":{"main":[[{"node":"Latest Article","type":"main","index":0}]]},"Latest Article":{"main":[[{"node":"Gemini: Rewrite","type":"main","index":0}]]},"Gemini Model":{"ai_languageModel":[[{"node":"Gemini: Rewrite","type":"ai_languageModel","index":0}]]},"Gemini: Rewrite":{"main":[[{"node":"Discord Notify","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"bfa2d8b5-1292-4a95-a6e3-8a319729af48","activeVersionId":"bfa2d8b5-1292-4a95-a6e3-8a319729af48","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-04-08T01:09:57.247Z","createdAt":"2026-04-08T01:09:57.247Z","role":"workflow:owner","workflowId":"PtaAsz8hmkdIrqCM","projectId":"ttc1G1ptMP8pWUzI","project":{"updatedAt":"2025-08-26T05:13:06.200Z","createdAt":"2025-08-26T05:13:06.200Z","id":"ttc1G1ptMP8pWUzI","name":"Zac Mero <z4cmero@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6984a9bb-f2c9-4c15-bf74-cd5fd5cbd5ad"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-08T01:09:57.249Z","createdAt":"2026-04-08T01:09:57.249Z","versionId":"bfa2d8b5-1292-4a95-a6e3-8a319729af48","workflowId":"PtaAsz8hmkdIrqCM","nodes":[{"parameters":{"httpMethod":"GET","path":"rss-simple","options":{}},"id":"trigger-id","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-500,0],"webhookId":"rss-simple-webhook"},{"parameters":{"url":"https://medlineplus.gov/feeds/topics/seniorshealth.xml"},"id":"rss-id","name":"RSS Seniors Health","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-300,0]},{"parameters":{"maxItems":1},"id":"limit-id","name":"Latest Article","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-100,0]},{"parameters":{"promptType":"define","text":"={{ 'You are Sarah Nutri. Summarize this health news into a punchy Pinterest post for seniors. Include 5 hashtags. News: ' + $json.title + ' - ' + $json.contentSnippet }}"},"id":"rewrite-id","name":"Gemini: Rewrite","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[100,0]},{"parameters":{"options":{}},"id":"model-id","name":"Gemini Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,200],"credentials":{"googlePalmApi":{"id":"ZYtHRqXd2R1ruL4K","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"authentication":"webhook","content":"={{ 'Sarah Nutri Proposal:\n\n' + $('Gemini: Rewrite').item.json.text + '\n\nAPPROVE: http://localhost:8080/rest/webhooks/approve' }}","options":{}},"id":"discord-id","name":"Discord Notify","type":"n8n-nodes-base.discord","typeVersion":2,"position":[300,0],"credentials":{"discordWebhookApi":{"id":"7i15uQZ2xyb2Y3zH","name":"Discord Webhook account"}},"webhookId":"92e57073-8ae9-4a6d-a6f3-3fdd2506885a"}],"connections":{"Webhook Trigger":{"main":[[{"node":"RSS Seniors Health","type":"main","index":0}]]},"RSS Seniors Health":{"main":[[{"node":"Latest Article","type":"main","index":0}]]},"Latest Article":{"main":[[{"node":"Gemini: Rewrite","type":"main","index":0}]]},"Gemini Model":{"ai_languageModel":[[{"node":"Gemini: Rewrite","type":"ai_languageModel","index":0}]]},"Gemini: Rewrite":{"main":[[{"node":"Discord Notify","type":"main","index":0}]]}},"authors":"Zac Mero","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-08T01:09:57.307Z","id":4,"workflowId":"PtaAsz8hmkdIrqCM","versionId":"bfa2d8b5-1292-4a95-a6e3-8a319729af48","event":"activated","userId":"6984a9bb-f2c9-4c15-bf74-cd5fd5cbd5ad"}]}}