last_error.json
{"id":"31","finished":false,"mode":"manual","retryOf":null,"retrySuccessId":null,"status":"canceled","createdAt":"2026-04-08T02:05:34.392Z","startedAt":"2026-04-08T02:05:34.401Z","stoppedAt":"2026-04-08T02:07:38.327Z","deletedAt":null,"workflowId":"7lMKf6pBkbOP1Qxf","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Manual Trigger":[{"startTime":1775613934415,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{},"pairedItem":{"item":0}}]]}}],"RSS Health News":[{"startTime":1775613934416,"executionIndex":1,"source":[{"previousNode":"Manual Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":946,"executionStatus":"success","data":{"main":[[{"json":{"title":"WHO calls for action: “Together for health. Stand with science.” to mark World Health Day","link":"https://www.who.int/news/item/06-04-2026-who-calls-for-action---together-for-health.-stand-with-science.--to-mark-world-health-day","pubDate":"Mon, 06 Apr 2026 08:36:50 Z","content":"The World Health Organization (WHO) today calls on people everywhere to renew their commitment to working together and supporting science as the twin engines driving better health, under the World Health Day 2026 theme: “Together for health. Stand with science.” The campaign marks the anniversary of WHO’s founding on 7 April 1948, launching a year-long public health campaign.","contentSnippet":"The World Health Organization (WHO) today calls on people everywhere to renew their commitment to working together and supporting science as the twin engines driving better health, under the World Health Day 2026 theme: “Together for health. Stand with science.” The campaign marks the anniversary of WHO’s founding on 7 April 1948, launching a year-long public health campaign.","guid":"urn:uuid:cf5620aa-e338-4396-bd54-18369f5912e0","isoDate":"2026-04-06T08:36:50.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"WHO Member States agree to extend negotiations on key annex to the Pandemic Agreement","link":"https://www.who.int/news/item/28-03-2026-who-member-states-agree-to-extend-negotiations-on-key-annex-to-the-pandemic-agreement","pubDate":"Sat, 28 Mar 2026 19:14:12 Z","content":"WHO Member States have agreed to extend negotiations on the Pathogen Access and Benefit Sharing (PABS) annex to the WHO Pandemic Agreement, with discussions to resume in late‑April ahead of its scheduled consideration by the World Health Assembly (WHA) in May.","contentSnippet":"WHO Member States have agreed to extend negotiations on the Pathogen Access and Benefit Sharing (PABS) annex to the WHO Pandemic Agreement, with discussions to resume in late‑April ahead of its scheduled consideration by the World Health Assembly (WHA) in May.","guid":"urn:uuid:e1f448aa-5f05-41da-b817-2ca33bde3124","isoDate":"2026-03-28T19:14:12.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Encouraging progress in inclusive health policies for refugees and migrants","link":"https://www.who.int/news/item/26-03-2026-encouraging-progress-in-inclusive-health-policies-for-refugees-and-migrants","pubDate":"Thu, 26 Mar 2026 08:50:26 Z","content":"WHO reports a major shift in how countries are responding to the health needs of refugees and migrants, with new data showing more than 60 countries – two thirds of those surveyed – now include them in their national health policies and laws.","contentSnippet":"WHO reports a major shift in how countries are responding to the health needs of refugees and migrants, with new data showing more than 60 countries – two thirds of those surveyed – now include them in their national health policies and laws.","guid":"urn:uuid:25972cde-7502-4659-8762-33e7cdfcd55e","isoDate":"2026-03-26T08:50:26.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"WHO recommends new diagnostic tools to help end TB","link":"https://www.who.int/news/item/24-03-2026-who-recommends-new-diagnostic-tools-to-help-end-tb","pubDate":"Tue, 24 Mar 2026 08:29:49 Z","content":"On World TB Day, the World Health Organization (WHO) is urging countries to accelerate action to end tuberculosis (TB) and expand access to lifesaving services by using new innovations such as  diagnostic tests that can be used near the point-of-care and tongue swabs that can help detect the disease faster reaching more people.","contentSnippet":"On World TB Day, the World Health Organization (WHO) is urging countries to accelerate action to end tuberculosis (TB) and expand access to lifesaving services by using new innovations such as  diagnostic tests that can be used near the point-of-care and tongue swabs that can help detect the disease faster reaching more people.","guid":"urn:uuid:8a1b23c2-f206-4e83-abc6-00a75b1b198d","isoDate":"2026-03-24T08:29:49.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Progress in reducing child deaths slows as 4.9 million children die before age five","link":"https://www.who.int/news/item/18-03-2026-progress-in-reducing-child-deaths-slows-as-4.9-million-children-die-before-age-five","pubDate":"Wed, 18 Mar 2026 00:01:15 Z","content":"<p>An estimated 4.9&nbsp;million children died before their fifth birthday in 2024, including 2.3&nbsp;million newborns, according to new estimates released today. Most of these deaths are preventable with proven, low-cost interventions and access to quality health care.</p><p>According to the report &ndash;  <a href=\"https://data.unicef.org/resources/levels-and-trends-in-child-mortality-2025/\" target=\"_blank\">Levels &amp; Trends in Child Mortality</a> &ndash; under-five deaths globally have fallen by more than half since 2000. However, since 2015, the pace of reduction in child mortality has slowed by more than 60 per cent.</p><p>This year&rsquo;s report provides the clearest and most detailed picture yet of how many children, adolescents, and youth are dying, where they are dying, and &ndash; for the first time &ndash; fully integrates estimates on the causes of death.*</p><p>For the first time, the report estimates deaths directly caused by severe acute malnutrition (SAM), finding that more than 100&nbsp;000 children aged 1-59 months &ndash; or 5 per cent &ndash; died from it in 2024. The toll is far greater when indirect effects are considered, as malnutrition weakens children&rsquo;s immunity and increases their risk of dying from common childhood diseases.</p><p>Mortality data also frequently fail to capture SAM as an underlying cause of death, suggesting the burden is likely substantially underestimated. Some of the countries with the highest numbers of direct deaths include Pakistan, Somalia, and Sudan.</p><p>Newborn deaths account for nearly half of all under-five deaths, reflecting slower progress in preventing deaths around the time of birth. Leading causes among newborns were complications from preterm birth (36 per cent) and complications during labour and delivery (21 per cent). Infections, including neonatal sepsis and congenital anomalies, were also important causes.</p><p>Beyond the first month, infectious diseases such as malaria, diarrhoea, and pneumonia were major killers. Malaria remained the single largest killer in this age group (17 per cent) &ndash; with most deaths occurring in endemic areas of sub-Saharan Africa. After steep declines between 2000 and 2015, progress towards reducing malaria mortality slowed in recent years. Deaths remain concentrated in a handful of endemic countries &ndash; such as Chad, Democratic Republic of the Congo, Niger, and Nigeria &ndash; where conflict, climate shocks, invasive mosquitos, drug resistance, and other biological threats continue to affect access to prevention and treatment.</p><p>Child deaths remain heavily concentrated in a small number of regions. In 2024, sub-Saharan Africa accounted for 58 per cent of all under-five deaths. In the region, the leading infectious diseases were responsible for 54 per cent of all under-five deaths. In Europe and Northern America this proportion drops to 9 per cent and in Australia and New Zealand, drops further to 6 per cent. These stark disparities reflect unequal access to proven, life-saving interventions.</p><p>In Southern Asia, which accounted for 25 per cent of all under-five deaths, mortality was driven largely by complications in the first month of life &ndash; including preterm delivery, birth asphyxia/ trauma, congenital anomalies, and neonatal infections. These largely preventable conditions underscore the urgent need for investing in quality antenatal care, skilled health-care personnel at birth, care of small and sick newborns, and essential newborn services.</p><p>Fragile and conflict-affected countries continue to bear a disproportionate share of the burden. Children born in these settings are nearly three times more likely to die before their fifth birthday than those elsewhere.</p><p>The report also finds that an estimated 2.1&nbsp;million children, adolescents and youth aged 5&ndash;24 died in 2024. Infectious diseases and injuries remain leading causes among younger children, while risks shift in adolescence: self-harm is the leading cause of death among girls aged 15&ndash;19, and road traffic injuries among boys.</p><p>Shifts in the global development financing landscape are placing critical maternal, newborn, and child health programmes under growing pressure. Surveys, health information systems, and the core functions that underpin effective care all need sustained funding not only to protect the progress made, but to accelerate it.</p><p>Evidence shows that investments in child health remain among the most cost-effective development measures. Proven, low-cost interventions &ndash; such as vaccines, treatment for severe acute malnutrition, and skilled care at birth &ndash; deliver some of the highest returns in global health, improving productivity, strengthening economies and reducing future public spending. Every dollar invested in child survival can generate up to twenty dollars in social and economic benefits.</p><p>To accelerate progress and save lives, governments, donors, and partners must:</p><ol><li><strong>make child survival a political and financing priority,</strong> with political commitment from high-burden countries to mobilize domestic resources, and improve access to evidence-based, quality services that are affordable for all;</li><li><strong>focus on those at highest risk,</strong> especially mothers and children in sub-Saharan Africa and Southern Asia, and in conflict and fragile settings;</li><li><strong>strengthen accountability</strong> for existing commitments to reduce maternal, newborn, and child deaths, including transparent data collection, tracking, and reporting; and</li><li><strong>invest in primary health care systems</strong> to prevent, diagnose and treat the leading causes of death in children, including through community health workers and skilled care at birth.<br />&nbsp;</li></ol><h3>Quotes</h3><p>&ldquo;No child should die from diseases that we know how to prevent. But we see worrying signs that progress in child survival is slowing &ndash; and at a time where we&rsquo;re seeing further global budget cuts,&rdquo; said UNICEF Executive Director Catherine Russell. &ldquo;History has shown what is possible when the world commits to protecting its children. With sustained investment and political will, we can continue to build on those achievements for future generations.&rdquo;</p><p>&ldquo;The world has made remarkable progress in saving children&rsquo;s lives, but many still die from preventable causes,&rdquo; said Dr Tedros Adhanom Ghebreyesus, WHO Director-General. &ldquo;Children living amid conflict and crisis are nearly three times more likely to die before their fifth birthday. We must protect essential health and nutrition services and reach the most vulnerable families so every child has the chance not only to survive, but to thrive.&rdquo;</p><p>\"These findings are a collective call to speed up implementation of the proven, scalable solutions we know are within reach,\" said Monique Vledder, World Bank Group Director, Health. \"The World Bank Group health target of reaching 1.5 billion people is our concrete commitment to accelerating access to quality primary health services for more children and families.\"</p><p>&ldquo;The latest estimates from the United Nations Inter-agency Group for Child Mortality Estimation are a stark reminder that progress on child survival is slowing and too many countries are off track to meet the Sustainable Development Goals,&rdquo; said Under-Secretary-General for Economic and Social Affairs Mr. Li Junhua. &ldquo;We know how to prevent these deaths. What is needed now is renewed political commitment, sustained investment in primary health care, and stronger data systems to ensure no child is left behind.&rdquo;</p><p>&ldquo;These estimates demonstrate that many deaths among children under five &ndash; from causes such as preterm birth, lower respiratory infections, to injuries &ndash; are avoidable with proven, cost‑effective interventions,&rdquo; says Li Liu, PhD, an associate professor at the Johns Hopkins Bloomberg School of Public Health and co-PI of CA-CODE. &ldquo;The science is clear: targeted investments in primary health care, maternal and newborn health services, routine immunization, nutrition programmes, and quality and timely data systems can save millions of lives.&rdquo;<br />&nbsp;</p><h3>Notes to editors</h3><p>* This is made possible by the UN Inter-agency Group for Child Mortality Estimation (UN IGME) unifying global child mortality and cause-of-death data in its flagship report, through the full integration of estimates from the Child and Adolescent Causes of Death Estimation (CA CODE) group &ndash; a research consortium led by the Johns Hopkins Bloomberg School of Public Health.</p><p>Child deaths continue to decline globally, though updated data and improved methods mean this round&rsquo;s estimates are slightly higher than reported the previous year. UN IGME estimates are not directly comparable across rounds, as each update incorporates new survey, census, and civil registration data, revised population and birth figures, and changes in country coverage.</p><p><strong>About UN IGME</strong><br />The United Nations Inter-agency Group for Child Mortality Estimation or UN IGME was formed in 2004 to share data on child mortality, improve methods for child mortality estimation, report on progress towards child survival goals and enhance the capacity of countries to produce timely and properly evaluated estimates of child mortality. UN IGME is led by UNICEF and includes the World Health Organization, the World Bank Group and the Population Division of the United Nations Department of Economic and Social Affairs. For more information: <a href=\"http://www.childmortality.org/\" target=\"_blank\">http://www.childmortality.org/</a></p><p><strong>About Johns Hopkins Bloomberg School of Public Health</strong><br />The Johns Hopkins Bloomberg School of Public Health works to keep millions safe from illness and injury by pioneering new research, deploying knowledge in the field, and educating tomorrow&rsquo;s public health leaders. The Bloomberg School was founded as the first independent school of public health in 1916 as part of Johns Hopkins University&ndash;the United States&rsquo; first research university. Today, Bloomberg School researchers work in settings from labs to communities to prevent disease, improve population health, and shape health policy in the U.S. and countries around the world.</p><p>&nbsp;</p>","contentSnippet":"An estimated 4.9 million children died before their fifth birthday in 2024, including 2.3 million newborns, according to new estimates released today. Most of these deaths are preventable with proven, low-cost interventions and access to quality health care.\nAccording to the report –  Levels & Trends in Child Mortality – under-five deaths globally have fallen by more than half since 2000. However, since 2015, the pace of reduction in child mortality has slowed by more than 60 per cent.\nThis year’s report provides the clearest and most detailed picture yet of how many children, adolescents, and youth are dying, where they are dying, and – for the first time – fully integrates estimates on the causes of death.*\nFor the first time, the report estimates deaths directly caused by severe acute malnutrition (SAM), finding that more than 100 000 children aged 1-59 months – or 5 per cent – died from it in 2024. The toll is far greater when indirect effects are considered, as malnutrition weakens children’s immunity and increases their risk of dying from common childhood diseases.\nMortality data also frequently fail to capture SAM as an underlying cause of death, suggesting the burden is likely substantially underestimated. Some of the countries with the highest numbers of direct deaths include Pakistan, Somalia, and Sudan.\nNewborn deaths account for nearly half of all under-five deaths, reflecting slower progress in preventing deaths around the time of birth. Leading causes among newborns were complications from preterm birth (36 per cent) and complications during labour and delivery (21 per cent). Infections, including neonatal sepsis and congenital anomalies, were also important causes.\nBeyond the first month, infectious diseases such as malaria, diarrhoea, and pneumonia were major killers. Malaria remained the single largest killer in this age group (17 per cent) – with most deaths occurring in endemic areas of sub-Saharan Africa. After steep declines between 2000 and 2015, progress towards reducing malaria mortality slowed in recent years. Deaths remain concentrated in a handful of endemic countries – such as Chad, Democratic Republic of the Congo, Niger, and Nigeria – where conflict, climate shocks, invasive mosquitos, drug resistance, and other biological threats continue to affect access to prevention and treatment.\nChild deaths remain heavily concentrated in a small number of regions. In 2024, sub-Saharan Africa accounted for 58 per cent of all under-five deaths. In the region, the leading infectious diseases were responsible for 54 per cent of all under-five deaths. In Europe and Northern America this proportion drops to 9 per cent and in Australia and New Zealand, drops further to 6 per cent. These stark disparities reflect unequal access to proven, life-saving interventions.\nIn Southern Asia, which accounted for 25 per cent of all under-five deaths, mortality was driven largely by complications in the first month of life – including preterm delivery, birth asphyxia/ trauma, congenital anomalies, and neonatal infections. These largely preventable conditions underscore the urgent need for investing in quality antenatal care, skilled health-care personnel at birth, care of small and sick newborns, and essential newborn services.\nFragile and conflict-affected countries continue to bear a disproportionate share of the burden. Children born in these settings are nearly three times more likely to die before their fifth birthday than those elsewhere.\nThe report also finds that an estimated 2.1 million children, adolescents and youth aged 5–24 died in 2024. Infectious diseases and injuries remain leading causes among younger children, while risks shift in adolescence: self-harm is the leading cause of death among girls aged 15–19, and road traffic injuries among boys.\nShifts in the global development financing landscape are placing critical maternal, newborn, and child health programmes under growing pressure. Surveys, health information systems, and the core functions that underpin effective care all need sustained funding not only to protect the progress made, but to accelerate it.\nEvidence shows that investments in child health remain among the most cost-effective development measures. Proven, low-cost interventions – such as vaccines, treatment for severe acute malnutrition, and skilled care at birth – deliver some of the highest returns in global health, improving productivity, strengthening economies and reducing future public spending. Every dollar invested in child survival can generate up to twenty dollars in social and economic benefits.\nTo accelerate progress and save lives, governments, donors, and partners must:\n\nmake child survival a political and financing priority, with political commitment from high-burden countries to mobilize domestic resources, and improve access to evidence-based, quality services that are affordable for all;\nfocus on those at highest risk, especially mothers and children in sub-Saharan Africa and Southern Asia, and in conflict and fragile settings;\nstrengthen accountability for existing commitments to reduce maternal, newborn, and child deaths, including transparent data collection, tracking, and reporting; and\ninvest in primary health care systems to prevent, diagnose and treat the leading causes of death in children, including through community health workers and skilled care at birth.\n \n\nQuotes\n“No child should die from diseases that we know how to prevent. But we see worrying signs that progress in child survival is slowing – and at a time where we’re seeing further global budget cuts,” said UNICEF Executive Director Catherine Russell. “History has shown what is possible when the world commits to protecting its children. With sustained investment and political will, we can continue to build on those achievements for future generations.”\n“The world has made remarkable progress in saving children’s lives, but many still die from preventable causes,” said Dr Tedros Adhanom Ghebreyesus, WHO Director-General. “Children living amid conflict and crisis are nearly three times more likely to die before their fifth birthday. We must protect essential health and nutrition services and reach the most vulnerable families so every child has the chance not only to survive, but to thrive.”\n\"These findings are a collective call to speed up implementation of the proven, scalable solutions we know are within reach,\" said Monique Vledder, World Bank Group Director, Health. \"The World Bank Group health target of reaching 1.5 billion people is our concrete commitment to accelerating access to quality primary health services for more children and families.\"\n“The latest estimates from the United Nations Inter-agency Group for Child Mortality Estimation are a stark reminder that progress on child survival is slowing and too many countries are off track to meet the Sustainable Development Goals,” said Under-Secretary-General for Economic and Social Affairs Mr. Li Junhua. “We know how to prevent these deaths. What is needed now is renewed political commitment, sustained investment in primary health care, and stronger data systems to ensure no child is left behind.”\n“These estimates demonstrate that many deaths among children under five – from causes such as preterm birth, lower respiratory infections, to injuries – are avoidable with proven, cost‑effective interventions,” says Li Liu, PhD, an associate professor at the Johns Hopkins Bloomberg School of Public Health and co-PI of CA-CODE. “The science is clear: targeted investments in primary health care, maternal and newborn health services, routine immunization, nutrition programmes, and quality and timely data systems can save millions of lives.”\n \nNotes to editors\n* This is made possible by the UN Inter-agency Group for Child Mortality Estimation (UN IGME) unifying global child mortality and cause-of-death data in its flagship report, through the full integration of estimates from the Child and Adolescent Causes of Death Estimation (CA CODE) group – a research consortium led by the Johns Hopkins Bloomberg School of Public Health.\nChild deaths continue to decline globally, though updated data and improved methods mean this round’s estimates are slightly higher than reported the previous year. UN IGME estimates are not directly comparable across rounds, as each update incorporates new survey, census, and civil registration data, revised population and birth figures, and changes in country coverage.\nAbout UN IGME\nThe United Nations Inter-agency Group for Child Mortality Estimation or UN IGME was formed in 2004 to share data on child mortality, improve methods for child mortality estimation, report on progress towards child survival goals and enhance the capacity of countries to produce timely and properly evaluated estimates of child mortality. UN IGME is led by UNICEF and includes the World Health Organization, the World Bank Group and the Population Division of the United Nations Department of Economic and Social Affairs. For more information: http://www.childmortality.org/\nAbout Johns Hopkins Bloomberg School of Public Health\nThe Johns Hopkins Bloomberg School of Public Health works to keep millions safe from illness and injury by pioneering new research, deploying knowledge in the field, and educating tomorrow’s public health leaders. The Bloomberg School was founded as the first independent school of public health in 1916 as part of Johns Hopkins University–the United States’ first research university. Today, Bloomberg School researchers work in settings from labs to communities to prevent disease, improve population health, and shape health policy in the U.S. and countries around the world.","guid":"urn:uuid:6ab10a3d-bfea-4e0b-a1b9-d39a87e481e3","isoDate":"2026-03-18T00:01:15.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Conflict deepens health crisis across Middle East, WHO says","link":"https://www.who.int/news/item/11-03-2026-conflict-deepens-health-crisis-across-middle-east--who-says","pubDate":"Wed, 11 Mar 2026 14:18:29 Z","content":"<p>More than ten days into the latest escalation of conflict in the Middle East, health systems across the Region are coming under strain as injuries and displacement rise, attacks on health care continue, and public health risks increase.</p><p>National health authorities in Iran report more than 1300 deaths and 9000 injuries, and in Lebanon report at least 570 deaths and more than 1400 injuries. In Israel, authorities report 15 deaths and 2142 injuries.</p><p>At the same time, the conflict is affecting the very services meant to save lives. In Iran, WHO has verified 18 attacks on health care since 28 February, resulting in 8 deaths among health workers. Over the same period in Lebanon, 25 attacks on health care have resulted in 16 deaths and 29 injuries. These attacks not only cost lives but deprive communities of care when they need it most. Health workers, patients and health facilities must always be protected under international humanitarian law.</p><p>Beyond the immediate impact, the conflict is creating wider public health risks. Current estimates indicate more than 100&nbsp;000 people in Iran have relocated to other areas of the country due to insecurity, and up to 700&nbsp;000 people have been internally displaced in Lebanon, with many in crowded collective shelters under deteriorating public health conditions, with limited access to safe water, sanitation and hygiene. These conditions increase the risk of respiratory infections, diarrhoeal diseases, and other communicable illnesses, especially for the most vulnerable populations, such as women and children.</p><p>Environmental hazards are also a raising concern. In Iran, petroleum fires and smoke from damaged infrastructure exposed nearby communities to toxic pollutants that potentially cause breathing problems, eye and skin irritation, and contaminated water and food sources.</p><p>Access to health services is becoming increasingly constrained across several countries. In Lebanon, 49 primary health care centres and five hospitals have shut following evacuation orders issued by Israel&rsquo;s military, reducing the availability of essential services as medical needs rise.</p><p>In the occupied Palestinian territory, increased movement restrictions and checkpoint closures are delaying ambulance and mobile clinics&rsquo; access across several governorates in the West Bank. In Gaza, medical evacuations remain suspended since 28 February, while hospitals continue to operate under strain amid ongoing shortages of medicines, medical supplies and fuel, which is being rationed to prioritize essential health services such as emergency and trauma care, maternal and neonatal services, and management of communicable diseases.</p><p>Temporary airspace restrictions have disrupted the movement of medical supplies from WHO&rsquo;s global logistics hub in Dubai. More than 50 emergency supply requests, intended to benefit over 1.5&nbsp;million people across 25 countries, are affected, resulting in significant backlogs. Current priority shipments include supplies planned for Al Arish, Egypt, to support the Gaza response, as well as Lebanon and Afghanistan. The first shipment, containing cholera response supplies for Mozambique, is expected to depart from the hub in the coming week.</p><p>The escalation comes at a time when humanitarian needs in the Eastern Mediterranean Region were already among the highest in the world. Across the Region, 115&nbsp;million people require humanitarian assistance &ndash; almost half of all people in need globally &ndash; while humanitarian health emergency appeals remain 70% underfunded.   \r\n</p><p>Without protection for health care, sustained humanitarian access and stronger financial and operational support for the humanitarian health response, the strain on vulnerable populations and already fragile health systems will continue to grow.</p><p>WHO calls on all parties to protect civilians and health care, ensure unimpeded and sustained humanitarian access, and pursue de-escalation of the conflict so communities can begin to recover and move towards peace.</p><p>&nbsp;</p>","contentSnippet":"More than ten days into the latest escalation of conflict in the Middle East, health systems across the Region are coming under strain as injuries and displacement rise, attacks on health care continue, and public health risks increase.\nNational health authorities in Iran report more than 1300 deaths and 9000 injuries, and in Lebanon report at least 570 deaths and more than 1400 injuries. In Israel, authorities report 15 deaths and 2142 injuries.\nAt the same time, the conflict is affecting the very services meant to save lives. In Iran, WHO has verified 18 attacks on health care since 28 February, resulting in 8 deaths among health workers. Over the same period in Lebanon, 25 attacks on health care have resulted in 16 deaths and 29 injuries. These attacks not only cost lives but deprive communities of care when they need it most. Health workers, patients and health facilities must always be protected under international humanitarian law.\nBeyond the immediate impact, the conflict is creating wider public health risks. Current estimates indicate more than 100 000 people in Iran have relocated to other areas of the country due to insecurity, and up to 700 000 people have been internally displaced in Lebanon, with many in crowded collective shelters under deteriorating public health conditions, with limited access to safe water, sanitation and hygiene. These conditions increase the risk of respiratory infections, diarrhoeal diseases, and other communicable illnesses, especially for the most vulnerable populations, such as women and children.\nEnvironmental hazards are also a raising concern. In Iran, petroleum fires and smoke from damaged infrastructure exposed nearby communities to toxic pollutants that potentially cause breathing problems, eye and skin irritation, and contaminated water and food sources.\nAccess to health services is becoming increasingly constrained across several countries. In Lebanon, 49 primary health care centres and five hospitals have shut following evacuation orders issued by Israel’s military, reducing the availability of essential services as medical needs rise.\nIn the occupied Palestinian territory, increased movement restrictions and checkpoint closures are delaying ambulance and mobile clinics’ access across several governorates in the West Bank. In Gaza, medical evacuations remain suspended since 28 February, while hospitals continue to operate under strain amid ongoing shortages of medicines, medical supplies and fuel, which is being rationed to prioritize essential health services such as emergency and trauma care, maternal and neonatal services, and management of communicable diseases.\nTemporary airspace restrictions have disrupted the movement of medical supplies from WHO’s global logistics hub in Dubai. More than 50 emergency supply requests, intended to benefit over 1.5 million people across 25 countries, are affected, resulting in significant backlogs. Current priority shipments include supplies planned for Al Arish, Egypt, to support the Gaza response, as well as Lebanon and Afghanistan. The first shipment, containing cholera response supplies for Mozambique, is expected to depart from the hub in the coming week.\nThe escalation comes at a time when humanitarian needs in the Eastern Mediterranean Region were already among the highest in the world. Across the Region, 115 million people require humanitarian assistance – almost half of all people in need globally – while humanitarian health emergency appeals remain 70% underfunded.   \r\n\nWithout protection for health care, sustained humanitarian access and stronger financial and operational support for the humanitarian health response, the strain on vulnerable populations and already fragile health systems will continue to grow.\nWHO calls on all parties to protect civilians and health care, ensure unimpeded and sustained humanitarian access, and pursue de-escalation of the conflict so communities can begin to recover and move towards peace.","guid":"urn:uuid:9dc0d041-0c49-44bc-ba5d-d367d1eaacda","isoDate":"2026-03-11T14:18:29.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Chile becomes the first country in the Americas to be verified by WHO for the elimination of leprosy","link":"https://www.who.int/news/item/04-03-2026-chile-becomes-the-first-country-in-the-americas-to-be-verified-by-who-for-the-elimination-of-leprosy","pubDate":"Wed, 04 Mar 2026 14:57:17 Z","content":"The World Health Organization (WHO), together with the Pan American Health Organization (PAHO), congratulates Chile for becoming the first country in the Americas – and the second globally – to be officially verified as having eliminated leprosy disease.","contentSnippet":"The World Health Organization (WHO), together with the Pan American Health Organization (PAHO), congratulates Chile for becoming the first country in the Americas – and the second globally – to be officially verified as having eliminated leprosy disease.","guid":"urn:uuid:2ce26b5f-614f-44c7-8e66-f1bc5fdc178b","isoDate":"2026-03-04T14:57:17.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Recommendations for influenza vaccine composition for the 2026-2027 northern hemisphere season","link":"https://www.who.int/news/item/27-02-2026-recommendations-for-influenza-vaccine-composition-for-the-2026-2027-northern-hemisphere-season","pubDate":"Fri, 27 Feb 2026 10:01:29 Z","content":"The World Health Organization (WHO) today announced recommendations for the viral composition of influenza (or “flu”) vaccines for the 2026-2027 northern hemisphere influenza season. The announcement was made following a 4-day consultation examining global influenza surveillance data.","contentSnippet":"The World Health Organization (WHO) today announced recommendations for the viral composition of influenza (or “flu”) vaccines for the 2026-2027 northern hemisphere influenza season. The announcement was made following a 4-day consultation examining global influenza surveillance data.","guid":"urn:uuid:b8f7b61f-1187-4e0f-bed7-d0f910780132","isoDate":"2026-02-27T10:01:29.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Denmark becomes first country in the European Union to eliminate mother-to-child transmission of HIV and syphilis","link":"https://www.who.int/news/item/27-02-2026-denmark-becomes-first-country-in-the-european-union-to-eliminate-of-mother-to-child-transmission-of-hiv-and-syphilis","pubDate":"Thu, 26 Feb 2026 17:17:17 Z","content":"The World Health Organization (WHO) has certified Denmark for the elimination of mother-to-child transmission (EMTCT) of HIV and syphilis, recognizing the country's sustained commitment to ensuring every child is born free of these infections.","contentSnippet":"The World Health Organization (WHO) has certified Denmark for the elimination of mother-to-child transmission (EMTCT) of HIV and syphilis, recognizing the country's sustained commitment to ensuring every child is born free of these infections.","guid":"urn:uuid:35162dcf-3485-4861-ac4e-046836f710ac","isoDate":"2026-02-26T17:17:17.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"WHO Director-General visits Jordan to recognize strong collaboration on health system delivery, emergency relief and advancing mental health","link":"https://www.who.int/news/item/25-02-2026-who-director-general-visits-jordan-to-recognize-strong-collaboration-on-health-system-delivery--emergency-relief-and-advancing-mental-health","pubDate":"Wed, 25 Feb 2026 18:06:55 Z","content":"The Director-General of the World Health Organization, Dr Tedros Adhanom Ghebreyesus, today concluded the first day of his two-day State visit to the Hashemite Kingdom of Jordan, underscoring the strong partnership between WHO and Jordan across the areas of universal health coverage (UHC), mental health and humanitarian health action.","contentSnippet":"The Director-General of the World Health Organization, Dr Tedros Adhanom Ghebreyesus, today concluded the first day of his two-day State visit to the Hashemite Kingdom of Jordan, underscoring the strong partnership between WHO and Jordan across the areas of universal health coverage (UHC), mental health and humanitarian health action.","guid":"urn:uuid:0ce5fa04-9ac3-465f-89cf-15a8e5a748dd","isoDate":"2026-02-25T18:06:55.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Attacks on Ukraine’s health care increased by 20% in 2025","link":"https://www.who.int/news/item/23-02-2026-attacks-on-ukraine-s-health-care-increased-by-20-in-2025","pubDate":"Mon, 23 Feb 2026 16:14:35 Z","content":"<p>As Ukraine enters the fifth year of full-scale war, its people have endured the highest number of attacks on their health care in 2025 &ndash; increasing by nearly 20% compared to 2024.</p><p>Since the beginning of the full-scale war on 24 February 2022, WHO has documented at least 2881 attacks on health care in Ukraine, affecting health workers, facilities, ambulances, and medical warehouses.</p><p>Health services are under intense pressure in two fronts: direct attacks on health care, and the cascading effects of strikes on civilian infrastructure, including thermal power plants that underpin the country's power grid. These have left deep gaps in people&rsquo;s health. According to a WHO assessment conducted in December 2025, 59% of people in frontline areas reported their health as poor or very poor, compared to 47% in non-frontline areas.</p><p>\"After four years of war, health needs are increasing, but many people are unable to get the care they need, in part because hospitals and clinics are routinely attacked,\" said Dr Tedros Adhanom Ghebreyesus, WHO Director-General. \"WHO is working alongside Ukraine's dedicated health workers to keep hospitals supplied with the means to stay warm, and the medicines people rely on the most. Ultimately, the best medicine is peace.&rdquo;</p><p>In 2025, WHO&rsquo;s support reached 1.9&nbsp;million people across Ukraine through service delivery, medical supplies, referrals and capacity-building, with a strong focus on frontline and hard-to-reach locations.</p><p>\"Four years of war has created a serious health crisis in Ukraine,\" said Dr Hans Henri P. Kluge, WHO Regional Director for Europe. \"Mental health needs are staggering: 72% of people surveyed experienced anxiety or depression in the past year, yet only one in five sought help. Cardiovascular disease is surging, with one in four Ukrainians experiencing dangerously high blood pressure. And 8 out of 10 people report they can&rsquo;t access the medicines they need. This is not abstract &ndash; it's a heart patient who can't find blood pressure medication, an amputee waiting months for a prosthetic, a teenager too afraid to leave the house. Ukraine's health system needs our sustained support.&rdquo;</p><h2>Attacks on health care</h2><p>In a year marked by hope for peace talks, the reality on the ground told a different story. Attacks on health care intensified, reaching a peak in the third quarter of 2025, when 184 attacks claimed the lives of 12 people and injured 110 health workers and patients. </p><p>At the same time, attacks on medical warehouses tripled in 2025 compared with the previous year, disrupting logistics and supply chains that are critical to delivering care across the country. Over the past four years, 233 health workers and patients have been killed and 930 injured in attacks on health care. Such attacks constitute violations of international humanitarian law.</p><h2>Impact of destruction on essential health services</h2><p>This winter has been the harshest since the war began, with multiple strikes on energy infrastructure leaving millions without heating, electricity, and water. Many of Ukraine's combined heat and power plants have been damaged or destroyed. In Kyiv alone, a January 2026 attack left nearly 6000 buildings without heat in subzero conditions, prompting an estimated 600&nbsp;000 residents to flee the capital.</p><p>\"What we are witnessing in Ukraine is a devastating cycle. A heating station is struck and thousands of homes lose heat within hours. At &ndash; 20&deg;C, water in the pipes freezes, bursts them, floods buildings with ice. Repairs are made, then the next attack starts it all over again. Behind every one of these system breakdowns are families, elderly residents, and health-care workers who must keep saving lives while their own homes are without heat, water, or electricity. The burnout after four years of war is immense &ndash; and the demand for health care has never been higher,\" said Dr Jarno Habicht, WHO Representative to Ukraine.</p><p>The impact does not end at the hospital door. New mothers discharged after giving birth, patients recovering from injuries or heart attacks, and those awaiting or recovering from critical cancer surgeries return home to apartments without heating, electricity, or running water. Care that begins in a functioning hospital is undermined when patients recover in freezing, dark homes, turning medical progress into a daily struggle for survival.</p><h2>Growing health needs</h2><p>The rise in war-related trauma injuries has driven a growing demand for surgery, blood products, infection prevention and control, prevention of antimicrobial resistance, mental health services, and rehabilitation.</p><p>Access to rehabilitation remains severely limited. Only 4% of hospitals providing inpatient rehabilitation and only 3% of facilities offering assistive technologies such as prosthetics and corrective devices.</p><p>Access to medicines is among the most persistent barriers to health in Ukraine, with 4 out of 5 people reporting difficulties, primarily due to high prices (71%). In frontline regions, closed pharmacies, security risks, and financial constraints make the situation even more acute.</p><h2>WHO&rsquo;s work in Ukraine</h2><p>In 2025, WHO worked to reach communities through multiple mechanisms, by prioritizing the most vulnerable people in hard-to-reach areas. The work spanned the full continuum of health:</p><ul><li><strong>Crisis response:</strong> delivered trauma care and medical supplies to 954 facilities, supported over 1200 medical evacuations, and run outreach in 131 hard-to-reach locations;</li><li><strong>Recovery:</strong> sustained primary health care, noncommunicable disease treatment and mental health services for displaced and conflict-affected populations; and</li><li><strong>Rehabilitation:</strong> rebuilt damaged facilities, installing modular clinics, and training over 2500 health workers to restore and strengthen a battered health system.</li></ul><p>To help maintain essential health services, WHO has provided 284 generators to health facilities across 23 oblasts in Ukraine. For 2026, WHO is appealing to raise US$&nbsp;42&nbsp;million in funding to sustain its work in Ukraine and to protect access to care for 700&nbsp;000 people.</p><p>&nbsp;</p>","contentSnippet":"As Ukraine enters the fifth year of full-scale war, its people have endured the highest number of attacks on their health care in 2025 – increasing by nearly 20% compared to 2024.\nSince the beginning of the full-scale war on 24 February 2022, WHO has documented at least 2881 attacks on health care in Ukraine, affecting health workers, facilities, ambulances, and medical warehouses.\nHealth services are under intense pressure in two fronts: direct attacks on health care, and the cascading effects of strikes on civilian infrastructure, including thermal power plants that underpin the country's power grid. These have left deep gaps in people’s health. According to a WHO assessment conducted in December 2025, 59% of people in frontline areas reported their health as poor or very poor, compared to 47% in non-frontline areas.\n\"After four years of war, health needs are increasing, but many people are unable to get the care they need, in part because hospitals and clinics are routinely attacked,\" said Dr Tedros Adhanom Ghebreyesus, WHO Director-General. \"WHO is working alongside Ukraine's dedicated health workers to keep hospitals supplied with the means to stay warm, and the medicines people rely on the most. Ultimately, the best medicine is peace.”\nIn 2025, WHO’s support reached 1.9 million people across Ukraine through service delivery, medical supplies, referrals and capacity-building, with a strong focus on frontline and hard-to-reach locations.\n\"Four years of war has created a serious health crisis in Ukraine,\" said Dr Hans Henri P. Kluge, WHO Regional Director for Europe. \"Mental health needs are staggering: 72% of people surveyed experienced anxiety or depression in the past year, yet only one in five sought help. Cardiovascular disease is surging, with one in four Ukrainians experiencing dangerously high blood pressure. And 8 out of 10 people report they can’t access the medicines they need. This is not abstract – it's a heart patient who can't find blood pressure medication, an amputee waiting months for a prosthetic, a teenager too afraid to leave the house. Ukraine's health system needs our sustained support.”\nAttacks on health care\nIn a year marked by hope for peace talks, the reality on the ground told a different story. Attacks on health care intensified, reaching a peak in the third quarter of 2025, when 184 attacks claimed the lives of 12 people and injured 110 health workers and patients. \nAt the same time, attacks on medical warehouses tripled in 2025 compared with the previous year, disrupting logistics and supply chains that are critical to delivering care across the country. Over the past four years, 233 health workers and patients have been killed and 930 injured in attacks on health care. Such attacks constitute violations of international humanitarian law.\nImpact of destruction on essential health services\nThis winter has been the harshest since the war began, with multiple strikes on energy infrastructure leaving millions without heating, electricity, and water. Many of Ukraine's combined heat and power plants have been damaged or destroyed. In Kyiv alone, a January 2026 attack left nearly 6000 buildings without heat in subzero conditions, prompting an estimated 600 000 residents to flee the capital.\n\"What we are witnessing in Ukraine is a devastating cycle. A heating station is struck and thousands of homes lose heat within hours. At – 20°C, water in the pipes freezes, bursts them, floods buildings with ice. Repairs are made, then the next attack starts it all over again. Behind every one of these system breakdowns are families, elderly residents, and health-care workers who must keep saving lives while their own homes are without heat, water, or electricity. The burnout after four years of war is immense – and the demand for health care has never been higher,\" said Dr Jarno Habicht, WHO Representative to Ukraine.\nThe impact does not end at the hospital door. New mothers discharged after giving birth, patients recovering from injuries or heart attacks, and those awaiting or recovering from critical cancer surgeries return home to apartments without heating, electricity, or running water. Care that begins in a functioning hospital is undermined when patients recover in freezing, dark homes, turning medical progress into a daily struggle for survival.\nGrowing health needs\nThe rise in war-related trauma injuries has driven a growing demand for surgery, blood products, infection prevention and control, prevention of antimicrobial resistance, mental health services, and rehabilitation.\nAccess to rehabilitation remains severely limited. Only 4% of hospitals providing inpatient rehabilitation and only 3% of facilities offering assistive technologies such as prosthetics and corrective devices.\nAccess to medicines is among the most persistent barriers to health in Ukraine, with 4 out of 5 people reporting difficulties, primarily due to high prices (71%). In frontline regions, closed pharmacies, security risks, and financial constraints make the situation even more acute.\nWHO’s work in Ukraine\nIn 2025, WHO worked to reach communities through multiple mechanisms, by prioritizing the most vulnerable people in hard-to-reach areas. The work spanned the full continuum of health:\n\nCrisis response: delivered trauma care and medical supplies to 954 facilities, supported over 1200 medical evacuations, and run outreach in 131 hard-to-reach locations;\nRecovery: sustained primary health care, noncommunicable disease treatment and mental health services for displaced and conflict-affected populations; and\nRehabilitation: rebuilt damaged facilities, installing modular clinics, and training over 2500 health workers to restore and strengthen a battered health system.\n\nTo help maintain essential health services, WHO has provided 284 generators to health facilities across 23 oblasts in Ukraine. For 2026, WHO is appealing to raise US$ 42 million in funding to sustain its work in Ukraine and to protect access to care for 700 000 people.","guid":"urn:uuid:671dd520-fc6f-4c10-afdc-9e14f2fdf4a5","isoDate":"2026-02-23T16:14:35.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"WHO validates elimination of trachoma as a public health problem in Libya","link":"https://www.who.int/news/item/18-02-2026-who-validates-elimination-of-trachoma-as-a-public-health-problem-in-libya","pubDate":"Wed, 18 Feb 2026 14:24:32 Z","content":"WHO today announced that Libya has eliminated trachoma as a public health problem, a landmark victory for public health in WHO’s Eastern Mediterranean Region. This hard-won achievement protects future generations from preventable blindness and provides a powerful reminder that countries can overcome neglected tropical diseases despite persisting challenges.","contentSnippet":"WHO today announced that Libya has eliminated trachoma as a public health problem, a landmark victory for public health in WHO’s Eastern Mediterranean Region. This hard-won achievement protects future generations from preventable blindness and provides a powerful reminder that countries can overcome neglected tropical diseases despite persisting challenges.","guid":"urn:uuid:c26731e0-35ff-4be8-b37b-cb379bc88630","isoDate":"2026-02-18T14:24:32.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Global commitment on display as countries negotiate key annex to the Pandemic Agreement","link":"https://www.who.int/news/item/17-02-2026-global-commitment-on-display-as-countries-negotiate-key-annex-to-the-pandemic-agreement","pubDate":"Tue, 17 Feb 2026 09:24:36 Z","content":"Member States of the World Health Organization (WHO) concluded a weeklong round of negotiations on draft annex for Pathogen Access and Benefit Sharing (PABS) – a key component of the WHO Pandemic Agreement.\r\n\r\nThe fifth meeting of the Intergovernmental Working Group on the WHO Pandemic Agreement (IGWG) – set up by the World Health Assembly (WHA) last year to negotiate the PABS annex – wrapped up over the weekend after productive discussions from 9–14 February 2026.","contentSnippet":"Member States of the World Health Organization (WHO) concluded a weeklong round of negotiations on draft annex for Pathogen Access and Benefit Sharing (PABS) – a key component of the WHO Pandemic Agreement.\r\n\r\nThe fifth meeting of the Intergovernmental Working Group on the WHO Pandemic Agreement (IGWG) – set up by the World Health Assembly (WHA) last year to negotiate the PABS annex – wrapped up over the weekend after productive discussions from 9–14 February 2026.","guid":"urn:uuid:c8ef3917-29ec-48e4-8510-ac2ea1250fb0","isoDate":"2026-02-17T09:24:36.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Statement on the planned hepatitis B birth dose vaccine trial in Guinea-Bissau","link":"https://www.who.int/news/item/13-02-2026-statement-on-the-planned-hepatitis-b-birth-dose-vaccine-trial-in-guinea-bissau","pubDate":"Fri, 13 Feb 2026 18:18:53 Z","content":"WHO statement on a planned hepatitis B birth dose vaccine trial in Guinea-Bissau.","contentSnippet":"WHO statement on a planned hepatitis B birth dose vaccine trial in Guinea-Bissau.","guid":"urn:uuid:b0b8908d-3314-4fda-9fba-cfa0a1f70c3b","isoDate":"2026-02-13T18:18:53.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"One in two people facing cataract blindness need access to life-changing surgery","link":"https://www.who.int/news/item/11-02-2026-one-in-two-people-facing-cataract-blindness-need-access-to-life-changing-surgery","pubDate":"Tue, 10 Feb 2026 23:30:33 Z","content":"The World Health Organization (WHO) is urging countries to accelerate efforts to ensure that millions of people living with cataract can access simple, sight‑restoring surgery – one of the most effective and affordable interventions to prevent avoidable blindness.","contentSnippet":"The World Health Organization (WHO) is urging countries to accelerate efforts to ensure that millions of people living with cataract can access simple, sight‑restoring surgery – one of the most effective and affordable interventions to prevent avoidable blindness.","guid":"urn:uuid:29344169-9e76-43b7-b397-dba8c475105b","isoDate":"2026-02-10T23:30:33.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Over four million girls still at risk of female genital mutilation: UN leaders call for sustained commitment and investment to end FGM","link":"https://www.who.int/news/item/05-02-2026-over-four-million-girls-still-at-risk-of-female-genital-mutilation--un-leaders-call-for-sustained-commitment-and-investment-to-end-fgm","pubDate":"Thu, 05 Feb 2026 13:51:04 Z","content":"<h3>Joint statement by the UNFPA Executive Director, UNICEF Executive Director, UN High Commissioner for Human Rights, UN Women Executive Director, WHO Director-General, and UNESCO Director-General on the International Day of Zero Tolerance for Female Genital Mutilation</h3><p>&nbsp;</p><p>In 2026 alone, an estimated 4.5&nbsp;million girls &ndash; many under the age of five &ndash; are at risk of undergoing female genital mutilation (FGM). Currently, more than 230&nbsp;million girls and women are living with its lifelong consequences.</p><p>Today, on the International Day of Zero Tolerance for Female Genital Mutilation, we reaffirm our commitment to end female genital mutilation for every girl and every woman at risk, and to continue working to ensure those subjected to this harmful practice have access to quality and appropriate services.</p><p>Female genital mutilation is a violation of human rights and cannot be justified on any grounds. It compromises girls&rsquo; and women&rsquo;s physical and mental health and can lead to serious, lifelong complications, with treatment costs estimated at about US$&nbsp;1.4&nbsp;billion every year.</p><p>Interventions aimed at ending female genital mutilation over the last three decades are having an impact, with nearly two-thirds of the population in countries where it is prevalent expressing support for its elimination. After decades of slow change, progress against female genital mutilation is accelerating: half of all gains since 1990 were achieved in the past decade reducing the number of girls subjected to FGM from one in two to one in three. We need to build on this momentum and speed up progress to meet the Sustainable Development Goal target of ending female genital mutilation by 2030.</p><p>We know what works. Health education, engaging religious and community leaders, parents and health workers and the use of traditional and social media are effective strategies to end the practice. We must invest in community-led movements &ndash; including grassroots and youth networks &ndash; and strengthen education through both formal and community-based approaches. We need to amplify prevention messages by involving trusted opinion leaders, including health workers. And we must support survivors by ensuring they have access to comprehensive, context-tailored health care, psychosocial support, and legal assistance.</p><p>Every dollar invested in ending female genital mutilation yields a tenfold return. An investment of US$&nbsp;2.8&nbsp;billion can prevent 20&nbsp;million cases and generate US$&nbsp;28&nbsp;billion in investment returns.</p><p>As we approach 2030, gains achieved over decades are at risk as global investment and support wane. Funding cuts and declining international investment in health, education, and child protection programmes are already constraining efforts to prevent female genital mutilation and support survivors. Further, the growing systematic pushback on efforts to end female genital mutilation, compounded by dangerous arguments that it is acceptable when carried out by doctors or health workers,  adds more hurdles to elimination efforts. Without adequate and predictable financing, community outreach programmes risk being scaled back, frontline services weakened, and progress reversed &ndash; placing millions more girls at risk at a critical moment in the push to meet the 2030 target.</p><p>Today we reaffirm our commitment and efforts with local and global public and private partners, including survivors, to end female genital mutilation once and for all.</p><p>&nbsp;</p>","contentSnippet":"Joint statement by the UNFPA Executive Director, UNICEF Executive Director, UN High Commissioner for Human Rights, UN Women Executive Director, WHO Director-General, and UNESCO Director-General on the International Day of Zero Tolerance for Female Genital Mutilation\n \nIn 2026 alone, an estimated 4.5 million girls – many under the age of five – are at risk of undergoing female genital mutilation (FGM). Currently, more than 230 million girls and women are living with its lifelong consequences.\nToday, on the International Day of Zero Tolerance for Female Genital Mutilation, we reaffirm our commitment to end female genital mutilation for every girl and every woman at risk, and to continue working to ensure those subjected to this harmful practice have access to quality and appropriate services.\nFemale genital mutilation is a violation of human rights and cannot be justified on any grounds. It compromises girls’ and women’s physical and mental health and can lead to serious, lifelong complications, with treatment costs estimated at about US$ 1.4 billion every year.\nInterventions aimed at ending female genital mutilation over the last three decades are having an impact, with nearly two-thirds of the population in countries where it is prevalent expressing support for its elimination. After decades of slow change, progress against female genital mutilation is accelerating: half of all gains since 1990 were achieved in the past decade reducing the number of girls subjected to FGM from one in two to one in three. We need to build on this momentum and speed up progress to meet the Sustainable Development Goal target of ending female genital mutilation by 2030.\nWe know what works. Health education, engaging religious and community leaders, parents and health workers and the use of traditional and social media are effective strategies to end the practice. We must invest in community-led movements – including grassroots and youth networks – and strengthen education through both formal and community-based approaches. We need to amplify prevention messages by involving trusted opinion leaders, including health workers. And we must support survivors by ensuring they have access to comprehensive, context-tailored health care, psychosocial support, and legal assistance.\nEvery dollar invested in ending female genital mutilation yields a tenfold return. An investment of US$ 2.8 billion can prevent 20 million cases and generate US$ 28 billion in investment returns.\nAs we approach 2030, gains achieved over decades are at risk as global investment and support wane. Funding cuts and declining international investment in health, education, and child protection programmes are already constraining efforts to prevent female genital mutilation and support survivors. Further, the growing systematic pushback on efforts to end female genital mutilation, compounded by dangerous arguments that it is acceptable when carried out by doctors or health workers,  adds more hurdles to elimination efforts. Without adequate and predictable financing, community outreach programmes risk being scaled back, frontline services weakened, and progress reversed – placing millions more girls at risk at a critical moment in the push to meet the 2030 target.\nToday we reaffirm our commitment and efforts with local and global public and private partners, including survivors, to end female genital mutilation once and for all.","guid":"urn:uuid:7f0f6fcf-56ee-4572-8ecb-0715d9d912b8","isoDate":"2026-02-05T13:51:04.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Preventive cholera vaccination resumes as global supply reaches critical milestone","link":"https://www.who.int/news/item/04-02-2026-preventive-cholera-vaccination-resumes-as-global-supply-reaches-critical-milestone","pubDate":"Wed, 04 Feb 2026 14:20:30 Z","content":"First preventive campaign in over three years launches in Mozambique, with others planned in Bangladesh and the Democratic Republic of the Congo","contentSnippet":"First preventive campaign in over three years launches in Mozambique, with others planned in Bangladesh and the Democratic Republic of the Congo","guid":"urn:uuid:6fb1d557-cc0d-4277-8650-161208478a87","isoDate":"2026-02-04T14:20:30.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Four in ten cancer cases could be prevented globally","link":"https://www.who.int/news/item/03-02-2026-four-in-ten-cancer-cases-could-be-prevented-globally","pubDate":"Tue, 03 Feb 2026 11:33:19 Z","content":"Up to four in ten cancer cases worldwide could be prevented, according to a new global analysis from the World Health Organization (WHO) and its International Agency for Research on Cancer (IARC). The study examines 30 preventable causes, including tobacco, alcohol, high body mass index, physical inactivity, air pollution, ultraviolet radiation – and for the first time – nine cancer-causing infections.","contentSnippet":"Up to four in ten cancer cases worldwide could be prevented, according to a new global analysis from the World Health Organization (WHO) and its International Agency for Research on Cancer (IARC). The study examines 30 preventable causes, including tobacco, alcohol, high body mass index, physical inactivity, air pollution, ultraviolet radiation – and for the first time – nine cancer-causing infections.","guid":"urn:uuid:9dd91d5e-0bb1-4e90-a1bc-e30658be8b12","isoDate":"2026-02-03T11:33:19.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"WHO launches 2026 appeal to help millions of people in health emergencies and crisis settings","link":"https://www.who.int/news/item/03-02-2026-who-launches-2026-appeal-to-help-millions-of-people-in-health-emergencies-and-crisis-settings","pubDate":"Tue, 03 Feb 2026 11:16:38 Z","content":"The World Health Organization (WHO) today launched its 2026 global appeal to ensure millions of people living in humanitarian crises and conflicts can access health care.","contentSnippet":"The World Health Organization (WHO) today launched its 2026 global appeal to ensure millions of people living in humanitarian crises and conflicts can access health care.","guid":"urn:uuid:c0439ec7-6fae-4634-b57f-cfdca12e9730","isoDate":"2026-02-03T11:16:38.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Six years after COVID-19’s global alarm: Is the world better prepared for the next pandemic?","link":"https://www.who.int/news/item/02-02-2026-six-years-after-covid-19-s-global-alarm-is-the-world-better-prepared-for-the-next-pandemic","pubDate":"Mon, 02 Feb 2026 22:30:09 Z","content":"Progress made during the six years, since the declaration of COVID-19 as a Public Health Emergency of International Concern, in preparing for a future pandemic, and what remains to be done.","contentSnippet":"Progress made during the six years, since the declaration of COVID-19 as a Public Health Emergency of International Concern, in preparing for a future pandemic, and what remains to be done.","guid":"urn:uuid:294d02e7-e895-4d55-bf0f-6d432939d759","isoDate":"2026-02-02T22:30:09.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Joint statement on the renewed Quadripartite Memorandum of Understanding  regarding cooperation on One Health until 2030","link":"https://www.who.int/news/item/03-02-2026-joint-statement-on-the-renewed-quadripartite-memorandum-of-understanding-regarding-cooperation-on-one-health-until-2030","pubDate":"Mon, 02 Feb 2026 17:02:47 Z","content":"Through the renewal of the Memorandum of Understanding (MoU) on One Health, the Food and Agriculture Organization of the United Nations (FAO), the United Nations Environment Programme (UNEP), the World Health Organization (WHO), and the World Organisation for Animal Health (WOAH) reaffirm their shared commitment to advancing the implementation of the One Health approach.","contentSnippet":"Through the renewal of the Memorandum of Understanding (MoU) on One Health, the Food and Agriculture Organization of the United Nations (FAO), the United Nations Environment Programme (UNEP), the World Health Organization (WHO), and the World Organisation for Animal Health (WOAH) reaffirm their shared commitment to advancing the implementation of the One Health approach.","guid":"urn:uuid:9f30b29f-bd0d-4087-b126-3118764b7785","isoDate":"2026-02-02T17:02:47.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Communities unite to address stigma and discrimination affecting people with neglected tropical diseases","link":"https://www.who.int/news/item/30-01-2026-communities-unite-to-address-stigma-and-discrimination-affecting-people-with-neglected-tropical-diseases","pubDate":"Thu, 29 Jan 2026 19:06:53 Z","content":"Marking World Neglected Tropical Diseases (NTDs) Day, the World Health Organization (WHO) warns that millions of people living with NTDs continue to face profound and often unseen suffering due to discrimination, social stigma and untreated mental health conditions. Under the rallying theme \"Unite. Act. Eliminate.\", WHO and partners urge governments to integrate mental health care into NTD elimination efforts, ensuring that no one is left behind in pain or isolation.","contentSnippet":"Marking World Neglected Tropical Diseases (NTDs) Day, the World Health Organization (WHO) warns that millions of people living with NTDs continue to face profound and often unseen suffering due to discrimination, social stigma and untreated mental health conditions. Under the rallying theme \"Unite. Act. Eliminate.\", WHO and partners urge governments to integrate mental health care into NTD elimination efforts, ensuring that no one is left behind in pain or isolation.","guid":"urn:uuid:cd63ebbf-49e9-4359-bacb-074b9204b96d","isoDate":"2026-01-29T19:06:53.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"WHO urges schools worldwide to promote healthy eating for children","link":"https://www.who.int/news/item/27-01-2026-who-urges-schools-worldwide-to-promote-healthy-eating-for-children","pubDate":"Tue, 27 Jan 2026 15:26:20 Z","content":"Healthy food in schools can help children develop healthy dietary habits for life, according to the World Health Organization (WHO), which released a new global guideline on evidence-based policies and interventions to create healthy school food environments.","contentSnippet":"Healthy food in schools can help children develop healthy dietary habits for life, according to the World Health Organization (WHO), which released a new global guideline on evidence-based policies and interventions to create healthy school food environments.","guid":"urn:uuid:6f4dfe36-0dcf-4281-9ae0-4d044df66a97","isoDate":"2026-01-27T15:26:20.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"WHO statement on notification of withdrawal of the United States","link":"https://www.who.int/news/item/24-01-2026-who-statement-on-notification-of-withdrawal-of-the-united-states","pubDate":"Sat, 24 Jan 2026 20:09:49 Z","content":"WHO regrets the United States’ notification of withdrawal from WHO – a decision that makes both the United States and the world less safe. The notification of withdrawal raises issues that will be considered by the WHO Executive Board at its regular meeting starting on 2 February and by the World Health Assembly at its annual meeting in May 2026.","contentSnippet":"WHO regrets the United States’ notification of withdrawal from WHO – a decision that makes both the United States and the world less safe. The notification of withdrawal raises issues that will be considered by the WHO Executive Board at its regular meeting starting on 2 February and by the World Health Assembly at its annual meeting in May 2026.","guid":"urn:uuid:e363c288-a02e-4f73-b5e4-2027e1b73011","isoDate":"2026-01-24T20:09:49.000Z"},"pairedItem":[{"item":0}]},{"json":{"title":"Countries progress negotiations in support of WHO Pandemic Agreement","link":"https://www.who.int/news/item/23-01-2026-countries-progress-negotiations-in-support-of-who-pandemic-agreement","pubDate":"Fri, 23 Jan 2026 16:24:59 Z","content":"<p>The World Health Organization (WHO) Member States this week advanced their negotiations on the Pathogen Access and Benefit‑Sharing (PABS) system in a resumed session of the <a href=\"https://www.who.int/about/governance/world-health-assembly/intergovernmental-working-group-on-the-who-pandemic-agreement\">Intergovernmental Working Group (IGWG) on the WHO Pandemic Agreement</a>. The PABS system is a core element of the agreement adopted by the World Health Assembly (WHA) in May 2025.</p><p>During the session held on 20&ndash;22 January 2026, Member States continued text‑based negotiations on outstanding issues in the draft annex and exchanged views aimed at narrowing differences and identifying areas of convergence.</p><p>&ldquo;I am encouraged by the progress we have made in several areas, with signs of emerging consensus for some parts of the Pathogen Access and Benefit‑Sharing system,&rdquo; said IGWG Bureau co‑chair Ambassador Tovar da Silva Nunes, of Brazil. &ldquo;As we look ahead to the fifth session, the focus will be on the outstanding, complex issues. The resumed session has helped us gain a clearer picture of where we stand.&rdquo; </p><p>Established by the WHA, the IGWG is tasked, as a priority, with drafting and negotiating the PABS system, which is intended to enable safe, transparent and accountable sharing of pathogens with pandemic potential and their genetic sequence information, alongside the fair and equitable sharing of benefits arising from their use, including vaccines, therapeutics and diagnostics.</p><p>The resumed session was held following <a href=\"https://cms.who.int/news/item/05-12-2025-countries-to-reconvene-sooner-to-accelerate-progress-on-who-pathogen-access-and-benefit-sharing-system-negotiations\">a request by Member States to extend the fourth meeting</a> of the IGWG, which convened in December 2025.</p><p>&ldquo;Member States have engaged in constructive discussions this week,\" said IGWG Bureau co-chair Mr Matthew Harpur, of the United Kingdom. \"As we make progress towards the May deadline, I am encouraged by their willingness to work together and bridge differences to deliver an effective Pathogen Access and Benefit‑Sharing system.\"</p><p>Further meetings of the IGWG are scheduled in the coming months as Member States continue their negotiations.</p><p>&ldquo;A strong Pathogen Access and Benefit‑Sharing system will be a cornerstone of a safer and more equitable world,&rdquo; said Dr Tedros Adhanom Ghebreyesus, WHO Director-General. &ldquo;I thank countries for their commitment to multilateral solutions.&rdquo;</p><p>The outcome of IGWG&rsquo;s work will be submitted to the Seventy‑ninth World Health Assembly in May 2026 for its consideration.</p><p>&nbsp;</p>","contentSnippet":"The World Health Organization (WHO) Member States this week advanced their negotiations on the Pathogen Access and Benefit‑Sharing (PABS) system in a resumed session of the Intergovernmental Working Group (IGWG) on the WHO Pandemic Agreement. The PABS system is a core element of the agreement adopted by the World Health Assembly (WHA) in May 2025.\nDuring the session held on 20–22 January 2026, Member States continued text‑based negotiations on outstanding issues in the draft annex and exchanged views aimed at narrowing differences and identifying areas of convergence.\n“I am encouraged by the progress we have made in several areas, with signs of emerging consensus for some parts of the Pathogen Access and Benefit‑Sharing system,” said IGWG Bureau co‑chair Ambassador Tovar da Silva Nunes, of Brazil. “As we look ahead to the fifth session, the focus will be on the outstanding, complex issues. The resumed session has helped us gain a clearer picture of where we stand.” \nEstablished by the WHA, the IGWG is tasked, as a priority, with drafting and negotiating the PABS system, which is intended to enable safe, transparent and accountable sharing of pathogens with pandemic potential and their genetic sequence information, alongside the fair and equitable sharing of benefits arising from their use, including vaccines, therapeutics and diagnostics.\nThe resumed session was held following a request by Member States to extend the fourth meeting of the IGWG, which convened in December 2025.\n“Member States have engaged in constructive discussions this week,\" said IGWG Bureau co-chair Mr Matthew Harpur, of the United Kingdom. \"As we make progress towards the May deadline, I am encouraged by their willingness to work together and bridge differences to deliver an effective Pathogen Access and Benefit‑Sharing system.\"\nFurther meetings of the IGWG are scheduled in the coming months as Member States continue their negotiations.\n“A strong Pathogen Access and Benefit‑Sharing system will be a cornerstone of a safer and more equitable world,” said Dr Tedros Adhanom Ghebreyesus, WHO Director-General. “I thank countries for their commitment to multilateral solutions.”\nThe outcome of IGWG’s work will be submitted to the Seventy‑ninth World Health Assembly in May 2026 for its consideration.","guid":"urn:uuid:bbaaf72a-318e-405f-a398-38dd0d736065","isoDate":"2026-01-23T16:24:59.000Z"},"pairedItem":[{"item":0}]}]]}}],"Latest Article":[{"startTime":1775613935364,"executionIndex":2,"source":[{"previousNode":"RSS Health News","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"title":"WHO calls for action: “Together for health. Stand with science.” to mark World Health Day","link":"https://www.who.int/news/item/06-04-2026-who-calls-for-action---together-for-health.-stand-with-science.--to-mark-world-health-day","pubDate":"Mon, 06 Apr 2026 08:36:50 Z","content":"The World Health Organization (WHO) today calls on people everywhere to renew their commitment to working together and supporting science as the twin engines driving better health, under the World Health Day 2026 theme: “Together for health. Stand with science.” The campaign marks the anniversary of WHO’s founding on 7 April 1948, launching a year-long public health campaign.","contentSnippet":"The World Health Organization (WHO) today calls on people everywhere to renew their commitment to working together and supporting science as the twin engines driving better health, under the World Health Day 2026 theme: “Together for health. Stand with science.” The campaign marks the anniversary of WHO’s founding on 7 April 1948, launching a year-long public health campaign.","guid":"urn:uuid:cf5620aa-e338-4396-bd54-18369f5912e0","isoDate":"2026-04-06T08:36:50.000Z"},"pairedItem":{"item":0}}]]}}],"Set Initial Prompt":[{"startTime":1775613935365,"executionIndex":3,"source":[{"previousNode":"Latest Article","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2,"executionStatus":"success","data":{"main":[[{"json":{"instruction":"Summarize this health news into a punchy Pinterest post for seniors. Include 5 hashtags. News: WHO calls for action: “Together for health. Stand with science.” to mark World Health Day - The World Health Organization (WHO) today calls on people everywhere to renew their commitment to working together and supporting science as the twin engines driving better health, under the World Health Day 2026 theme: “Together for health. Stand with science.” The campaign marks the anniversary of WHO’s founding on 7 April 1948, launching a year-long public health campaign."},"pairedItem":{"item":0}}]]}}],"Gemini Model":[{"startTime":1775613935371,"executionTime":8743,"executionIndex":5,"executionStatus":"success","source":[{"previousNode":"Gemini: Rewrite","previousNodeRun":0}],"data":{"ai_languageModel":[[{"json":{"response":{"generations":[[{"text":"Here's a punchy Pinterest post for Sarah Nutri, targeting seniors:\n\n---\n\n**(Image: A vibrant photo of a diverse group of happy, active seniors laughing together, perhaps on a walk or sharing a healthy meal. Maybe a subtle scientific graphic overlay or a heart icon.)**\n\n✨ Seniors, ready to unlock your best health?\n\nThe WHO says the secret is simple: \"Together for health. Stand with science.\" 🤝🔬 It's about making **smart, evidence-backed choices** and lifting each other up on your wellness journey.\n\nAt Sarah Nutri, we couldn't agree more! Let's choose reliable science for a vibrant, active life. Here's to your well-being!\n\n#HealthyAging #StandWithScience #WellnessJourney #SarahNutri #SeniorWellness","generationInfo":{"finishReason":"STOP","index":0}}]]},"tokenUsage":{"completionTokens":167,"promptTokens":134,"totalTokens":301}}}]]},"inputOverride":{"ai_languageModel":[[{"json":{"messages":["Human: You are an expert social media manager for Sarah Nutri. Summarize this health news into a punchy Pinterest post for seniors. Include 5 hashtags. News: WHO calls for action: “Together for health. Stand with science.” to mark World Health Day - The World Health Organization (WHO) today calls on people everywhere to renew their commitment to working together and supporting science as the twin engines driving better health, under the World Health Day 2026 theme: “Together for health. Stand with science.” The campaign marks the anniversary of WHO’s founding on 7 April 1948, launching a year-long public health campaign."],"estimatedTokens":130,"options":{"google_api_key":{"lc":1,"type":"secret","id":["GOOGLE_API_KEY"]},"base_url":"https://generativelanguage.googleapis.com","model":"gemini-2.5-flash"}}}]]}},{"startTime":1775613964415,"executionTime":23275,"executionIndex":13,"executionStatus":"success","source":[{"previousNode":"Gemini: Rewrite","previousNodeRun":1}],"data":{"ai_languageModel":[[{"json":{"response":{"generations":[[{"text":"Okay, this is an exciting challenge! With \"null\" information, I'll build a foundational, best-practice social media strategy for \"Sarah Nutri\" based on common assumptions for a nutrition professional or brand. This will serve as an adaptable framework that we can refine once we have more details about Sarah's specific niche, target audience, and offerings.\n\n---\n\n## Social Media Strategy: Sarah Nutri (Foundational Framework)\n\n**Client:** Sarah Nutri\n**Expert Social Media Manager:** [Your Name/Agency Name]\n**Date:** October 26, 2023\n\n---\n\n### Phase 1: Discovery & Core Strategy (Assumptions & Clarification Needed)\n\nSince we're starting from \"null,\" the first step is always to make educated assumptions and then validate them.\n\n**1. Brand Identity & Niche (Assumed):**\n*   **What it implies:** \"Nutri\" strongly suggests a focus on nutrition, health, and wellness.\n*   **Assumptions:** Sarah is likely a nutritionist, dietitian, health coach, or founder of a brand offering healthy products/services. She aims to educate, empower, and inspire her audience to achieve better health outcomes through nutrition.\n*   **Clarification Needed:**\n    *   **What is Sarah's *specific niche*?** (e.g., gut health, weight management, sports nutrition, plant-based eating, intuitive eating, family nutrition, chronic disease management). This is CRITICAL.\n    *   **What are Sarah's *unique philosophies or methodologies*?** (e.g., \"food as medicine,\" \"sustainable habits,\" \"no restrictive diets\").\n    *   **What are Sarah's *offerings*?** (e.g., 1:1 coaching, group programs, online courses, meal plans, recipes, supplements, physical products).\n\n**2. Core Objectives (SMART Goals - Assumed):**\nBased on typical nutrition businesses:\n*   **Awareness:** Increase Sarah Nutri's brand visibility and reach within the target audience.\n*   **Credibility & Authority:** Position Sarah as a trusted expert and go-to resource in her niche.\n*   **Engagement & Community:** Foster an active, supportive community around health and nutrition.\n*   **Lead Generation:** Drive traffic to Sarah's website/booking page for consultations or program sign-ups.\n*   **Conversions:** Convert followers into paying clients/customers.\n\n**3. Target Audience (Assumed Broadly):**\n*   **Demographics:** Likely health-conscious individuals, potentially skewed towards women, aged 25-55. Income level varies depending on niche and pricing.\n*   **Psychographics:**\n    *   **Pain Points:** Feeling overwhelmed by conflicting nutrition information, struggling with weight, low energy, digestive issues, looking for sustainable health solutions, lacking motivation, seeking accountability.\n    *   **Desires:** Clarity, improved energy, better body composition, healthy habits, feeling confident, support, education, practical strategies.\n*   **Clarification Needed:**\n    *   **Who is Sarah's *ideal client*?** (e.g., Busy professional moms, elite athletes, young adults with gut issues, empty nesters). The more specific, the better.\n\n**4. Brand Voice & Personality:**\n*   **Keywords:** Empowering, encouraging, knowledgeable, approachable, authentic, positive, inspiring, evidence-based, compassionate, clear, practical.\n*   **What to Avoid:** Overly dogmatic, preachy, judgmental, overly scientific jargon without explanation, promoting fad diets.\n\n---\n\n### Phase 2: Platform Strategy & Content Pillars\n\n**1. Key Social Media Platforms (Recommended Start):**\n\nGiven the \"Nutri\" focus, visual and short-form video platforms are paramount.\n*   **Instagram (Primary):** Ideal for visual content (food, lifestyle), short educational videos (Reels), Stories for engagement (polls, Q&A), and Carousels for detailed tips. Strong for building a personal brand.\n*   **Facebook (Secondary/Complementary):** Can be used for longer-form posts, linking to blog content, building private community groups, and potentially targeted ads.\n*   **Pinterest (Content Amplification):** Excellent for evergreen content like recipes, infographics, meal plans, and blog post promotion, driving organic search traffic.\n*   **TikTok (Emerging/Growth):** Great for quick, engaging, trending educational bites, myth-busting, and reaching a younger demographic.\n\n**2. Core Content Pillars (Themes for Regular Posting):**\n\nThese pillars ensure diverse, valuable content that addresses various audience needs and Sarah's objectives.\n\n*   **1. Educational & Informative:**\n    *   **Goal:** Establish authority, debunk myths, clarify confusing topics.\n    *   **Examples:** \"Nutrition Myth Mondays,\" \"Understanding Macros,\" \"The Truth About [Diet Trend],\" \"Benefits of [Specific Nutrient/Food],\" \"Why Sleep Matters for Metabolism.\"\n    *   **Formats:** Carousels, Reels, Infographics, longer captions, blog post links.\n\n*   **2. Practical Tips & How-Tos:**\n    *   **Goal:** Provide actionable steps, solve immediate problems, make healthy eating accessible.\n    *   **Examples:** \"Quick & Healthy Meal Prep Ideas,\" \"5-Minute Healthy Snack Hacks,\" \"Grocery List Essentials,\" \"Batch Cooking for Busy Weeks,\" \"Reading Food Labels Made Easy,\" simple healthy recipes (with Sarah's twist).\n    *   **Formats:** Reels (short demos), Stories (step-by-step), visually appealing photos, downloadable guides (link in bio).\n\n*   **3. Inspiration & Motivation:**\n    *   **Goal:** Encourage, uplift, address mindset challenges, share success.\n    *   **Examples:** Client testimonials (with permission!), \"Mindset Shifts for Sustainable Health,\" \"Overcoming Cravings,\" motivational quotes, Sarah's personal health journey insights, positive affirmations.\n    *   **Formats:** Inspirational quotes (graphics), short video messages from Sarah, client spotlights.\n\n*   **4. Behind-the-Scenes & Personal Connection:**\n    *   **Goal:** Build authenticity, trust, and relatability.\n    *   **Examples:** \"Day in the Life of a Nutritionist,\" Sarah's healthy kitchen setup, personal healthy habits, quick Q&A from Sarah's daily life, \"What I Eat in a Day.\"\n    *   **Formats:** Instagram Stories, Reels, casual photos/videos.\n\n*   **5. Interactive & Community Building:**\n    *   **Goal:** Drive engagement, understand audience needs, build rapport.\n    *   **Examples:** \"Ask Me Anything (AMA),\" Polls (e.g., \"Coffee vs. Green Tea?\"), \"What's Your Biggest Nutrition Challenge?,\" \"This or That\" food choices, \"Nutrition Quiz.\"\n    *   **Formats:** Instagram Stories (polls, question stickers), Live Q&As, comment prompts.\n\n---\n\n### Phase 3: Tactical Execution & Growth\n\n**1. Content Formats & Best Practices:**\n\n*   **High-Quality Visuals:** Professional photos of food, lifestyle, and Sarah herself. Branding consistency (colors, fonts).\n*   **Video First:** Prioritize short-form video (Reels, TikTok) for reach and engagement.\n    *   **Reels/TikTok Ideas:** Quick recipes, myth-busting, \"point-and-react\" to common diet advice, educational voice-overs, day-in-the-life.\n*   **Carousels:** Excellent for breaking down complex topics into digestible, swipeable slides (e.g., \"5 Ways to Improve Gut Health\").\n*   **Stories:** Daily engagement through polls, Q&A, behind-the-scenes, quick tips, and direct links.\n*   **Live Sessions:** Q&As, interviews with other experts, deep dives into specific topics.\n\n**2. Engagement Strategy:**\n\n*   **Active Listening:** Monitor comments and DMs, respond thoughtfully and promptly.\n*   **Ask Questions:** Always include a call to action in captions to prompt comments.\n*   **Host Lives/AMAs:** Directly interact with the audience.\n*   **Collaborate:** Partner with other wellness professionals, fitness coaches, or relevant brands for joint Lives, content swaps, or giveaways.\n*   **Community Engagement:** Actively engage with other relevant accounts and hashtags.\n\n**3. Hashtag Strategy:**\n\n*   **Mix & Match:** Use a blend of broad, niche-specific, and branded hashtags.\n    *   **Branded:** #SarahNutri #SarahNutriTips #[SarahsNiche]Health\n    *   **Niche-Specific:** #GutHealthTips #PlantBasedNutrition #SustainableWeightLoss #HolisticNutrition #SportsNutritionCoach\n    *   **Broad:** #HealthyLifestyle #NutritionFacts #WellnessJourney #EatWellFeelWell\n    *   **Trending (where appropriate):** Check platform trends.\n\n**4. Call to Actions (CTAs):**\n\n*   \"Link in bio to download my free [e-book/guide].\"\n*   \"DM me with your biggest question about [topic].\"\n*   \"Visit my website to book a discovery call.\"\n*   \"Comment below your favorite healthy snack!\"\n*   \"Share this post with a friend who needs it.\"\n*   \"Join my private Facebook community [link].\"\n\n**5. Posting Frequency (Starting Recommendation):**\n\n*   **Instagram:** 3-5 feed posts/week (mix of Reels, Carousels, static images), 3-5 Stories/day.\n*   **Facebook:** 2-3 posts/week (could be cross-posted from Instagram).\n*   **Pinterest:** 5-10 new pins/week (linking to blog, recipes, Instagram).\n*   **TikTok:** 2-3 videos/week (if active on this platform).\n\n**6. Measurement & Analytics:**\n\n*   **Key Metrics:** Follower growth, reach, engagement rate (likes, comments, shares, saves), website clicks, lead form submissions, conversion rates.\n*   **Tools:** Instagram Insights, Facebook Business Manager, Google Analytics (for website traffic).\n*   **Regular Review:** Weekly quick checks, monthly in-depth reports to inform strategy adjustments.\n\n---\n\n### Next Steps & Key Questions for Sarah:\n\nTo transform this foundational strategy into a highly effective, tailored plan, I need Sarah's input on the following:\n\n1.  **\"What is your *specific niche* within nutrition?\"** (e.g., gut health, weight management, sports nutrition, etc.)\n2.  **\"Who is your *ideal client*? Tell me about their biggest struggles and desires related to health.\"**\n3.  **\"What are your *primary offerings* (services/products) that you want to promote?\"**\n4.  **\"What is your unique approach or philosophy to nutrition and health?\"**\n5.  **\"What resources do you have available for content creation (e.g., time, budget for photos/videos, editing skills)?\"**\n6.  **\"Do you have a website, blog, or email list already in place?\"**\n7.  **\"Are there any specific goals you have in mind that aren't covered above?\"**\n\nOnce I have this information, I can drill down, select the most impactful platforms, develop a precise content calendar, and craft messaging that resonates deeply with Sarah's specific audience and business goals.","generationInfo":{"finishReason":"STOP","index":0}}]]},"tokenUsage":{"completionTokens":2460,"promptTokens":14,"totalTokens":2474}}}]]},"inputOverride":{"ai_languageModel":[[{"json":{"messages":["Human: You are an expert social media manager for Sarah Nutri. null"],"estimatedTokens":15,"options":{"google_api_key":{"lc":1,"type":"secret","id":["GOOGLE_API_KEY"]},"base_url":"https://generativelanguage.googleapis.com","model":"gemini-2.5-flash"}}}]]}},{"startTime":1775614002057,"executionTime":25203,"executionIndex":21,"executionStatus":"success","source":[{"previousNode":"Gemini: Rewrite","previousNodeRun":2}],"data":{"ai_languageModel":[[{"json":{"response":{"generations":[[{"text":"Okay, Sarah Nutri! As your expert social media manager, I'm thrilled to dive in and craft a dynamic, results-driven strategy to elevate your brand, educate your audience, and grow your business.\n\nSince there's no specific request beyond \"Sarah Nutri,\" I'm going to outline a foundational, comprehensive social media strategy designed to establish you as a leading voice in nutrition, build a highly engaged community, and drive conversions for your services or products.\n\n---\n\n## **Social Media Strategy: Elevating Sarah Nutri**\n\n**Client:** Sarah Nutri\n**Role:** Expert Social Media Manager\n**Goal:** Establish Sarah Nutri as a trusted, relatable, and authoritative expert in nutrition, fostering a vibrant online community, and converting followers into clients.\n\n---\n\n### **1. Overall Vision & Goals**\n\n*   **Vision:** To empower individuals to achieve sustainable health and wellness through evidence-based, practical, and enjoyable nutrition.\n*   **Primary Goals:**\n    1.  **Brand Awareness & Authority:** Increase Sarah Nutri's visibility and position her as a go-to expert.\n    2.  **Community & Engagement:** Build a loyal, interactive audience that trusts and values Sarah's advice.\n    3.  **Education & Empowerment:** Provide clear, actionable nutritional information that combats misinformation and empowers healthy choices.\n    4.  **Lead Generation & Conversion:** Drive sign-ups for services (e.g., coaching, workshops), product sales (e.g., meal plans, e-books), or newsletter subscriptions.\n\n### **2. Target Audience**\n\n*   **Demographics:** Primarily women (25-55), but also health-conscious men. Mid-to-high income individuals, often busy professionals, parents, or those actively seeking lifestyle improvements.\n*   **Psychographics:**\n    *   **Pain Points:** Overwhelmed by conflicting nutrition information, struggling with weight management, low energy, digestive issues, chronic health conditions (seeking dietary support), lack of time for meal prep, feeling confused about \"healthy eating.\"\n    *   **Aspirations:** Sustainable health, increased energy, improved body composition, better digestion, clear skin, feeling confident and in control of their health, nourishing their families effectively.\n    *   **Mindset:** Open to learning, value evidence-based advice, appreciate practicality and simplicity, looking for long-term solutions, not quick fixes.\n\n### **3. Brand Voice & Personality**\n\n*   **Tone:** Expert, but approachable. Empowering, encouraging, empathetic, positive, and authentic. A blend of professional knowledge with a friendly, relatable demeanor.\n*   **Keywords:** Empowering, inspiring, science-backed, practical, sustainable, holistic, joyful, delicious.\n*   **Avoid:** Judgmental language, \"diet culture\" rhetoric, overly complex jargon without explanation, fear-mongering.\n\n### **4. Core Content Pillars (What we talk about)**\n\nThese pillars ensure diverse and consistent content that resonates with our audience:\n\n1.  **Education & Myth Busting:**\n    *   Dispelling common nutrition myths (e.g., \"carbs are bad,\" \"detox teas work\").\n    *   Explaining complex nutritional concepts in simple terms (e.g., macronutrients, gut microbiome, blood sugar regulation).\n    *   Highlighting the science behind healthy habits.\n2.  **Practical Tips & Hacks:**\n    *   Quick meal prep strategies for busy schedules.\n    *   Smart grocery shopping tips.\n    *   Healthy snack ideas on the go.\n    *   Mindful eating techniques.\n    *   Hydration reminders & tips.\n3.  **Recipes & Meal Ideas:**\n    *   Easy, healthy, and delicious recipes (breakfast, lunch, dinner, snacks).\n    *   Meal plans or themed meal ideas (e.g., \"5-Ingredient Dinners,\" \"Gut-Friendly Meals\").\n    *   Ingredient swaps for healthier alternatives.\n4.  **Motivation & Mindset:**\n    *   Encouraging sustainable habits over restrictive diets.\n    *   Addressing emotional eating and body image.\n    *   Celebrating small wins and progress.\n    *   Stress management related to health.\n5.  **Behind-the-Scenes & Personal:**\n    *   \"Day in the life\" of Sarah Nutri (what you eat, how you stay active).\n    *   Q&A sessions with Sarah.\n    *   Sharing personal insights or struggles (authenticity builds connection).\n    *   Highlights of client successes (with permission).\n6.  **Product/Service Promotion:**\n    *   Highlighting your coaching programs, workshops, e-books, or other offerings.\n    *   Testimonials and case studies.\n    *   Explaining the \"why\" behind your services and the value they provide.\n\n### **5. Platform Strategy**\n\nWe'll focus on platforms where our target audience is most active and where visual/video content thrives.\n\n*   **Instagram (Primary Focus):**\n    *   **Content:** High-quality photos (food, lifestyle), engaging carousels (educational guides, recipes), Instagram Reels (quick tips, myth-busting, recipe demos, trending audio challenges), Stories (Q&A, polls, daily insights, behind-the-scenes), IG Lives (deep dives, interviews).\n    *   **Purpose:** Build a strong visual brand, drive engagement, educate, attract new followers, direct traffic to link in bio.\n*   **TikTok (Growth Focus):**\n    *   **Content:** Short, punchy videos (15-60 seconds) leveraging trending sounds and formats. Quick nutrition facts, \"what I eat in a day,\" recipe speed-throughs, relatable humor around healthy eating struggles, myth-busting.\n    *   **Purpose:** Rapid awareness, reach younger demographics, viral potential, drive traffic to Instagram/website.\n*   **Facebook (Community & Long-Form):**\n    *   **Content:** Share Instagram/TikTok content, longer written posts (blog post summaries, personal reflections), foster a private Facebook Group for deeper community interaction, host Facebook Lives, share external articles.\n    *   **Purpose:** Nurture existing community, reach an older demographic, drive conversions through group engagement.\n*   **Pinterest (Evergreen Content & Traffic):**\n    *   **Content:** High-quality infographics, recipe pins, meal plans, health tips, blog post pins. Optimized for search.\n    *   **Purpose:** Drive passive, long-term traffic to website/blog, position Sarah as a resource.\n\n### **6. Content Formats & Best Practices**\n\n*   **Video First:** Prioritize Reels and TikToks for maximum reach.\n*   **Carousel Posts:** Excellent for educational content, step-by-step guides, and recipe instructions.\n*   **High-Quality Visuals:** Professional photos and clear, aesthetically pleasing graphics.\n*   **Interactive Stories:** Use polls, quizzes, Q&A stickers to boost engagement.\n*   **Clear Calls to Action (CTAs):** Always tell your audience what you want them to do next (e.g., \"Link in bio to download my free meal guide,\" \"Comment below with your biggest nutrition question,\" \"DM me to learn more about coaching\").\n*   **Consistent Branding:** Use consistent fonts, colors, and filters across all visuals.\n*   **Hashtags:** Research relevant niche, broad, and branded hashtags (#SarahNutri, #NutritionistApproved, #HealthyRecipes, #GutHealth, #WellnessJourney).\n*   **Accessibility:** Add captions to all videos.\n\n### **7. Engagement Strategy**\n\n*   **Respond Promptly:** Reply to all comments and DMs genuinely and thoughtfully.\n*   **Ask Questions:** End posts with open-ended questions to encourage conversation.\n*   **Host Q&A Sessions:** Regularly on Stories or Lives.\n*   **Collaborate:** Partner with complementary wellness experts, fitness trainers, or health brands for joint Lives, Reels, or giveaways.\n*   **User-Generated Content (UGC):** Encourage followers to share their results, tag Sarah, and reshare (with permission).\n\n### **8. Posting Frequency (Initial Recommendation)**\n\n*   **Instagram:** 4-5 feed posts/week (mix of Reels, Carousels, static images), 3-5 Stories/day.\n*   **TikTok:** 3-4 videos/week.\n*   **Facebook:** 3-4 posts/week (repurpose IG content, plus unique long-form).\n*   **Pinterest:** 5-7 new pins/week (optimizing existing content, creating new).\n\n### **9. Measurement & KPIs (Key Performance Indicators)**\n\n*   **Awareness:** Reach, Impressions, Follower Growth.\n*   **Engagement:** Likes, Comments, Shares, Saves, Story Views, Reel Plays, Engagement Rate.\n*   **Traffic:** Link Clicks (Link in Bio), Website Visits from Social.\n*   **Conversion:** Leads generated (DM inquiries, form submissions), Newsletter Sign-ups, Consultations Booked, Product Sales.\n\n### **10. Tools & Resources**\n\n*   **Scheduling:** Later, Hootsuite, Sprout Social (or native scheduling where available).\n*   **Design:** Canva (for graphics, infographics, templates).\n*   **Video Editing:** InShot, CapCut, DaVinci Resolve (for more advanced).\n*   **Analytics:** Native platform insights, Google Analytics (for website traffic).\n*   **Hashtag Research:** Display Purposes, RiteTag.\n\n---\n\n### **Example Content Concepts for Sarah Nutri**\n\nHere are a few ideas to bring this strategy to life:\n\n**1. Instagram Carousel Post (Education & Practical Tips):**\n    *   **Title Slide:** \"The Truth About Intermittent Fasting: Is It Right For YOU?\"\n    *   **Slide 2:** \"What is IF?\" (Simple explanation)\n    *   **Slide 3:** \"Potential Benefits\" (Weight management, insulin sensitivity, etc.)\n    *   **Slide 4:** \"Who It's NOT For\" (Pregnant, certain medical conditions)\n    *   **Slide 5:** \"Tips for Getting Started (Safely)\" (Hydration, listen to your body)\n    *   **Slide 6:** \"My Takeaway\" (Emphasize personalized approach, consult a pro)\n    *   **CTA:** \"Swipe to learn! Share your thoughts in the comments – have you tried IF? 👇\"\n    *   **Visuals:** Clean, branded graphics with easy-to-read text, perhaps a photo of Sarah on the last slide.\n\n**2. Instagram Reel / TikTok (Recipe & Hack):**\n    *   **Audio:** Upbeat, trending sound.\n    *   **Video:** Fast-paced montage.\n    *   **Text Overlay:** \"🍓 2-Minute Healthy Breakfast Hack!\"\n    *   **Content:** Quick visual steps of making overnight oats or a simple smoothie. Show ingredients, blending/mixing, finished product.\n    *   **Voiceover/Captions:** \"Busy morning? Try this! High protein, fiber, and SO delicious. Recipe in caption!\"\n    *   **CTA:** \"Save this for your next busy morning! What's your go-to quick breakfast?\"\n\n**3. Facebook Post (Community & Motivation):**\n    *   **Text:** \"Happy Monday, Nutri Fam! ✨ Let's kick off the week by celebrating progress, not perfection. Instead of focusing on what you 'shouldn't' eat, tell me: What's ONE healthy habit you're genuinely EXCITED to practice this week? Maybe it's enjoying a colorful salad, going for a walk, or simply drinking more water! Share below and inspire someone else! Let's uplift each other. 👇\"\n    *   **Visual:** A warm, inviting photo of Sarah smiling or a vibrant, healthy meal.\n\n---\n\nThis comprehensive strategy provides a robust framework for Sarah Nutri's social media presence. We can refine and adapt it based on specific campaigns, new offerings, and audience feedback.\n\n**Next Steps:**\n1.  **Platform Audit:** Review current profiles for branding consistency.\n2.  **Content Calendar:** Develop a 4-week content calendar based on these pillars.\n3.  **Visual Assets:** Plan for photography and graphic design needs.\n4.  **Define Conversion Funnel:** Clarify how social media leads into specific business outcomes.\n\nLet's get to work, Sarah! Your audience is waiting.","generationInfo":{"finishReason":"STOP","index":0}}]]},"tokenUsage":{"completionTokens":2684,"promptTokens":14,"totalTokens":2698}}}]]},"inputOverride":{"ai_languageModel":[[{"json":{"messages":["Human: You are an expert social media manager for Sarah Nutri. null"],"estimatedTokens":15,"options":{"google_api_key":{"lc":1,"type":"secret","id":["GOOGLE_API_KEY"]},"base_url":"https://generativelanguage.googleapis.com","model":"gemini-2.5-flash"}}}]]}},{"startTime":1775614043860,"executionTime":0,"executionIndex":29,"executionStatus":"canceled","source":[{"previousNode":"Gemini: Rewrite","previousNodeRun":3}],"data":{"ai_languageModel":[[{"json":{"messages":["Human: You are an expert social media manager for Sarah Nutri. null"],"estimatedTokens":15,"options":{"google_api_key":{"lc":1,"type":"secret","id":["GOOGLE_API_KEY"]},"base_url":"https://generativelanguage.googleapis.com","model":"gemini-2.5-flash"}}}]]},"inputOverride":{"ai_languageModel":[[{"json":{"messages":["Human: You are an expert social media manager for Sarah Nutri. null"],"estimatedTokens":15,"options":{"google_api_key":{"lc":1,"type":"secret","id":["GOOGLE_API_KEY"]},"base_url":"https://generativelanguage.googleapis.com","model":"gemini-2.5-flash"}}}]]}}],"Gemini: Rewrite":[{"startTime":1775613935367,"executionIndex":4,"source":[{"previousNode":"Set Initial Prompt","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":8748,"executionStatus":"success","data":{"main":[[{"json":{"text":"Here's a punchy Pinterest post for Sarah Nutri, targeting seniors:\n\n---\n\n**(Image: A vibrant photo of a diverse group of happy, active seniors laughing together, perhaps on a walk or sharing a healthy meal. Maybe a subtle scientific graphic overlay or a heart icon.)**\n\n✨ Seniors, ready to unlock your best health?\n\nThe WHO says the secret is simple: \"Together for health. Stand with science.\" 🤝🔬 It's about making **smart, evidence-backed choices** and lifting each other up on your wellness journey.\n\nAt Sarah Nutri, we couldn't agree more! Let's choose reliable science for a vibrant, active life. Here's to your well-being!\n\n#HealthyAging #StandWithScience #WellnessJourney #SarahNutri #SeniorWellness"},"pairedItem":{"item":0}}]]}},{"startTime":1775613964411,"executionIndex":12,"source":[{"previousNode":"Set Loop Prompt","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":23281,"executionStatus":"success","data":{"main":[[{"json":{"text":"Okay, this is an exciting challenge! With \"null\" information, I'll build a foundational, best-practice social media strategy for \"Sarah Nutri\" based on common assumptions for a nutrition professional or brand. This will serve as an adaptable framework that we can refine once we have more details about Sarah's specific niche, target audience, and offerings.\n\n---\n\n## Social Media Strategy: Sarah Nutri (Foundational Framework)\n\n**Client:** Sarah Nutri\n**Expert Social Media Manager:** [Your Name/Agency Name]\n**Date:** October 26, 2023\n\n---\n\n### Phase 1: Discovery & Core Strategy (Assumptions & Clarification Needed)\n\nSince we're starting from \"null,\" the first step is always to make educated assumptions and then validate them.\n\n**1. Brand Identity & Niche (Assumed):**\n*   **What it implies:** \"Nutri\" strongly suggests a focus on nutrition, health, and wellness.\n*   **Assumptions:** Sarah is likely a nutritionist, dietitian, health coach, or founder of a brand offering healthy products/services. She aims to educate, empower, and inspire her audience to achieve better health outcomes through nutrition.\n*   **Clarification Needed:**\n    *   **What is Sarah's *specific niche*?** (e.g., gut health, weight management, sports nutrition, plant-based eating, intuitive eating, family nutrition, chronic disease management). This is CRITICAL.\n    *   **What are Sarah's *unique philosophies or methodologies*?** (e.g., \"food as medicine,\" \"sustainable habits,\" \"no restrictive diets\").\n    *   **What are Sarah's *offerings*?** (e.g., 1:1 coaching, group programs, online courses, meal plans, recipes, supplements, physical products).\n\n**2. Core Objectives (SMART Goals - Assumed):**\nBased on typical nutrition businesses:\n*   **Awareness:** Increase Sarah Nutri's brand visibility and reach within the target audience.\n*   **Credibility & Authority:** Position Sarah as a trusted expert and go-to resource in her niche.\n*   **Engagement & Community:** Foster an active, supportive community around health and nutrition.\n*   **Lead Generation:** Drive traffic to Sarah's website/booking page for consultations or program sign-ups.\n*   **Conversions:** Convert followers into paying clients/customers.\n\n**3. Target Audience (Assumed Broadly):**\n*   **Demographics:** Likely health-conscious individuals, potentially skewed towards women, aged 25-55. Income level varies depending on niche and pricing.\n*   **Psychographics:**\n    *   **Pain Points:** Feeling overwhelmed by conflicting nutrition information, struggling with weight, low energy, digestive issues, looking for sustainable health solutions, lacking motivation, seeking accountability.\n    *   **Desires:** Clarity, improved energy, better body composition, healthy habits, feeling confident, support, education, practical strategies.\n*   **Clarification Needed:**\n    *   **Who is Sarah's *ideal client*?** (e.g., Busy professional moms, elite athletes, young adults with gut issues, empty nesters). The more specific, the better.\n\n**4. Brand Voice & Personality:**\n*   **Keywords:** Empowering, encouraging, knowledgeable, approachable, authentic, positive, inspiring, evidence-based, compassionate, clear, practical.\n*   **What to Avoid:** Overly dogmatic, preachy, judgmental, overly scientific jargon without explanation, promoting fad diets.\n\n---\n\n### Phase 2: Platform Strategy & Content Pillars\n\n**1. Key Social Media Platforms (Recommended Start):**\n\nGiven the \"Nutri\" focus, visual and short-form video platforms are paramount.\n*   **Instagram (Primary):** Ideal for visual content (food, lifestyle), short educational videos (Reels), Stories for engagement (polls, Q&A), and Carousels for detailed tips. Strong for building a personal brand.\n*   **Facebook (Secondary/Complementary):** Can be used for longer-form posts, linking to blog content, building private community groups, and potentially targeted ads.\n*   **Pinterest (Content Amplification):** Excellent for evergreen content like recipes, infographics, meal plans, and blog post promotion, driving organic search traffic.\n*   **TikTok (Emerging/Growth):** Great for quick, engaging, trending educational bites, myth-busting, and reaching a younger demographic.\n\n**2. Core Content Pillars (Themes for Regular Posting):**\n\nThese pillars ensure diverse, valuable content that addresses various audience needs and Sarah's objectives.\n\n*   **1. Educational & Informative:**\n    *   **Goal:** Establish authority, debunk myths, clarify confusing topics.\n    *   **Examples:** \"Nutrition Myth Mondays,\" \"Understanding Macros,\" \"The Truth About [Diet Trend],\" \"Benefits of [Specific Nutrient/Food],\" \"Why Sleep Matters for Metabolism.\"\n    *   **Formats:** Carousels, Reels, Infographics, longer captions, blog post links.\n\n*   **2. Practical Tips & How-Tos:**\n    *   **Goal:** Provide actionable steps, solve immediate problems, make healthy eating accessible.\n    *   **Examples:** \"Quick & Healthy Meal Prep Ideas,\" \"5-Minute Healthy Snack Hacks,\" \"Grocery List Essentials,\" \"Batch Cooking for Busy Weeks,\" \"Reading Food Labels Made Easy,\" simple healthy recipes (with Sarah's twist).\n    *   **Formats:** Reels (short demos), Stories (step-by-step), visually appealing photos, downloadable guides (link in bio).\n\n*   **3. Inspiration & Motivation:**\n    *   **Goal:** Encourage, uplift, address mindset challenges, share success.\n    *   **Examples:** Client testimonials (with permission!), \"Mindset Shifts for Sustainable Health,\" \"Overcoming Cravings,\" motivational quotes, Sarah's personal health journey insights, positive affirmations.\n    *   **Formats:** Inspirational quotes (graphics), short video messages from Sarah, client spotlights.\n\n*   **4. Behind-the-Scenes & Personal Connection:**\n    *   **Goal:** Build authenticity, trust, and relatability.\n    *   **Examples:** \"Day in the Life of a Nutritionist,\" Sarah's healthy kitchen setup, personal healthy habits, quick Q&A from Sarah's daily life, \"What I Eat in a Day.\"\n    *   **Formats:** Instagram Stories, Reels, casual photos/videos.\n\n*   **5. Interactive & Community Building:**\n    *   **Goal:** Drive engagement, understand audience needs, build rapport.\n    *   **Examples:** \"Ask Me Anything (AMA),\" Polls (e.g., \"Coffee vs. Green Tea?\"), \"What's Your Biggest Nutrition Challenge?,\" \"This or That\" food choices, \"Nutrition Quiz.\"\n    *   **Formats:** Instagram Stories (polls, question stickers), Live Q&As, comment prompts.\n\n---\n\n### Phase 3: Tactical Execution & Growth\n\n**1. Content Formats & Best Practices:**\n\n*   **High-Quality Visuals:** Professional photos of food, lifestyle, and Sarah herself. Branding consistency (colors, fonts).\n*   **Video First:** Prioritize short-form video (Reels, TikTok) for reach and engagement.\n    *   **Reels/TikTok Ideas:** Quick recipes, myth-busting, \"point-and-react\" to common diet advice, educational voice-overs, day-in-the-life.\n*   **Carousels:** Excellent for breaking down complex topics into digestible, swipeable slides (e.g., \"5 Ways to Improve Gut Health\").\n*   **Stories:** Daily engagement through polls, Q&A, behind-the-scenes, quick tips, and direct links.\n*   **Live Sessions:** Q&As, interviews with other experts, deep dives into specific topics.\n\n**2. Engagement Strategy:**\n\n*   **Active Listening:** Monitor comments and DMs, respond thoughtfully and promptly.\n*   **Ask Questions:** Always include a call to action in captions to prompt comments.\n*   **Host Lives/AMAs:** Directly interact with the audience.\n*   **Collaborate:** Partner with other wellness professionals, fitness coaches, or relevant brands for joint Lives, content swaps, or giveaways.\n*   **Community Engagement:** Actively engage with other relevant accounts and hashtags.\n\n**3. Hashtag Strategy:**\n\n*   **Mix & Match:** Use a blend of broad, niche-specific, and branded hashtags.\n    *   **Branded:** #SarahNutri #SarahNutriTips #[SarahsNiche]Health\n    *   **Niche-Specific:** #GutHealthTips #PlantBasedNutrition #SustainableWeightLoss #HolisticNutrition #SportsNutritionCoach\n    *   **Broad:** #HealthyLifestyle #NutritionFacts #WellnessJourney #EatWellFeelWell\n    *   **Trending (where appropriate):** Check platform trends.\n\n**4. Call to Actions (CTAs):**\n\n*   \"Link in bio to download my free [e-book/guide].\"\n*   \"DM me with your biggest question about [topic].\"\n*   \"Visit my website to book a discovery call.\"\n*   \"Comment below your favorite healthy snack!\"\n*   \"Share this post with a friend who needs it.\"\n*   \"Join my private Facebook community [link].\"\n\n**5. Posting Frequency (Starting Recommendation):**\n\n*   **Instagram:** 3-5 feed posts/week (mix of Reels, Carousels, static images), 3-5 Stories/day.\n*   **Facebook:** 2-3 posts/week (could be cross-posted from Instagram).\n*   **Pinterest:** 5-10 new pins/week (linking to blog, recipes, Instagram).\n*   **TikTok:** 2-3 videos/week (if active on this platform).\n\n**6. Measurement & Analytics:**\n\n*   **Key Metrics:** Follower growth, reach, engagement rate (likes, comments, shares, saves), website clicks, lead form submissions, conversion rates.\n*   **Tools:** Instagram Insights, Facebook Business Manager, Google Analytics (for website traffic).\n*   **Regular Review:** Weekly quick checks, monthly in-depth reports to inform strategy adjustments.\n\n---\n\n### Next Steps & Key Questions for Sarah:\n\nTo transform this foundational strategy into a highly effective, tailored plan, I need Sarah's input on the following:\n\n1.  **\"What is your *specific niche* within nutrition?\"** (e.g., gut health, weight management, sports nutrition, etc.)\n2.  **\"Who is your *ideal client*? Tell me about their biggest struggles and desires related to health.\"**\n3.  **\"What are your *primary offerings* (services/products) that you want to promote?\"**\n4.  **\"What is your unique approach or philosophy to nutrition and health?\"**\n5.  **\"What resources do you have available for content creation (e.g., time, budget for photos/videos, editing skills)?\"**\n6.  **\"Do you have a website, blog, or email list already in place?\"**\n7.  **\"Are there any specific goals you have in mind that aren't covered above?\"**\n\nOnce I have this information, I can drill down, select the most impactful platforms, develop a precise content calendar, and craft messaging that resonates deeply with Sarah's specific audience and business goals."},"pairedItem":{"item":0}}]]}},{"startTime":1775614002055,"executionIndex":20,"source":[{"previousNode":"Set Loop Prompt","previousNodeOutput":0,"previousNodeRun":1}],"hints":[],"executionTime":25206,"executionStatus":"success","data":{"main":[[{"json":{"text":"Okay, Sarah Nutri! As your expert social media manager, I'm thrilled to dive in and craft a dynamic, results-driven strategy to elevate your brand, educate your audience, and grow your business.\n\nSince there's no specific request beyond \"Sarah Nutri,\" I'm going to outline a foundational, comprehensive social media strategy designed to establish you as a leading voice in nutrition, build a highly engaged community, and drive conversions for your services or products.\n\n---\n\n## **Social Media Strategy: Elevating Sarah Nutri**\n\n**Client:** Sarah Nutri\n**Role:** Expert Social Media Manager\n**Goal:** Establish Sarah Nutri as a trusted, relatable, and authoritative expert in nutrition, fostering a vibrant online community, and converting followers into clients.\n\n---\n\n### **1. Overall Vision & Goals**\n\n*   **Vision:** To empower individuals to achieve sustainable health and wellness through evidence-based, practical, and enjoyable nutrition.\n*   **Primary Goals:**\n    1.  **Brand Awareness & Authority:** Increase Sarah Nutri's visibility and position her as a go-to expert.\n    2.  **Community & Engagement:** Build a loyal, interactive audience that trusts and values Sarah's advice.\n    3.  **Education & Empowerment:** Provide clear, actionable nutritional information that combats misinformation and empowers healthy choices.\n    4.  **Lead Generation & Conversion:** Drive sign-ups for services (e.g., coaching, workshops), product sales (e.g., meal plans, e-books), or newsletter subscriptions.\n\n### **2. Target Audience**\n\n*   **Demographics:** Primarily women (25-55), but also health-conscious men. Mid-to-high income individuals, often busy professionals, parents, or those actively seeking lifestyle improvements.\n*   **Psychographics:**\n    *   **Pain Points:** Overwhelmed by conflicting nutrition information, struggling with weight management, low energy, digestive issues, chronic health conditions (seeking dietary support), lack of time for meal prep, feeling confused about \"healthy eating.\"\n    *   **Aspirations:** Sustainable health, increased energy, improved body composition, better digestion, clear skin, feeling confident and in control of their health, nourishing their families effectively.\n    *   **Mindset:** Open to learning, value evidence-based advice, appreciate practicality and simplicity, looking for long-term solutions, not quick fixes.\n\n### **3. Brand Voice & Personality**\n\n*   **Tone:** Expert, but approachable. Empowering, encouraging, empathetic, positive, and authentic. A blend of professional knowledge with a friendly, relatable demeanor.\n*   **Keywords:** Empowering, inspiring, science-backed, practical, sustainable, holistic, joyful, delicious.\n*   **Avoid:** Judgmental language, \"diet culture\" rhetoric, overly complex jargon without explanation, fear-mongering.\n\n### **4. Core Content Pillars (What we talk about)**\n\nThese pillars ensure diverse and consistent content that resonates with our audience:\n\n1.  **Education & Myth Busting:**\n    *   Dispelling common nutrition myths (e.g., \"carbs are bad,\" \"detox teas work\").\n    *   Explaining complex nutritional concepts in simple terms (e.g., macronutrients, gut microbiome, blood sugar regulation).\n    *   Highlighting the science behind healthy habits.\n2.  **Practical Tips & Hacks:**\n    *   Quick meal prep strategies for busy schedules.\n    *   Smart grocery shopping tips.\n    *   Healthy snack ideas on the go.\n    *   Mindful eating techniques.\n    *   Hydration reminders & tips.\n3.  **Recipes & Meal Ideas:**\n    *   Easy, healthy, and delicious recipes (breakfast, lunch, dinner, snacks).\n    *   Meal plans or themed meal ideas (e.g., \"5-Ingredient Dinners,\" \"Gut-Friendly Meals\").\n    *   Ingredient swaps for healthier alternatives.\n4.  **Motivation & Mindset:**\n    *   Encouraging sustainable habits over restrictive diets.\n    *   Addressing emotional eating and body image.\n    *   Celebrating small wins and progress.\n    *   Stress management related to health.\n5.  **Behind-the-Scenes & Personal:**\n    *   \"Day in the life\" of Sarah Nutri (what you eat, how you stay active).\n    *   Q&A sessions with Sarah.\n    *   Sharing personal insights or struggles (authenticity builds connection).\n    *   Highlights of client successes (with permission).\n6.  **Product/Service Promotion:**\n    *   Highlighting your coaching programs, workshops, e-books, or other offerings.\n    *   Testimonials and case studies.\n    *   Explaining the \"why\" behind your services and the value they provide.\n\n### **5. Platform Strategy**\n\nWe'll focus on platforms where our target audience is most active and where visual/video content thrives.\n\n*   **Instagram (Primary Focus):**\n    *   **Content:** High-quality photos (food, lifestyle), engaging carousels (educational guides, recipes), Instagram Reels (quick tips, myth-busting, recipe demos, trending audio challenges), Stories (Q&A, polls, daily insights, behind-the-scenes), IG Lives (deep dives, interviews).\n    *   **Purpose:** Build a strong visual brand, drive engagement, educate, attract new followers, direct traffic to link in bio.\n*   **TikTok (Growth Focus):**\n    *   **Content:** Short, punchy videos (15-60 seconds) leveraging trending sounds and formats. Quick nutrition facts, \"what I eat in a day,\" recipe speed-throughs, relatable humor around healthy eating struggles, myth-busting.\n    *   **Purpose:** Rapid awareness, reach younger demographics, viral potential, drive traffic to Instagram/website.\n*   **Facebook (Community & Long-Form):**\n    *   **Content:** Share Instagram/TikTok content, longer written posts (blog post summaries, personal reflections), foster a private Facebook Group for deeper community interaction, host Facebook Lives, share external articles.\n    *   **Purpose:** Nurture existing community, reach an older demographic, drive conversions through group engagement.\n*   **Pinterest (Evergreen Content & Traffic):**\n    *   **Content:** High-quality infographics, recipe pins, meal plans, health tips, blog post pins. Optimized for search.\n    *   **Purpose:** Drive passive, long-term traffic to website/blog, position Sarah as a resource.\n\n### **6. Content Formats & Best Practices**\n\n*   **Video First:** Prioritize Reels and TikToks for maximum reach.\n*   **Carousel Posts:** Excellent for educational content, step-by-step guides, and recipe instructions.\n*   **High-Quality Visuals:** Professional photos and clear, aesthetically pleasing graphics.\n*   **Interactive Stories:** Use polls, quizzes, Q&A stickers to boost engagement.\n*   **Clear Calls to Action (CTAs):** Always tell your audience what you want them to do next (e.g., \"Link in bio to download my free meal guide,\" \"Comment below with your biggest nutrition question,\" \"DM me to learn more about coaching\").\n*   **Consistent Branding:** Use consistent fonts, colors, and filters across all visuals.\n*   **Hashtags:** Research relevant niche, broad, and branded hashtags (#SarahNutri, #NutritionistApproved, #HealthyRecipes, #GutHealth, #WellnessJourney).\n*   **Accessibility:** Add captions to all videos.\n\n### **7. Engagement Strategy**\n\n*   **Respond Promptly:** Reply to all comments and DMs genuinely and thoughtfully.\n*   **Ask Questions:** End posts with open-ended questions to encourage conversation.\n*   **Host Q&A Sessions:** Regularly on Stories or Lives.\n*   **Collaborate:** Partner with complementary wellness experts, fitness trainers, or health brands for joint Lives, Reels, or giveaways.\n*   **User-Generated Content (UGC):** Encourage followers to share their results, tag Sarah, and reshare (with permission).\n\n### **8. Posting Frequency (Initial Recommendation)**\n\n*   **Instagram:** 4-5 feed posts/week (mix of Reels, Carousels, static images), 3-5 Stories/day.\n*   **TikTok:** 3-4 videos/week.\n*   **Facebook:** 3-4 posts/week (repurpose IG content, plus unique long-form).\n*   **Pinterest:** 5-7 new pins/week (optimizing existing content, creating new).\n\n### **9. Measurement & KPIs (Key Performance Indicators)**\n\n*   **Awareness:** Reach, Impressions, Follower Growth.\n*   **Engagement:** Likes, Comments, Shares, Saves, Story Views, Reel Plays, Engagement Rate.\n*   **Traffic:** Link Clicks (Link in Bio), Website Visits from Social.\n*   **Conversion:** Leads generated (DM inquiries, form submissions), Newsletter Sign-ups, Consultations Booked, Product Sales.\n\n### **10. Tools & Resources**\n\n*   **Scheduling:** Later, Hootsuite, Sprout Social (or native scheduling where available).\n*   **Design:** Canva (for graphics, infographics, templates).\n*   **Video Editing:** InShot, CapCut, DaVinci Resolve (for more advanced).\n*   **Analytics:** Native platform insights, Google Analytics (for website traffic).\n*   **Hashtag Research:** Display Purposes, RiteTag.\n\n---\n\n### **Example Content Concepts for Sarah Nutri**\n\nHere are a few ideas to bring this strategy to life:\n\n**1. Instagram Carousel Post (Education & Practical Tips):**\n    *   **Title Slide:** \"The Truth About Intermittent Fasting: Is It Right For YOU?\"\n    *   **Slide 2:** \"What is IF?\" (Simple explanation)\n    *   **Slide 3:** \"Potential Benefits\" (Weight management, insulin sensitivity, etc.)\n    *   **Slide 4:** \"Who It's NOT For\" (Pregnant, certain medical conditions)\n    *   **Slide 5:** \"Tips for Getting Started (Safely)\" (Hydration, listen to your body)\n    *   **Slide 6:** \"My Takeaway\" (Emphasize personalized approach, consult a pro)\n    *   **CTA:** \"Swipe to learn! Share your thoughts in the comments – have you tried IF? 👇\"\n    *   **Visuals:** Clean, branded graphics with easy-to-read text, perhaps a photo of Sarah on the last slide.\n\n**2. Instagram Reel / TikTok (Recipe & Hack):**\n    *   **Audio:** Upbeat, trending sound.\n    *   **Video:** Fast-paced montage.\n    *   **Text Overlay:** \"🍓 2-Minute Healthy Breakfast Hack!\"\n    *   **Content:** Quick visual steps of making overnight oats or a simple smoothie. Show ingredients, blending/mixing, finished product.\n    *   **Voiceover/Captions:** \"Busy morning? Try this! High protein, fiber, and SO delicious. Recipe in caption!\"\n    *   **CTA:** \"Save this for your next busy morning! What's your go-to quick breakfast?\"\n\n**3. Facebook Post (Community & Motivation):**\n    *   **Text:** \"Happy Monday, Nutri Fam! ✨ Let's kick off the week by celebrating progress, not perfection. Instead of focusing on what you 'shouldn't' eat, tell me: What's ONE healthy habit you're genuinely EXCITED to practice this week? Maybe it's enjoying a colorful salad, going for a walk, or simply drinking more water! Share below and inspire someone else! Let's uplift each other. 👇\"\n    *   **Visual:** A warm, inviting photo of Sarah smiling or a vibrant, healthy meal.\n\n---\n\nThis comprehensive strategy provides a robust framework for Sarah Nutri's social media presence. We can refine and adapt it based on specific campaigns, new offerings, and audience feedback.\n\n**Next Steps:**\n1.  **Platform Audit:** Review current profiles for branding consistency.\n2.  **Content Calendar:** Develop a 4-week content calendar based on these pillars.\n3.  **Visual Assets:** Plan for photography and graphic design needs.\n4.  **Define Conversion Funnel:** Clarify how social media leads into specific business outcomes.\n\nLet's get to work, Sarah! Your audience is waiting."},"pairedItem":{"item":0}}]]}}],"Gemini Model 2":[{"startTime":1775613944121,"executionTime":14733,"executionIndex":7,"executionStatus":"success","source":[{"previousNode":"Nano Banana AI","previousNodeRun":0}],"data":{"ai_languageModel":[[{"json":{"response":{"generations":[[{"text":"A highly detailed, photorealistic AI image of a vibrant and healthy elderly person, approximately 70-75 years old, radiating genuine joy and contentment.\n\n**Subject:** The person has an infectious, warm smile that lights up their face, causing their eyes to crinkle beautifully with laughter and happiness. Their clear, healthy skin shows natural, soft age lines that convey a life rich with experience and well-being, rather than frailty. Their silver or salt-and-pepper hair is neatly styled, catching the soft, natural light, adding to their vibrant appearance.\n\n**Pose & Activity:** They are captured in a dynamic moment, perhaps with a slight tilt of their head and an open, cheerful expression, as if they've just shared a delightful laugh or are happily observing something in their surroundings. Their posture is upright and confident, subtly suggesting an active and engaged lifestyle. Their hands are relaxed, perhaps holding a gardening tool or a simple book, but without being the primary focus.\n\n**Clothing:** They are dressed in comfortable, tasteful, and subtly stylish everyday wear suitable for light outdoor activity or leisure – perhaps a soft-knit cardigan or a lightweight, breathable jacket in a cheerful yet natural color (like a soft periwinkle, sage green, or muted coral), over a comfortable, light-colored top.\n\n**Environment:** The setting is a bright, sun-drenched outdoor park or a beautiful, well-maintained botanical garden. Lush, vibrant green foliage, and soft-focus, colorful blooming flowers create a serene and inviting natural background. A hint of a gently winding pathway or a tranquil garden bench might be subtly visible in the mid-ground.\n\n**Lighting & Mood:** The image is bathed in bright, natural daylight, possibly during the golden hour, casting soft, flattering light and warm, gentle shadows that enhance their features and create a serene yet lively atmosphere. The overall feeling is one of peaceful joy, active well-being, and a deep appreciation for healthy aging and a vibrant life. The composition should feel authentic and candid.","generationInfo":{"finishReason":"STOP","index":0}}]]},"tokenUsage":{"completionTokens":416,"promptTokens":195,"totalTokens":611}}}]]},"inputOverride":{"ai_languageModel":[[{"json":{"messages":["Human: Nano Banana 2.0: Create a detailed photorealistic AI image prompt of a healthy elderly person enjoying life based on this text: Here's a punchy Pinterest post for Sarah Nutri, targeting seniors:\n\n---\n\n**(Image: A vibrant photo of a diverse group of happy, active seniors laughing together, perhaps on a walk or sharing a healthy meal. Maybe a subtle scientific graphic overlay or a heart icon.)**\n\n✨ Seniors, ready to unlock your best health?\n\nThe WHO says the secret is simple: \"Together for health. Stand with science.\" 🤝🔬 It's about making **smart, evidence-backed choices** and lifting each other up on your wellness journey.\n\nAt Sarah Nutri, we couldn't agree more! Let's choose reliable science for a vibrant, active life. Here's to your well-being!\n\n#HealthyAging #StandWithScience #WellnessJourney #SarahNutri #SeniorWellness"],"estimatedTokens":185,"options":{"google_api_key":{"lc":1,"type":"secret","id":["GOOGLE_API_KEY"]},"base_url":"https://generativelanguage.googleapis.com","model":"gemini-2.5-flash"}}}]]}},{"startTime":1775613987702,"executionTime":9005,"executionIndex":15,"executionStatus":"success","source":[{"previousNode":"Nano Banana AI","previousNodeRun":1}],"data":{"ai_languageModel":[[{"json":{"response":{"generations":[[{"text":"A stunning, highly photorealistic, and intricately detailed AI image of a vibrant and healthy elderly woman in her early 80s. She possesses a gentle yet bright smile, radiating pure joy and contentment, with clear, sparkling eyes that convey a lifetime of wisdom and happiness. Her skin has the beautiful texture of age, yet her complexion is fresh and healthy. She is captured in a serene moment, gently pruning a blooming rose bush in a sun-drenched, well-tended garden. She wears a comfortable, stylish, light-blue linen blouse and beige gardening trousers, with a broad-brimmed straw hat providing elegant shade. Her posture is upright and graceful, indicating excellent vitality. The garden around her is a riot of colorful, healthy flowers and lush greenery, with the soft, warm glow of late afternoon sunlight illuminating the scene. Delicate dew drops are visible on some petals. The focus is on her serene enjoyment of the moment, embodying a life well-lived and full of healthy happiness. Natural light, soft bokeh background, ultra-high resolution, cinematic quality, professional photography.","generationInfo":{"finishReason":"STOP","index":0}}]]},"tokenUsage":{"completionTokens":220,"promptTokens":2488,"totalTokens":2708}}}]]},"inputOverride":{"ai_languageModel":[[{"json":{"messages":["Human: Nano Banana 2.0: Create a detailed photorealistic AI image prompt of a healthy elderly person enjoying life based on this text: Okay, this is an exciting challenge! With \"null\" information, I'll build a foundational, best-practice social media strategy for \"Sarah Nutri\" based on common assumptions for a nutrition professional or brand. This will serve as an adaptable framework that we can refine once we have more details about Sarah's specific niche, target audience, and offerings.\n\n---\n\n## Social Media Strategy: Sarah Nutri (Foundational Framework)\n\n**Client:** Sarah Nutri\n**Expert Social Media Manager:** [Your Name/Agency Name]\n**Date:** October 26, 2023\n\n---\n\n### Phase 1: Discovery & Core Strategy (Assumptions & Clarification Needed)\n\nSince we're starting from \"null,\" the first step is always to make educated assumptions and then validate them.\n\n**1. Brand Identity & Niche (Assumed):**\n*   **What it implies:** \"Nutri\" strongly suggests a focus on nutrition, health, and wellness.\n*   **Assumptions:** Sarah is likely a nutritionist, dietitian, health coach, or founder of a brand offering healthy products/services. She aims to educate, empower, and inspire her audience to achieve better health outcomes through nutrition.\n*   **Clarification Needed:**\n    *   **What is Sarah's *specific niche*?** (e.g., gut health, weight management, sports nutrition, plant-based eating, intuitive eating, family nutrition, chronic disease management). This is CRITICAL.\n    *   **What are Sarah's *unique philosophies or methodologies*?** (e.g., \"food as medicine,\" \"sustainable habits,\" \"no restrictive diets\").\n    *   **What are Sarah's *offerings*?** (e.g., 1:1 coaching, group programs, online courses, meal plans, recipes, supplements, physical products).\n\n**2. Core Objectives (SMART Goals - Assumed):**\nBased on typical nutrition businesses:\n*   **Awareness:** Increase Sarah Nutri's brand visibility and reach within the target audience.\n*   **Credibility & Authority:** Position Sarah as a trusted expert and go-to resource in her niche.\n*   **Engagement & Community:** Foster an active, supportive community around health and nutrition.\n*   **Lead Generation:** Drive traffic to Sarah's website/booking page for consultations or program sign-ups.\n*   **Conversions:** Convert followers into paying clients/customers.\n\n**3. Target Audience (Assumed Broadly):**\n*   **Demographics:** Likely health-conscious individuals, potentially skewed towards women, aged 25-55. Income level varies depending on niche and pricing.\n*   **Psychographics:**\n    *   **Pain Points:** Feeling overwhelmed by conflicting nutrition information, struggling with weight, low energy, digestive issues, looking for sustainable health solutions, lacking motivation, seeking accountability.\n    *   **Desires:** Clarity, improved energy, better body composition, healthy habits, feeling confident, support, education, practical strategies.\n*   **Clarification Needed:**\n    *   **Who is Sarah's *ideal client*?** (e.g., Busy professional moms, elite athletes, young adults with gut issues, empty nesters). The more specific, the better.\n\n**4. Brand Voice & Personality:**\n*   **Keywords:** Empowering, encouraging, knowledgeable, approachable, authentic, positive, inspiring, evidence-based, compassionate, clear, practical.\n*   **What to Avoid:** Overly dogmatic, preachy, judgmental, overly scientific jargon without explanation, promoting fad diets.\n\n---\n\n### Phase 2: Platform Strategy & Content Pillars\n\n**1. Key Social Media Platforms (Recommended Start):**\n\nGiven the \"Nutri\" focus, visual and short-form video platforms are paramount.\n*   **Instagram (Primary):** Ideal for visual content (food, lifestyle), short educational videos (Reels), Stories for engagement (polls, Q&A), and Carousels for detailed tips. Strong for building a personal brand.\n*   **Facebook (Secondary/Complementary):** Can be used for longer-form posts, linking to blog content, building private community groups, and potentially targeted ads.\n*   **Pinterest (Content Amplification):** Excellent for evergreen content like recipes, infographics, meal plans, and blog post promotion, driving organic search traffic.\n*   **TikTok (Emerging/Growth):** Great for quick, engaging, trending educational bites, myth-busting, and reaching a younger demographic.\n\n**2. Core Content Pillars (Themes for Regular Posting):**\n\nThese pillars ensure diverse, valuable content that addresses various audience needs and Sarah's objectives.\n\n*   **1. Educational & Informative:**\n    *   **Goal:** Establish authority, debunk myths, clarify confusing topics.\n    *   **Examples:** \"Nutrition Myth Mondays,\" \"Understanding Macros,\" \"The Truth About [Diet Trend],\" \"Benefits of [Specific Nutrient/Food],\" \"Why Sleep Matters for Metabolism.\"\n    *   **Formats:** Carousels, Reels, Infographics, longer captions, blog post links.\n\n*   **2. Practical Tips & How-Tos:**\n    *   **Goal:** Provide actionable steps, solve immediate problems, make healthy eating accessible.\n    *   **Examples:** \"Quick & Healthy Meal Prep Ideas,\" \"5-Minute Healthy Snack Hacks,\" \"Grocery List Essentials,\" \"Batch Cooking for Busy Weeks,\" \"Reading Food Labels Made Easy,\" simple healthy recipes (with Sarah's twist).\n    *   **Formats:** Reels (short demos), Stories (step-by-step), visually appealing photos, downloadable guides (link in bio).\n\n*   **3. Inspiration & Motivation:**\n    *   **Goal:** Encourage, uplift, address mindset challenges, share success.\n    *   **Examples:** Client testimonials (with permission!), \"Mindset Shifts for Sustainable Health,\" \"Overcoming Cravings,\" motivational quotes, Sarah's personal health journey insights, positive affirmations.\n    *   **Formats:** Inspirational quotes (graphics), short video messages from Sarah, client spotlights.\n\n*   **4. Behind-the-Scenes & Personal Connection:**\n    *   **Goal:** Build authenticity, trust, and relatability.\n    *   **Examples:** \"Day in the Life of a Nutritionist,\" Sarah's healthy kitchen setup, personal healthy habits, quick Q&A from Sarah's daily life, \"What I Eat in a Day.\"\n    *   **Formats:** Instagram Stories, Reels, casual photos/videos.\n\n*   **5. Interactive & Community Building:**\n    *   **Goal:** Drive engagement, understand audience needs, build rapport.\n    *   **Examples:** \"Ask Me Anything (AMA),\" Polls (e.g., \"Coffee vs. Green Tea?\"), \"What's Your Biggest Nutrition Challenge?,\" \"This or That\" food choices, \"Nutrition Quiz.\"\n    *   **Formats:** Instagram Stories (polls, question stickers), Live Q&As, comment prompts.\n\n---\n\n### Phase 3: Tactical Execution & Growth\n\n**1. Content Formats & Best Practices:**\n\n*   **High-Quality Visuals:** Professional photos of food, lifestyle, and Sarah herself. Branding consistency (colors, fonts).\n*   **Video First:** Prioritize short-form video (Reels, TikTok) for reach and engagement.\n    *   **Reels/TikTok Ideas:** Quick recipes, myth-busting, \"point-and-react\" to common diet advice, educational voice-overs, day-in-the-life.\n*   **Carousels:** Excellent for breaking down complex topics into digestible, swipeable slides (e.g., \"5 Ways to Improve Gut Health\").\n*   **Stories:** Daily engagement through polls, Q&A, behind-the-scenes, quick tips, and direct links.\n*   **Live Sessions:** Q&As, interviews with other experts, deep dives into specific topics.\n\n**2. Engagement Strategy:**\n\n*   **Active Listening:** Monitor comments and DMs, respond thoughtfully and promptly.\n*   **Ask Questions:** Always include a call to action in captions to prompt comments.\n*   **Host Lives/AMAs:** Directly interact with the audience.\n*   **Collaborate:** Partner with other wellness professionals, fitness coaches, or relevant brands for joint Lives, content swaps, or giveaways.\n*   **Community Engagement:** Actively engage with other relevant accounts and hashtags.\n\n**3. Hashtag Strategy:**\n\n*   **Mix & Match:** Use a blend of broad, niche-specific, and branded hashtags.\n    *   **Branded:** #SarahNutri #SarahNutriTips #[SarahsNiche]Health\n    *   **Niche-Specific:** #GutHealthTips #PlantBasedNutrition #SustainableWeightLoss #HolisticNutrition #SportsNutritionCoach\n    *   **Broad:** #HealthyLifestyle #NutritionFacts #WellnessJourney #EatWellFeelWell\n    *   **Trending (where appropriate):** Check platform trends.\n\n**4. Call to Actions (CTAs):**\n\n*   \"Link in bio to download my free [e-book/guide].\"\n*   \"DM me with your biggest question about [topic].\"\n*   \"Visit my website to book a discovery call.\"\n*   \"Comment below your favorite healthy snack!\"\n*   \"Share this post with a friend who needs it.\"\n*   \"Join my private Facebook community [link].\"\n\n**5. Posting Frequency (Starting Recommendation):**\n\n*   **Instagram:** 3-5 feed posts/week (mix of Reels, Carousels, static images), 3-5 Stories/day.\n*   **Facebook:** 2-3 posts/week (could be cross-posted from Instagram).\n*   **Pinterest:** 5-10 new pins/week (linking to blog, recipes, Instagram).\n*   **TikTok:** 2-3 videos/week (if active on this platform).\n\n**6. Measurement & Analytics:**\n\n*   **Key Metrics:** Follower growth, reach, engagement rate (likes, comments, shares, saves), website clicks, lead form submissions, conversion rates.\n*   **Tools:** Instagram Insights, Facebook Business Manager, Google Analytics (for website traffic).\n*   **Regular Review:** Weekly quick checks, monthly in-depth reports to inform strategy adjustments.\n\n---\n\n### Next Steps & Key Questions for Sarah:\n\nTo transform this foundational strategy into a highly effective, tailored plan, I need Sarah's input on the following:\n\n1.  **\"What is your *specific niche* within nutrition?\"** (e.g., gut health, weight management, sports nutrition, etc.)\n2.  **\"Who is your *ideal client*? Tell me about their biggest struggles and desires related to health.\"**\n3.  **\"What are your *primary offerings* (services/products) that you want to promote?\"**\n4.  **\"What is your unique approach or philosophy to nutrition and health?\"**\n5.  **\"What resources do you have available for content creation (e.g., time, budget for photos/videos, editing skills)?\"**\n6.  **\"Do you have a website, blog, or email list already in place?\"**\n7.  **\"Are there any specific goals you have in mind that aren't covered above?\"**\n\nOnce I have this information, I can drill down, select the most impactful platforms, develop a precise content calendar, and craft messaging that resonates deeply with Sarah's specific audience and business goals."],"estimatedTokens":2366,"options":{"google_api_key":{"lc":1,"type":"secret","id":["GOOGLE_API_KEY"]},"base_url":"https://generativelanguage.googleapis.com","model":"gemini-2.5-flash"}}}]]}},{"startTime":1775614027272,"executionTime":11236,"executionIndex":23,"executionStatus":"success","source":[{"previousNode":"Nano Banana AI","previousNodeRun":2}],"data":{"ai_languageModel":[[{"json":{"response":{"generations":[[{"text":"Here's a detailed photorealistic AI image prompt for \"Nano Banana 2.0\" based on the \"Sarah Nutri\" text:\n\n---\n\n**Prompt:**\n\n**Subject:** A truly vibrant and healthy elderly woman in her late 70s to early 80s. She exudes profound contentment and joy, with a genuine, radiant smile lighting up her face and expressive, sparkling eyes that convey a lifetime of well-being. Her skin has the natural beautiful texture of age but is luminous and well-hydrated, reflecting a healthy lifestyle. Her silver hair is elegantly styled, perhaps in soft waves or a neat, graceful bob.\n\n**Activity & Pose:** She is seated comfortably and gracefully on a sun-drenched, rustic wooden garden bench or a stylish woven outdoor armchair. Her posture is relaxed yet engaged. She is gently holding a small, vibrant terracotta pot containing a flourishing herb plant, such as fragrant basil or mint, cradling it with a tender, appreciative gesture. Alternatively, her hands could be wrapped around a beautiful ceramic mug, savoring a warm, steaming herbal tea, with a look of serene enjoyment.\n\n**Environment:** The setting is an impeccably maintained, lush botanical garden or a picturesque sunlit patio. The background is a soft, natural bokeh blur of abundant greenery, colorful blooming flowers (e.g., lavender, roses, hydrangeas in soft pastels and vibrant natural hues), and perhaps a hint of a charming stone pathway or a trickling water feature. The overall atmosphere is one of peaceful tranquility, natural beauty, and outdoor freshness.\n\n**Attire:** She is dressed in comfortable, age-appropriate, and subtly elegant attire. This could be a light, breathable linen blouse in a soft, natural tone (e.g., sage green, sky blue, cream) paired with well-fitting, comfortable trousers or a flowing skirt. A delicate, lightweight cardigan might be draped over her shoulders, suggesting a pleasant, mild climate. Her clothing complements the natural surroundings without being distracting.\n\n**Lighting & Mood:** The scene is bathed in the warm, soft, golden hour light of late afternoon, creating gentle highlights and shadows that enhance her features and the natural textures. The lighting emphasizes a healthy glow on her skin. The mood is overwhelmingly positive, serene, joyful, and deeply peaceful, embodying the essence of a life lived with sustained health, happiness, and connection to nature.\n\n**Artistic Style:** Ultra photorealistic, high-resolution, and highly detailed. The focus should be incredibly sharp on the woman, with a natural, pleasing depth of field. The textures of her clothing, the plant, the bench, and her skin should be rendered with exquisite realism. The color palette should be rich but natural, warm, and inviting.\n\n---","generationInfo":{"finishReason":"STOP","index":0}}]]},"tokenUsage":{"completionTokens":566,"promptTokens":2712,"totalTokens":3278}}}]]},"inputOverride":{"ai_languageModel":[[{"json":{"messages":["Human: Nano Banana 2.0: Create a detailed photorealistic AI image prompt of a healthy elderly person enjoying life based on this text: Okay, Sarah Nutri! As your expert social media manager, I'm thrilled to dive in and craft a dynamic, results-driven strategy to elevate your brand, educate your audience, and grow your business.\n\nSince there's no specific request beyond \"Sarah Nutri,\" I'm going to outline a foundational, comprehensive social media strategy designed to establish you as a leading voice in nutrition, build a highly engaged community, and drive conversions for your services or products.\n\n---\n\n## **Social Media Strategy: Elevating Sarah Nutri**\n\n**Client:** Sarah Nutri\n**Role:** Expert Social Media Manager\n**Goal:** Establish Sarah Nutri as a trusted, relatable, and authoritative expert in nutrition, fostering a vibrant online community, and converting followers into clients.\n\n---\n\n### **1. Overall Vision & Goals**\n\n*   **Vision:** To empower individuals to achieve sustainable health and wellness through evidence-based, practical, and enjoyable nutrition.\n*   **Primary Goals:**\n    1.  **Brand Awareness & Authority:** Increase Sarah Nutri's visibility and position her as a go-to expert.\n    2.  **Community & Engagement:** Build a loyal, interactive audience that trusts and values Sarah's advice.\n    3.  **Education & Empowerment:** Provide clear, actionable nutritional information that combats misinformation and empowers healthy choices.\n    4.  **Lead Generation & Conversion:** Drive sign-ups for services (e.g., coaching, workshops), product sales (e.g., meal plans, e-books), or newsletter subscriptions.\n\n### **2. Target Audience**\n\n*   **Demographics:** Primarily women (25-55), but also health-conscious men. Mid-to-high income individuals, often busy professionals, parents, or those actively seeking lifestyle improvements.\n*   **Psychographics:**\n    *   **Pain Points:** Overwhelmed by conflicting nutrition information, struggling with weight management, low energy, digestive issues, chronic health conditions (seeking dietary support), lack of time for meal prep, feeling confused about \"healthy eating.\"\n    *   **Aspirations:** Sustainable health, increased energy, improved body composition, better digestion, clear skin, feeling confident and in control of their health, nourishing their families effectively.\n    *   **Mindset:** Open to learning, value evidence-based advice, appreciate practicality and simplicity, looking for long-term solutions, not quick fixes.\n\n### **3. Brand Voice & Personality**\n\n*   **Tone:** Expert, but approachable. Empowering, encouraging, empathetic, positive, and authentic. A blend of professional knowledge with a friendly, relatable demeanor.\n*   **Keywords:** Empowering, inspiring, science-backed, practical, sustainable, holistic, joyful, delicious.\n*   **Avoid:** Judgmental language, \"diet culture\" rhetoric, overly complex jargon without explanation, fear-mongering.\n\n### **4. Core Content Pillars (What we talk about)**\n\nThese pillars ensure diverse and consistent content that resonates with our audience:\n\n1.  **Education & Myth Busting:**\n    *   Dispelling common nutrition myths (e.g., \"carbs are bad,\" \"detox teas work\").\n    *   Explaining complex nutritional concepts in simple terms (e.g., macronutrients, gut microbiome, blood sugar regulation).\n    *   Highlighting the science behind healthy habits.\n2.  **Practical Tips & Hacks:**\n    *   Quick meal prep strategies for busy schedules.\n    *   Smart grocery shopping tips.\n    *   Healthy snack ideas on the go.\n    *   Mindful eating techniques.\n    *   Hydration reminders & tips.\n3.  **Recipes & Meal Ideas:**\n    *   Easy, healthy, and delicious recipes (breakfast, lunch, dinner, snacks).\n    *   Meal plans or themed meal ideas (e.g., \"5-Ingredient Dinners,\" \"Gut-Friendly Meals\").\n    *   Ingredient swaps for healthier alternatives.\n4.  **Motivation & Mindset:**\n    *   Encouraging sustainable habits over restrictive diets.\n    *   Addressing emotional eating and body image.\n    *   Celebrating small wins and progress.\n    *   Stress management related to health.\n5.  **Behind-the-Scenes & Personal:**\n    *   \"Day in the life\" of Sarah Nutri (what you eat, how you stay active).\n    *   Q&A sessions with Sarah.\n    *   Sharing personal insights or struggles (authenticity builds connection).\n    *   Highlights of client successes (with permission).\n6.  **Product/Service Promotion:**\n    *   Highlighting your coaching programs, workshops, e-books, or other offerings.\n    *   Testimonials and case studies.\n    *   Explaining the \"why\" behind your services and the value they provide.\n\n### **5. Platform Strategy**\n\nWe'll focus on platforms where our target audience is most active and where visual/video content thrives.\n\n*   **Instagram (Primary Focus):**\n    *   **Content:** High-quality photos (food, lifestyle), engaging carousels (educational guides, recipes), Instagram Reels (quick tips, myth-busting, recipe demos, trending audio challenges), Stories (Q&A, polls, daily insights, behind-the-scenes), IG Lives (deep dives, interviews).\n    *   **Purpose:** Build a strong visual brand, drive engagement, educate, attract new followers, direct traffic to link in bio.\n*   **TikTok (Growth Focus):**\n    *   **Content:** Short, punchy videos (15-60 seconds) leveraging trending sounds and formats. Quick nutrition facts, \"what I eat in a day,\" recipe speed-throughs, relatable humor around healthy eating struggles, myth-busting.\n    *   **Purpose:** Rapid awareness, reach younger demographics, viral potential, drive traffic to Instagram/website.\n*   **Facebook (Community & Long-Form):**\n    *   **Content:** Share Instagram/TikTok content, longer written posts (blog post summaries, personal reflections), foster a private Facebook Group for deeper community interaction, host Facebook Lives, share external articles.\n    *   **Purpose:** Nurture existing community, reach an older demographic, drive conversions through group engagement.\n*   **Pinterest (Evergreen Content & Traffic):**\n    *   **Content:** High-quality infographics, recipe pins, meal plans, health tips, blog post pins. Optimized for search.\n    *   **Purpose:** Drive passive, long-term traffic to website/blog, position Sarah as a resource.\n\n### **6. Content Formats & Best Practices**\n\n*   **Video First:** Prioritize Reels and TikToks for maximum reach.\n*   **Carousel Posts:** Excellent for educational content, step-by-step guides, and recipe instructions.\n*   **High-Quality Visuals:** Professional photos and clear, aesthetically pleasing graphics.\n*   **Interactive Stories:** Use polls, quizzes, Q&A stickers to boost engagement.\n*   **Clear Calls to Action (CTAs):** Always tell your audience what you want them to do next (e.g., \"Link in bio to download my free meal guide,\" \"Comment below with your biggest nutrition question,\" \"DM me to learn more about coaching\").\n*   **Consistent Branding:** Use consistent fonts, colors, and filters across all visuals.\n*   **Hashtags:** Research relevant niche, broad, and branded hashtags (#SarahNutri, #NutritionistApproved, #HealthyRecipes, #GutHealth, #WellnessJourney).\n*   **Accessibility:** Add captions to all videos.\n\n### **7. Engagement Strategy**\n\n*   **Respond Promptly:** Reply to all comments and DMs genuinely and thoughtfully.\n*   **Ask Questions:** End posts with open-ended questions to encourage conversation.\n*   **Host Q&A Sessions:** Regularly on Stories or Lives.\n*   **Collaborate:** Partner with complementary wellness experts, fitness trainers, or health brands for joint Lives, Reels, or giveaways.\n*   **User-Generated Content (UGC):** Encourage followers to share their results, tag Sarah, and reshare (with permission).\n\n### **8. Posting Frequency (Initial Recommendation)**\n\n*   **Instagram:** 4-5 feed posts/week (mix of Reels, Carousels, static images), 3-5 Stories/day.\n*   **TikTok:** 3-4 videos/week.\n*   **Facebook:** 3-4 posts/week (repurpose IG content, plus unique long-form).\n*   **Pinterest:** 5-7 new pins/week (optimizing existing content, creating new).\n\n### **9. Measurement & KPIs (Key Performance Indicators)**\n\n*   **Awareness:** Reach, Impressions, Follower Growth.\n*   **Engagement:** Likes, Comments, Shares, Saves, Story Views, Reel Plays, Engagement Rate.\n*   **Traffic:** Link Clicks (Link in Bio), Website Visits from Social.\n*   **Conversion:** Leads generated (DM inquiries, form submissions), Newsletter Sign-ups, Consultations Booked, Product Sales.\n\n### **10. Tools & Resources**\n\n*   **Scheduling:** Later, Hootsuite, Sprout Social (or native scheduling where available).\n*   **Design:** Canva (for graphics, infographics, templates).\n*   **Video Editing:** InShot, CapCut, DaVinci Resolve (for more advanced).\n*   **Analytics:** Native platform insights, Google Analytics (for website traffic).\n*   **Hashtag Research:** Display Purposes, RiteTag.\n\n---\n\n### **Example Content Concepts for Sarah Nutri**\n\nHere are a few ideas to bring this strategy to life:\n\n**1. Instagram Carousel Post (Education & Practical Tips):**\n    *   **Title Slide:** \"The Truth About Intermittent Fasting: Is It Right For YOU?\"\n    *   **Slide 2:** \"What is IF?\" (Simple explanation)\n    *   **Slide 3:** \"Potential Benefits\" (Weight management, insulin sensitivity, etc.)\n    *   **Slide 4:** \"Who It's NOT For\" (Pregnant, certain medical conditions)\n    *   **Slide 5:** \"Tips for Getting Started (Safely)\" (Hydration, listen to your body)\n    *   **Slide 6:** \"My Takeaway\" (Emphasize personalized approach, consult a pro)\n    *   **CTA:** \"Swipe to learn! Share your thoughts in the comments – have you tried IF? 👇\"\n    *   **Visuals:** Clean, branded graphics with easy-to-read text, perhaps a photo of Sarah on the last slide.\n\n**2. Instagram Reel / TikTok (Recipe & Hack):**\n    *   **Audio:** Upbeat, trending sound.\n    *   **Video:** Fast-paced montage.\n    *   **Text Overlay:** \"🍓 2-Minute Healthy Breakfast Hack!\"\n    *   **Content:** Quick visual steps of making overnight oats or a simple smoothie. Show ingredients, blending/mixing, finished product.\n    *   **Voiceover/Captions:** \"Busy morning? Try this! High protein, fiber, and SO delicious. Recipe in caption!\"\n    *   **CTA:** \"Save this for your next busy morning! What's your go-to quick breakfast?\"\n\n**3. Facebook Post (Community & Motivation):**\n    *   **Text:** \"Happy Monday, Nutri Fam! ✨ Let's kick off the week by celebrating progress, not perfection. Instead of focusing on what you 'shouldn't' eat, tell me: What's ONE healthy habit you're genuinely EXCITED to practice this week? Maybe it's enjoying a colorful salad, going for a walk, or simply drinking more water! Share below and inspire someone else! Let's uplift each other. 👇\"\n    *   **Visual:** A warm, inviting photo of Sarah smiling or a vibrant, healthy meal.\n\n---\n\nThis comprehensive strategy provides a robust framework for Sarah Nutri's social media presence. We can refine and adapt it based on specific campaigns, new offerings, and audience feedback.\n\n**Next Steps:**\n1.  **Platform Audit:** Review current profiles for branding consistency.\n2.  **Content Calendar:** Develop a 4-week content calendar based on these pillars.\n3.  **Visual Assets:** Plan for photography and graphic design needs.\n4.  **Define Conversion Funnel:** Clarify how social media leads into specific business outcomes.\n\nLet's get to work, Sarah! Your audience is waiting."],"estimatedTokens":2555,"options":{"google_api_key":{"lc":1,"type":"secret","id":["GOOGLE_API_KEY"]},"base_url":"https://generativelanguage.googleapis.com","model":"gemini-2.5-flash"}}}]]}}],"Nano Banana AI":[{"startTime":1775613944116,"executionIndex":6,"source":[{"previousNode":"Gemini: Rewrite","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":14739,"executionStatus":"success","data":{"main":[[{"json":{"text":"A highly detailed, photorealistic AI image of a vibrant and healthy elderly person, approximately 70-75 years old, radiating genuine joy and contentment.\n\n**Subject:** The person has an infectious, warm smile that lights up their face, causing their eyes to crinkle beautifully with laughter and happiness. Their clear, healthy skin shows natural, soft age lines that convey a life rich with experience and well-being, rather than frailty. Their silver or salt-and-pepper hair is neatly styled, catching the soft, natural light, adding to their vibrant appearance.\n\n**Pose & Activity:** They are captured in a dynamic moment, perhaps with a slight tilt of their head and an open, cheerful expression, as if they've just shared a delightful laugh or are happily observing something in their surroundings. Their posture is upright and confident, subtly suggesting an active and engaged lifestyle. Their hands are relaxed, perhaps holding a gardening tool or a simple book, but without being the primary focus.\n\n**Clothing:** They are dressed in comfortable, tasteful, and subtly stylish everyday wear suitable for light outdoor activity or leisure – perhaps a soft-knit cardigan or a lightweight, breathable jacket in a cheerful yet natural color (like a soft periwinkle, sage green, or muted coral), over a comfortable, light-colored top.\n\n**Environment:** The setting is a bright, sun-drenched outdoor park or a beautiful, well-maintained botanical garden. Lush, vibrant green foliage, and soft-focus, colorful blooming flowers create a serene and inviting natural background. A hint of a gently winding pathway or a tranquil garden bench might be subtly visible in the mid-ground.\n\n**Lighting & Mood:** The image is bathed in bright, natural daylight, possibly during the golden hour, casting soft, flattering light and warm, gentle shadows that enhance their features and create a serene yet lively atmosphere. The overall feeling is one of peaceful joy, active well-being, and a deep appreciation for healthy aging and a vibrant life. The composition should feel authentic and candid."},"pairedItem":{"item":0}}]]}},{"startTime":1775613987692,"executionIndex":14,"source":[{"previousNode":"Gemini: Rewrite","previousNodeOutput":0,"previousNodeRun":1}],"hints":[],"executionTime":9018,"executionStatus":"success","data":{"main":[[{"json":{"text":"A stunning, highly photorealistic, and intricately detailed AI image of a vibrant and healthy elderly woman in her early 80s. She possesses a gentle yet bright smile, radiating pure joy and contentment, with clear, sparkling eyes that convey a lifetime of wisdom and happiness. Her skin has the beautiful texture of age, yet her complexion is fresh and healthy. She is captured in a serene moment, gently pruning a blooming rose bush in a sun-drenched, well-tended garden. She wears a comfortable, stylish, light-blue linen blouse and beige gardening trousers, with a broad-brimmed straw hat providing elegant shade. Her posture is upright and graceful, indicating excellent vitality. The garden around her is a riot of colorful, healthy flowers and lush greenery, with the soft, warm glow of late afternoon sunlight illuminating the scene. Delicate dew drops are visible on some petals. The focus is on her serene enjoyment of the moment, embodying a life well-lived and full of healthy happiness. Natural light, soft bokeh background, ultra-high resolution, cinematic quality, professional photography."},"pairedItem":{"item":0}}]]}},{"startTime":1775614027262,"executionIndex":22,"source":[{"previousNode":"Gemini: Rewrite","previousNodeOutput":0,"previousNodeRun":2}],"hints":[],"executionTime":11249,"executionStatus":"success","data":{"main":[[{"json":{"text":"Here's a detailed photorealistic AI image prompt for \"Nano Banana 2.0\" based on the \"Sarah Nutri\" text:\n\n---\n\n**Prompt:**\n\n**Subject:** A truly vibrant and healthy elderly woman in her late 70s to early 80s. She exudes profound contentment and joy, with a genuine, radiant smile lighting up her face and expressive, sparkling eyes that convey a lifetime of well-being. Her skin has the natural beautiful texture of age but is luminous and well-hydrated, reflecting a healthy lifestyle. Her silver hair is elegantly styled, perhaps in soft waves or a neat, graceful bob.\n\n**Activity & Pose:** She is seated comfortably and gracefully on a sun-drenched, rustic wooden garden bench or a stylish woven outdoor armchair. Her posture is relaxed yet engaged. She is gently holding a small, vibrant terracotta pot containing a flourishing herb plant, such as fragrant basil or mint, cradling it with a tender, appreciative gesture. Alternatively, her hands could be wrapped around a beautiful ceramic mug, savoring a warm, steaming herbal tea, with a look of serene enjoyment.\n\n**Environment:** The setting is an impeccably maintained, lush botanical garden or a picturesque sunlit patio. The background is a soft, natural bokeh blur of abundant greenery, colorful blooming flowers (e.g., lavender, roses, hydrangeas in soft pastels and vibrant natural hues), and perhaps a hint of a charming stone pathway or a trickling water feature. The overall atmosphere is one of peaceful tranquility, natural beauty, and outdoor freshness.\n\n**Attire:** She is dressed in comfortable, age-appropriate, and subtly elegant attire. This could be a light, breathable linen blouse in a soft, natural tone (e.g., sage green, sky blue, cream) paired with well-fitting, comfortable trousers or a flowing skirt. A delicate, lightweight cardigan might be draped over her shoulders, suggesting a pleasant, mild climate. Her clothing complements the natural surroundings without being distracting.\n\n**Lighting & Mood:** The scene is bathed in the warm, soft, golden hour light of late afternoon, creating gentle highlights and shadows that enhance her features and the natural textures. The lighting emphasizes a healthy glow on her skin. The mood is overwhelmingly positive, serene, joyful, and deeply peaceful, embodying the essence of a life lived with sustained health, happiness, and connection to nature.\n\n**Artistic Style:** Ultra photorealistic, high-resolution, and highly detailed. The focus should be incredibly sharp on the woman, with a natural, pleasing depth of field. The textures of her clothing, the plant, the bench, and her skin should be rendered with exquisite realism. The color palette should be rich but natural, warm, and inviting.\n\n---"},"pairedItem":{"item":0}}]]}}],"Discord Notify":[{"startTime":1775613958855,"executionIndex":8,"source":[{"previousNode":"Nano Banana AI","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":546,"executionStatus":"success","data":{"main":[[{"json":{"success":true},"pairedItem":{"item":0}}]]}},{"startTime":1775613996711,"executionIndex":16,"source":[{"previousNode":"Nano Banana AI","previousNodeOutput":0,"previousNodeRun":1}],"hints":[],"executionTime":338,"executionStatus":"success","data":{"main":[[{"json":{"success":true},"pairedItem":{"item":0}}]]}},{"startTime":1775614038513,"executionIndex":24,"source":[{"previousNode":"Nano Banana AI","previousNodeOutput":0,"previousNodeRun":2}],"hints":[],"executionTime":332,"executionStatus":"success","data":{"main":[[{"json":{"success":true},"pairedItem":{"item":0}}]]}}],"Wait Approval":[{"startTime":1775613959401,"executionIndex":9,"source":[{"previousNode":"Discord Notify","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5001,"executionStatus":"success","data":{"main":[[{"json":{"success":true},"pairedItem":{"item":0}}]]}},{"startTime":1775613997051,"executionIndex":17,"source":[{"previousNode":"Discord Notify","previousNodeOutput":0,"previousNodeRun":1}],"hints":[],"executionTime":5001,"executionStatus":"success","data":{"main":[[{"json":{"success":true},"pairedItem":{"item":0}}]]}},{"startTime":1775614038846,"executionIndex":25,"source":[{"previousNode":"Discord Notify","previousNodeOutput":0,"previousNodeRun":2}],"hints":[],"executionTime":5001,"executionStatus":"success","data":{"main":[[{"json":{"success":true},"pairedItem":{"item":0}}]]}}],"If Approved?":[{"startTime":1775613964403,"executionIndex":10,"source":[{"previousNode":"Wait Approval","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"success":true},"pairedItem":{"item":0}}]]}},{"startTime":1775614002052,"executionIndex":18,"source":[{"previousNode":"Wait Approval","previousNodeOutput":0,"previousNodeRun":1}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"success":true},"pairedItem":{"item":0}}]]}},{"startTime":1775614043847,"executionIndex":26,"source":[{"previousNode":"Wait Approval","previousNodeOutput":0,"previousNodeRun":2}],"hints":[],"executionTime":2,"executionStatus":"success","data":{"main":[[],[{"json":{"success":true},"pairedItem":{"item":0}}]]}}],"Set Loop Prompt":[{"startTime":1775613964404,"executionIndex":11,"source":[{"previousNode":"If Approved?","previousNodeOutput":1,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"instruction":null},"pairedItem":{"item":0}}]]}},{"startTime":1775614002053,"executionIndex":19,"source":[{"previousNode":"If Approved?","previousNodeOutput":1,"previousNodeRun":1}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"instruction":null},"pairedItem":{"item":0}}]]}},{"startTime":1775614043850,"executionIndex":27,"source":[{"previousNode":"If Approved?","previousNodeOutput":1,"previousNodeRun":2}],"hints":[],"executionTime":2,"executionStatus":"success","data":{"main":[[{"json":{"instruction":null},"pairedItem":{"item":0}}]]}}]},"pinData":null,"lastNodeExecuted":"Set Loop Prompt"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{"Gemini Model":[{"subRun":[{"node":"Gemini Model","runIndex":0}]},{"subRun":[{"node":"Gemini Model","runIndex":1}]},{"subRun":[{"node":"Gemini Model","runIndex":2}]}],"Gemini Model 2":[{"subRun":[{"node":"Gemini Model 2","runIndex":0}]},{"subRun":[{"node":"Gemini Model 2","runIndex":1}]},{"subRun":[{"node":"Gemini Model 2","runIndex":2}]}]},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1775613934408,"source":"manual","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger"}}},"resumeToken":"6dd836b6ec5c168fcd10cedb92cb563e62f9f3a8c930aa97a3230f5cef80f207"},"workflowData":{"id":"7lMKf6pBkbOP1Qxf","name":"Sarah Nutri - RSS -> Discord -> Postiz (LOOP)","active":false,"activeVersionId":null,"isArchived":false,"createdAt":"2026-04-08T01:04:34.106Z","updatedAt":"2026-04-08T02:04:44.099Z","nodes":[{"parameters":{"notice":""},"id":"trigger-id","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-700,0]},{"parameters":{"url":"https://www.who.int/rss-feeds/news-english.xml","options":{}},"id":"rss-id","name":"RSS Health News","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-500,0]},{"parameters":{"maxItems":1,"keep":"firstItems"},"id":"limit-id","name":"Latest Article","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-300,0]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"a1","name":"instruction","value":"={{ 'Summarize this health news into a punchy Pinterest post for seniors. Include 5 hashtags. News: ' + $json.title + ' - ' + $json.contentSnippet }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"set-initial","name":"Set Initial Prompt","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-100,0]},{"parameters":{"notice":"","promptType":"define","text":"={{ 'You are an expert social media manager for Sarah Nutri. ' + $json.instruction }}","hasOutputParser":false,"needsFallback":false,"messages":{}},"id":"rewrite-id","name":"Gemini: Rewrite","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[100,0]},{"parameters":{"notice":"","modelName":"models/gemini-2.5-flash","options":{}},"id":"model-id","name":"Gemini Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,200],"credentials":{"googlePalmApi":{"id":"ZYtHRqXd2R1ruL4K","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"notice":"","promptType":"define","text":"={{ 'Nano Banana 2.0: Create a detailed photorealistic AI image prompt of a healthy elderly person enjoying life based on this text: ' + $json.text }}","hasOutputParser":false,"needsFallback":false,"messages":{}},"id":"nano-id","name":"Nano Banana AI","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[300,0]},{"parameters":{"notice":"","modelName":"models/gemini-2.5-flash","options":{}},"id":"model-id-2","name":"Gemini Model 2","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[200,200],"credentials":{"googlePalmApi":{"id":"ZYtHRqXd2R1ruL4K","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"authentication":"webhook","operation":"sendLegacy","content":"=✨ **Sarah Nutri Proposal** ✨\n\n{{ $node[\"Gemini: Rewrite\"].json.text.substring(0, 800) }}...\n\n🖼️ **IMG PROMPT:**\n{{ $json.text.substring(0, 600) }}...\n\n✅ **[APPROVE & POST](http://localhost:8080/webhook-waiting/{{ $execution.id }}?approved=true)**\n❌ **[REJECT & REWRITE](http://localhost:8080/webhook-waiting/{{ $execution.id }}?approved=false&feedback=Try+again)**\n*(To give specific feedback, copy the reject link, change \"Try+again\" in the URL, and paste it in your browser!)*","options":{},"embeds":{},"files":{}},"id":"discord-id","name":"Discord Notify","type":"n8n-nodes-base.discord","typeVersion":2,"position":[500,0],"credentials":{"discordWebhookApi":{"id":"7i15uQZ2xyb2Y3zH","name":"Discord Webhook account"}},"webhookId":"cc79f0c4-0f47-4628-bc82-e1fe98666be2"},{"parameters":{"resume":"timeInterval","amount":5,"unit":"seconds"},"id":"wait-id","name":"Wait Approval","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[700,0],"webhookId":"resume-webhook-rss"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.query.approved }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":false,"options":{}},"id":"if-id","name":"If Approved?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,0]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"a2","name":"instruction","value":"={{ 'The user REJECTED the previous version with this feedback: \"' + $json.query.feedback + '\". Please rewrite the content taking this feedback into account. Previous version: ' + $node[\"Gemini: Rewrite\"].json.text.substring(0, 1000) }}","type":"string"}]},"includeOtherFields":false,"options":{}},"id":"set-loop","name":"Set Loop Prompt","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,-200]},{"parameters":{"curlImport":"","method":"POST","url":"http://postiz:5000/api/posts","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"content","value":"={{ $node[\"Gemini: Rewrite\"].json.text }}"}]},"options":{},"infoMessage":""},"id":"postiz-id","name":"Post to Postiz","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1100,0],"credentials":{"httpBearerAuth":{"id":"PQBPODFShCWLqouN","name":"Bearer Auth account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"RSS Health News","type":"main","index":0}]]},"RSS Health News":{"main":[[{"node":"Latest Article","type":"main","index":0}]]},"Latest Article":{"main":[[{"node":"Set Initial Prompt","type":"main","index":0}]]},"Set Initial Prompt":{"main":[[{"node":"Gemini: Rewrite","type":"main","index":0}]]},"Gemini Model":{"ai_languageModel":[[{"node":"Gemini: Rewrite","type":"ai_languageModel","index":0}]]},"Gemini: Rewrite":{"main":[[{"node":"Nano Banana AI","type":"main","index":0}]]},"Gemini Model 2":{"ai_languageModel":[[{"node":"Nano Banana AI","type":"ai_languageModel","index":0}]]},"Nano Banana AI":{"main":[[{"node":"Discord Notify","type":"main","index":0}]]},"Discord Notify":{"main":[[{"node":"Wait Approval","type":"main","index":0}]]},"Wait Approval":{"main":[[{"node":"If Approved?","type":"main","index":0}]]},"If Approved?":{"main":[[{"node":"Post to Postiz","type":"main","index":0}],[{"node":"Set Loop Prompt","type":"main","index":0}]]},"Set Loop Prompt":{"main":[[{"node":"Gemini: Rewrite","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"pinData":null},"workflowVersionId":"803dd807-6c8f-4bea-9df9-a8dc5784a78f","customData":{}}