updated_workflow.json
{
  "name": "Sarah Nutri - RSS SIMPLE",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-id",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://medlineplus.gov/feeds/topics/seniorshealth.xml"
      },
      "id": "rss-id",
      "name": "RSS Seniors Health",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "limit-id",
      "name": "Latest Article",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'You are Sarah Nutri. Summarize this health news into a punchy Pinterest post for seniors. Include 5 hashtags. News: ' + $json.title + ' - ' + $json.contentSnippet }}"
      },
      "id": "rewrite-id",
      "name": "Gemini: Rewrite",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        100,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "bonsai-8b"
        },
        "options": {}
      },
      "id": "model-id",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "b0nsa1OpenAi8081",
          "name": "Bonsai OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ 'Sarah Nutri Proposal:\n\n' + $('Gemini: Rewrite').item.json.text + '\n\nAPPROVE: http://localhost:8080/rest/webhooks/approve' }}",
        "options": {}
      },
      "id": "discord-id",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        300,
        0
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "7i15uQZ2xyb2Y3zH"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "RSS Seniors Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Seniors Health": {
      "main": [
        [
          {
            "node": "Latest Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Latest Article": {
      "main": [
        [
          {
            "node": "Gemini: Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini: Rewrite",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Rewrite": {
      "main": [
        [
          {
            "node": "Discord Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
