workflow_sarah_nutri_approval_callback.json
{
  "name": "Sarah Nutri - Approval Callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "sarah-nutri-approval",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "approval-webhook",
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1100,
        0
      ],
      "webhookId": "sarah-nutri-approval"
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "GET",
        "url": "={{ `http://localhost:5678/api/v1/executions/${$node[\"Approval Webhook\"].json.query.executionId}?includeData=true` }}",
        "authentication": "none",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2OTg0YTliYi1mMmM5LTRjMTUtYmY3NC1jZDVmZDVjYmQ1YWQiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU5Nzk1MTg2fQ.7ui0fuFgZ0zm5xew5COKoLVbYDNl49G6Iy2M2IUtj-g"
            }
          ]
        },
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "id": "get-source-execution",
      "name": "Get Source Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -900,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "action",
              "name": "action",
              "value": "={{ ($node[\"Approval Webhook\"].json.query.action || \"\").toString().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "feedback",
              "name": "feedback",
              "value": "={{ $node[\"Approval Webhook\"].json.query.feedback || \"Needs revision\" }}",
              "type": "string"
            },
            {
              "id": "source-title",
              "name": "sourceTitle",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.sourceTitle }}",
              "type": "string"
            },
            {
              "id": "source-link",
              "name": "sourceLink",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.sourceLink }}",
              "type": "string"
            },
            {
              "id": "source-snippet",
              "name": "sourceSnippet",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.sourceSnippet }}",
              "type": "string"
            },
            {
              "id": "post-text",
              "name": "postText",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.postText }}",
              "type": "string"
            },
            {
              "id": "source-image",
              "name": "sourceImageUrl",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.sourceImageUrl || '' }}",
              "type": "string"
            },
            {
              "id": "source-video",
              "name": "sourceVideoUrl",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.sourceVideoUrl || '' }}",
              "type": "string"
            },
            {
              "id": "image-prompt",
              "name": "imagePrompt",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.imagePrompt }}",
              "type": "string"
            },
            {
              "id": "generated-media-id",
              "name": "generatedMediaId",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.generatedMediaId || \"\" }}",
              "type": "string"
            },
            {
              "id": "generated-media-path",
              "name": "generatedMediaPath",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.generatedMediaPath || \"\" }}",
              "type": "string"
            },
            {
              "id": "generated-media-url",
              "name": "generatedMediaUrl",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.generatedMediaUrl || \"\" }}",
              "type": "string"
            },
            {
              "id": "generated-media-name",
              "name": "generatedMediaName",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.generatedMediaName || \"\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "extract-draft",
      "name": "Extract Draft",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -700,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approved-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-approved",
      "name": "If Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -500,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "rev-title",
              "name": "sourceTitle",
              "value": "={{ $json.sourceTitle }}",
              "type": "string"
            },
            {
              "id": "rev-link",
              "name": "sourceLink",
              "value": "={{ $json.sourceLink }}",
              "type": "string"
            },
            {
              "id": "rev-snippet",
              "name": "sourceSnippet",
              "value": "={{ $json.sourceSnippet }}",
              "type": "string"
            },
            {
              "id": "rev-image",
              "name": "sourceImageUrl",
              "value": "={{ $json.sourceImageUrl || '' }}",
              "type": "string"
            },
            {
              "id": "rev-video",
              "name": "sourceVideoUrl",
              "value": "={{ $json.sourceVideoUrl || '' }}",
              "type": "string"
            },
            {
              "id": "rev-instruction",
              "name": "instruction",
              "value": "={{ `The user rejected the previous Sarah Nutri draft with this feedback: \"${$json.feedback}\". Rewrite the post so it addresses that feedback while staying concise, practical, warm, and senior-friendly. Previous draft: ${($json.postText || \"\").substring(0, 700)}. Source article: ${$json.sourceTitle} - ${$json.sourceSnippet}` }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "build-revision-context",
      "name": "Build Revision Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        -180
      ]
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ `You are an expert social media manager for Sarah Nutri. ${$json.instruction}` }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {}
      },
      "id": "rewrite-id",
      "name": "Gemini: Rewrite",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -100,
        -180
      ]
    },
    {
      "parameters": {
        "notice": "",
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "model-id",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -200,
        20
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "ZYtHRqXd2R1ruL4K",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ `Create a detailed photorealistic social media image prompt for adults and seniors based on this post. Describe the subject, scene, lighting, mood, framing, and realism. Do not mention the model name. Do not mention bananas unless the text explicitly requires bananas. Post text: ${$json.text}` }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {}
      },
      "id": "nano-id",
      "name": "Nano Banana AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        100,
        -180
      ]
    },
    {
      "parameters": {
        "notice": "",
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "model-id-2",
      "name": "Gemini Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        20
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "ZYtHRqXd2R1ruL4K",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "draft-title",
              "name": "sourceTitle",
              "value": "={{ $node[\"Build Revision Context\"].json.sourceTitle }}",
              "type": "string"
            },
            {
              "id": "draft-link",
              "name": "sourceLink",
              "value": "={{ $node[\"Build Revision Context\"].json.sourceLink }}",
              "type": "string"
            },
            {
              "id": "draft-snippet",
              "name": "sourceSnippet",
              "value": "={{ $node[\"Build Revision Context\"].json.sourceSnippet }}",
              "type": "string"
            },
            {
              "id": "draft-image",
              "name": "sourceImageUrl",
              "value": "={{ $node[\"Build Revision Context\"].json.sourceImageUrl || '' }}",
              "type": "string"
            },
            {
              "id": "draft-video",
              "name": "sourceVideoUrl",
              "value": "={{ $node[\"Build Revision Context\"].json.sourceVideoUrl || '' }}",
              "type": "string"
            },
            {
              "id": "post-text",
              "name": "postText",
              "value": "={{ $node[\"Gemini: Rewrite\"].json.text }}",
              "type": "string"
            },
            {
              "id": "image-prompt",
              "name": "imagePrompt",
              "value": "={{ $node[\"Nano Banana AI\"].json.text || \"\" }}",
              "type": "string"
            },
            {
              "id": "generated-media-id",
              "name": "generatedMediaId",
              "value": "={{ $node[\"Upload Generated Image\"].json.id || \"\" }}",
              "type": "string"
            },
            {
              "id": "generated-media-path",
              "name": "generatedMediaPath",
              "value": "={{ $node[\"Upload Generated Image\"].json.path || \"\" }}",
              "type": "string"
            },
            {
              "id": "generated-media-url",
              "name": "generatedMediaUrl",
              "value": "={{ $node[\"Upload Generated Image\"].json.path || \"\" }}",
              "type": "string"
            },
            {
              "id": "generated-media-name",
              "name": "generatedMediaName",
              "value": "={{ $node[\"Upload Generated Image\"].json.name || \"\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "assemble-draft",
      "name": "Assemble Draft",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        -180
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "approval-message",
              "name": "discordMessage",
              "value": "={{ `Sarah Nutri approval request\\n\\nSource title:\\n${$json.sourceTitle || \"Untitled\"}\\n\\nSource link:\\n${$json.sourceLink || \"\"}\\n\\nSource media preview:\\n${$json.sourceVideoUrl || $json.sourceImageUrl || \"No source media preview available\"}\\n\\nAI image fallback:\\n${$json.generatedMediaPath || \"AI image generation unavailable\"}\\n\\nDraft post:\\n${($json.postText || \"\").substring(0, 900)}${($json.postText || \"\").length > 900 ? \"...\" : \"\"}\\n\\nImage prompt:\\n${($json.imagePrompt || \"\").substring(0, 350)}${($json.imagePrompt || \"\").length > 350 ? \"...\" : \"\"}\\n\\nReview page:\\n<http://192.168.1.59:8080/webhook/sarah-nutri-review?executionId=${$execution.id}>` }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "prepare-approval",
      "name": "Prepare Approval Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        -180
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "operation": "sendLegacy",
        "content": "={{ $json.discordMessage }}",
        "options": {},
        "embeds": {},
        "files": {}
      },
      "id": "discord-id",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1380,
        -180
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "7i15uQZ2xyb2Y3zH",
          "name": "Discord Webhook account"
        }
      },
      "webhookId": "sarah-discord-callback"
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "http://192.168.1.59:4007/api/public/v1/upload-from-url",
        "authentication": "none",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "66809b7288bee402dcf00e1eb8d33b26567844a576f3684a5b1f72aa3d0e97b5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: ($json.sourceVideoUrl || $json.sourceImageUrl || '') }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "infoMessage": ""
      },
      "id": "postiz-upload-id",
      "name": "Upload Source Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -300,
        180
      ]
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "GET",
        "url": "http://192.168.1.59:4007/api/public/v1/integrations",
        "authentication": "none",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "66809b7288bee402dcf00e1eb8d33b26567844a576f3684a5b1f72aa3d0e97b5"
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "id": "postiz-integrations-id",
      "name": "List Postiz Integrations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -180,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const integrations = $input.all().map((item) => item.json).filter((item) => !item.disabled);\nconst sourceUpload = $node['Upload Source Media'].json || {};\nconst draft = $node['Extract Draft'].json;\nconst pinterestBoardId = '1017461809504351582';\nconst sourceMedia = sourceUpload.id && sourceUpload.path ? [{ id: sourceUpload.id, path: sourceUpload.path }] : [];\nconst generatedMedia = draft.generatedMediaId && draft.generatedMediaPath ? [{ id: draft.generatedMediaId, path: draft.generatedMediaPath }] : [];\nconst media = sourceMedia.length ? sourceMedia : generatedMedia;\nconst mediaSource = sourceMedia.length ? 'source' : generatedMedia.length ? 'generated' : 'none';\nconst posts = [];\nconst postedTo = [];\nconst skipped = [];\n\nfor (const integration of integrations) {\n  const identifier = integration.identifier;\n\n  if (identifier === 'youtube') {\n    posts.push({\n      integration: { id: integration.id },\n      value: [{ content: draft.postText || '', image: media }],\n      settings: {\n        __type: 'youtube',\n        title: (draft.sourceTitle || 'Sarah Nutri Draft').substring(0, 95),\n        type: 'private',\n        tags: [],\n      },\n    });\n    postedTo.push(identifier);\n    continue;\n  }\n\n  if (identifier === 'pinterest') {\n    posts.push({\n      integration: { id: integration.id },\n      value: [{ content: draft.postText || '', image: media }],\n      settings: {\n        __type: 'pinterest',\n        board: pinterestBoardId,\n        title: (draft.sourceTitle || 'Sarah Nutri Draft').substring(0, 95),\n        link: draft.sourceLink || '',\n        dominant_color: '#22c55e',\n      },\n    });\n    postedTo.push(identifier);\n    continue;\n  }\n\n  skipped.push({ integration: identifier, reason: 'No workflow posting template configured yet' });\n}\n\nif (!posts.length) {\n  throw new Error('No eligible Postiz integrations are configured for automatic posting');\n}\n\nconst body = {\n  type: 'draft',\n  shortLink: false,\n  date: new Date().toISOString(),\n  tags: [],\n  posts,\n};\n\nreturn [{ json: { postizBody: JSON.stringify(body), postedTo, skipped, mediaSource } }];"
      },
      "id": "build-postiz-body",
      "name": "Build Postiz Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        180
      ]
    },
    {
      "parameters": {
        "curlImport": "",
        "method": "POST",
        "url": "http://192.168.1.59:4007/api/public/v1/posts",
        "authentication": "none",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "66809b7288bee402dcf00e1eb8d33b26567844a576f3684a5b1f72aa3d0e97b5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.postizBody }}",
        "options": {},
        "infoMessage": ""
      },
      "id": "postiz-id",
      "name": "Create Postiz Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        180,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const routing = $node['Build Postiz Body'].json;\nconst response = $input.first().json;\nconst postedTo = routing.postedTo || [];\nconst skipped = routing.skipped || [];\nconst mediaSource = routing.mediaSource || 'none';\nconst postedLine = postedTo.length ? `Sent to Postiz draft queue for: ${postedTo.join(', ')}.` : 'No eligible integrations were posted.';\nconst skippedLine = skipped.length ? ` Skipped: ${skipped.map((item) => `${item.integration} (${item.reason})`).join(', ')}.` : '';\nconst mediaLine = mediaSource === 'source' ? ' Used source media.' : mediaSource === 'generated' ? ' Used generated Gemini image fallback.' : ' No media asset was attached.';\nreturn [{ json: { ok: true, action: 'approve', message: postedLine + skippedLine + mediaLine, postedTo, skipped, mediaSource, postizResponse: response } }];"
      },
      "id": "approve-response-id",
      "name": "Build Approve Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        180
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "reject-ok",
              "name": "ok",
              "value": "={{ true }}",
              "type": "boolean"
            },
            {
              "id": "reject-action",
              "name": "action",
              "value": "reject",
              "type": "string"
            },
            {
              "id": "reject-message",
              "name": "message",
              "value": "Rejected. A rewritten draft should arrive in Discord soon.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "reject-response-id",
      "name": "Build Reject Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: `Create a photorealistic vertical 4:5 social media image. No text overlay. Follow this prompt closely: ${$json.text}` }] }] }) }}",
        "options": {}
      },
      "id": "cb-nano-image-http-id",
      "name": "Generate Nano Banana Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        320,
        -180
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "ZYtHRqXd2R1ruL4K",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const candidate = $json.candidates?.[0];\nconst imagePart = candidate?.content?.parts?.find((part) => part.inlineData?.data);\nif (!imagePart) {\n  throw new Error('No inline image data returned by Gemini');\n}\nconst mimeType = imagePart.inlineData.mimeType || 'image/png';\nconst extension = (mimeType.split('/')[1] || 'png').split(';')[0];\nreturn [{\n  json: { mimeType, extension },\n  binary: {\n    image: {\n      data: imagePart.inlineData.data,\n      mimeType,\n      fileName: `generated.${extension}`\n    }\n  }\n}];"
      },
      "id": "cb-nano-image-binary-id",
      "name": "Build Generated Image Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.59:4007/api/public/v1/upload",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "66809b7288bee402dcf00e1eb8d33b26567844a576f3684a5b1f72aa3d0e97b5"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "cb-nano-image-upload-id",
      "name": "Upload Generated Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        -180
      ]
    }
  ],
  "connections": {
    "Approval Webhook": {
      "main": [
        [
          {
            "node": "Get Source Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Source Execution": {
      "main": [
        [
          {
            "node": "Extract Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Draft": {
      "main": [
        [
          {
            "node": "If Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved?": {
      "main": [
        [
          {
            "node": "Upload Source Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Revision Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Source Media": {
      "main": [
        [
          {
            "node": "List Postiz Integrations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Postiz Integrations": {
      "main": [
        [
          {
            "node": "Build Postiz Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Postiz Body": {
      "main": [
        [
          {
            "node": "Create Postiz Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Postiz Draft": {
      "main": [
        [
          {
            "node": "Build Approve Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Revision Context": {
      "main": [
        [
          {
            "node": "Gemini: Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini: Rewrite",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Rewrite": {
      "main": [
        [
          {
            "node": "Nano Banana AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "Nano Banana AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Nano Banana AI": {
      "main": [
        [
          {
            "node": "Generate Nano Banana Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Draft": {
      "main": [
        [
          {
            "node": "Prepare Approval Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Approval Message": {
      "main": [
        [
          {
            "node": "Discord Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notify": {
      "main": [
        [
          {
            "node": "Build Reject Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Nano Banana Image": {
      "main": [
        [
          {
            "node": "Build Generated Image Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Generated Image Binary": {
      "main": [
        [
          {
            "node": "Upload Generated Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Generated Image": {
      "main": [
        [
          {
            "node": "Assemble Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
