workflow_sarah_nutri_forum_manual_queue.json
{
  "name": "Sarah Nutri - Forum Manual Queue -> Discord Review",
  "nodes": [
    {
      "parameters": {
        "notice": ""
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        40
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sarah-nutri-forum-candidates",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "forum-intake-webhook",
      "name": "Forum Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -980,
        -160
      ],
      "webhookId": "sarah-nutri-forum-candidates"
    },
    {
      "parameters": {
        "jsCode": "const config = {\n  \"brand\": \"Sarah Nutri\",\n  \"mode\": \"human_approval_required\",\n  \"daily_approved_post_limit\": 5,\n  \"affiliate_link_probability\": 0.15,\n  \"default_disclosure\": \"Disclosure: this may be an affiliate link, which means I may earn a small commission at no extra cost to you.\",\n  \"reddit\": {\n    \"search_limit\": 15,\n    \"search_query\": \"(elderly OR senior OR \\\"aging parent\\\" OR caregiver OR arthritis OR mobility OR sleep OR constipation OR appetite OR hydration OR \\\"blood pressure\\\")\",\n    \"target_subreddits\": [\n      \"AgingParents\",\n      \"CaregiverSupport\",\n      \"eldercare\",\n      \"AskOldPeopleAdvice\",\n      \"nutrition\",\n      \"Supplements\"\n    ],\n    \"blocked_subreddits\": [\n      \"AskDocs\",\n      \"medical\",\n      \"DiagnoseMe\"\n    ]\n  },\n  \"quora\": {\n    \"daily_manual_post_limit\": 5,\n    \"source_mode\": \"draft_only_until_reviewed\",\n    \"google_query\": \"site:quora.com elderly senior health caregiver nutrition sleep mobility question\"\n  },\n  \"safety\": {\n    \"block_if_contains\": [\n      \"chest pain\",\n      \"stroke\",\n      \"suicidal\",\n      \"suicide\",\n      \"overdose\",\n      \"can't breathe\",\n      \"cannot breathe\",\n      \"severe bleeding\",\n      \"fainted\",\n      \"unconscious\",\n      \"sepsis\",\n      \"blood in stool\",\n      \"blood in urine\"\n    ],\n    \"requires_human_review\": [\n      \"medication\",\n      \"dose\",\n      \"dosage\",\n      \"diagnosis\",\n      \"treatment\",\n      \"cancer\",\n      \"diabetes\",\n      \"kidney disease\",\n      \"heart failure\",\n      \"dementia\"\n    ]\n  }\n};\nconst products = [\n  {\n    \"slug\": \"digistore24-family-skyhighperformers-neuroquiet\",\n    \"name\": \"NeuroQuiet\",\n    \"family_name\": \"NeuroQuiet\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/cf-digistore24-family-skyhighperformers-neuroquiet\",\n    \"source\": \"affiliate_sales_history\",\n    \"digistore24_id\": \"576858\",\n    \"vendor_name\": \"skyhighperformers\",\n    \"product_type_name\": \"Supplements - health\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 7,\n    \"variant_names\": [\n      \"NeuroQuiet (6 Bottles)\",\n      \"NeuroQuiet (3 Bottles)\",\n      \"NeuroQuiet (1 Bottle)\",\n      \"NeuroQuiet 6 More Bottles\",\n      \"NeuroQuiet 3 More Bottles\",\n      \"NeuroQuiet 2 More Bottles\",\n      \"NeuroQuiet 6 More Bottles\"\n    ],\n    \"match_keywords\": [\n      \"neuroquiet\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 1,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0.0952,\n      \"recency\": 0.0482,\n      \"approval\": 1,\n      \"total\": 0.735\n    },\n    \"total_score\": 0.735,\n    \"scoring_reason\": \"strong keyword relevance, high earnings per sale, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches NeuroQuiet or these themes: neuroquiet, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/576858/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KPYSSH5TSNP7Y69E0Z89JGTH\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-skyhighperformers-neuroquiet\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"cf-digistore24-family-skyhighperformers-neuroquiet\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-24T03:51:01.051Z\",\n    \"dub_updated_at\": \"2026-04-24T03:51:01.051Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-asperdigital-m1-neurofortis-pro-1-btl-69\",\n    \"name\": \"M1 NeuroFortis PRO 1 Btl $69\",\n    \"family_name\": \"M1 NeuroFortis PRO 1 Btl $69\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/602881/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"602881\",\n    \"vendor_name\": \"Asperdigital\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M1 NeuroFortis PRO 1 btl $69\"\n    ],\n    \"match_keywords\": [\n      \"neurofortis\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M1 NeuroFortis PRO 1 Btl $69 or these themes: neurofortis, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/602881/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-asperdigital-m2-neurofortis-pro-3-btls-177\",\n    \"name\": \"M2 NeuroFortis PRO 3 Btls $177\",\n    \"family_name\": \"M2 NeuroFortis PRO 3 Btls $177\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/602883/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"602883\",\n    \"vendor_name\": \"Asperdigital\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M2 NeuroFortis PRO 3 btls $177\"\n    ],\n    \"match_keywords\": [\n      \"neurofortis\",\n      \"btls\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M2 NeuroFortis PRO 3 Btls $177 or these themes: neurofortis, btls, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/602883/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-asperdigital-m3-neurofortis-pro-6-btls-294\",\n    \"name\": \"M3 NeuroFortis PRO 6 Btls $294\",\n    \"family_name\": \"M3 NeuroFortis PRO 6 Btls $294\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/602884/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"602884\",\n    \"vendor_name\": \"Asperdigital\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M3 NeuroFortis PRO 6 btls $294\"\n    ],\n    \"match_keywords\": [\n      \"neurofortis\",\n      \"btls\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M3 NeuroFortis PRO 6 Btls $294 or these themes: neurofortis, btls, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/602884/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-asperdigital-m4-neurofortis-pro-2-btls-118\",\n    \"name\": \"M4 NeuroFortis PRO 2 Btls $118\",\n    \"family_name\": \"M4 NeuroFortis PRO 2 Btls $118\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/602886/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"602886\",\n    \"vendor_name\": \"Asperdigital\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M4 NeuroFortis PRO 2 btls $118\"\n    ],\n    \"match_keywords\": [\n      \"neurofortis\",\n      \"btls\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M4 NeuroFortis PRO 2 Btls $118 or these themes: neurofortis, btls, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/602886/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-docsrem-the-doctor-s-book-of-survival-home-remedies\",\n    \"name\": \"The Doctor's Book Of Survival Home Remedies\",\n    \"family_name\": \"The Doctor's Book Of Survival Home Remedies\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/467670/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"467670\",\n    \"vendor_name\": \"docsrem\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"The Doctor's Book Of Survival Home Remedies\"\n    ],\n    \"match_keywords\": [\n      \"doctor\",\n      \"book\",\n      \"survival\",\n      \"home\",\n      \"remedies\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches The Doctor's Book Of Survival Home Remedies or these themes: doctor, book, survival, home, remedies.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/467670/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-durchstartenonline-30-days-ketogenic-meal-plan\",\n    \"name\": \"30-Days Ketogenic Meal Plan\",\n    \"family_name\": \"30-Days Ketogenic Meal Plan\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/273309/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"273309\",\n    \"vendor_name\": \"durchstartenonline\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 2,\n    \"variant_names\": [\n      \"30-Days Ketogenic Meal Plan\",\n      \"30-Days Ketogenic Meal Plan\"\n    ],\n    \"match_keywords\": [\n      \"days\",\n      \"ketogenic\",\n      \"meal\",\n      \"plan\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches 30-Days Ketogenic Meal Plan or these themes: days, ketogenic, meal, plan.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/273309/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-flightpathgolfllc-main-1-1-flightpath-golf-tees-24-tees-2-75-49-99\",\n    \"name\": \"MAIN 1.1 - Flightpath Golf Tees 24 Tees - 2.75 - $49.99\",\n    \"family_name\": \"MAIN 1.1 - Flightpath Golf Tees 24 Tees - 2.75 - $49.99\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/481177/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"481177\",\n    \"vendor_name\": \"FlightpathGolfLLC\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 1.1 - Flightpath Golf Tees 24 tees - 2.75 - $49.99\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"flightpath\",\n      \"golf\",\n      \"tees\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 1.1 - Flightpath Golf Tees 24 Tees - 2.75 - $49.99 or these themes: main, flightpath, golf, tees.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/481177/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-ketodiet-keto-air-fryer-cookbook-ds07\",\n    \"name\": \"Keto Air Fryer Cookbook (DS07)\",\n    \"family_name\": \"Keto Air Fryer Cookbook (DS07)\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/411008/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"411008\",\n    \"vendor_name\": \"ketodiet\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Keto Air Fryer Cookbook (DS07)\"\n    ],\n    \"match_keywords\": [\n      \"keto\",\n      \"fryer\",\n      \"cookbook\",\n      \"ds07\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keto Air Fryer Cookbook (DS07) or these themes: keto, fryer, cookbook, ds07.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/411008/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-ketodiet-keto-bread-pasta-pizza-collection\",\n    \"name\": \"Keto Bread Pasta Pizza Collection\",\n    \"family_name\": \"Keto Bread Pasta Pizza Collection\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/403387/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"403387\",\n    \"vendor_name\": \"ketodiet\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Keto Bread Pasta Pizza Collection\"\n    ],\n    \"match_keywords\": [\n      \"keto\",\n      \"bread\",\n      \"pasta\",\n      \"pizza\",\n      \"collection\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keto Bread Pasta Pizza Collection or these themes: keto, bread, pasta, pizza, collection.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/403387/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-keyslim-keyslim-drops-3-digital-bonuses\",\n    \"name\": \"Keyslim Drops - + 3 Digital Bonuses\",\n    \"family_name\": \"Keyslim Drops - + 3 Digital Bonuses\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/527379/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"527379\",\n    \"vendor_name\": \"keyslim\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 2,\n    \"variant_names\": [\n      \"Keyslim Drops - 3 Bottles + 3 Digital Bonuses\",\n      \"Keyslim Drops - 6 Bottles + 3 Digital Bonuses\"\n    ],\n    \"match_keywords\": [\n      \"keyslim\",\n      \"drops\",\n      \"digital\",\n      \"bonuses\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keyslim Drops - + 3 Digital Bonuses or these themes: keyslim, drops, digital, bonuses.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/527379/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-lostrec-the-lost-superfoods-physical-and-digital-us\",\n    \"name\": \"The Lost Superfoods Physical And Digital US\",\n    \"family_name\": \"The Lost Superfoods Physical And Digital US\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/377301/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"377301\",\n    \"vendor_name\": \"lostrec\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"The Lost Superfoods Physical and Digital US\"\n    ],\n    \"match_keywords\": [\n      \"lost\",\n      \"superfoods\",\n      \"physical\",\n      \"digital\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches The Lost Superfoods Physical And Digital US or these themes: lost, superfoods, physical, digital.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/377301/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-mayadunna-stress-annihilator-video-guide\",\n    \"name\": \"Stress Annihilator Video Guide\",\n    \"family_name\": \"Stress Annihilator Video Guide\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/547122/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"547122\",\n    \"vendor_name\": \"mayadunna\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Stress Annihilator Video Guide\"\n    ],\n    \"match_keywords\": [\n      \"stress\",\n      \"annihilator\",\n      \"video\",\n      \"guide\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Stress Annihilator Video Guide or these themes: stress, annihilator, video, guide.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/547122/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-add1-members-portal-access-30-day-free\",\n    \"name\": \"ADD1 Members Portal Access 30 Day FREE\",\n    \"family_name\": \"ADD1 Members Portal Access 30 Day FREE\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519020/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519020\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"ADD1 Members Portal Access 30 day FREE\"\n    ],\n    \"match_keywords\": [\n      \"add1\",\n      \"members\",\n      \"portal\",\n      \"access\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches ADD1 Members Portal Access 30 Day FREE or these themes: add1, members, portal, access.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519020/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up2-1-ring-halt\",\n    \"name\": \"UP2.1 - Ring Halt -\",\n    \"family_name\": \"UP2.1 - Ring Halt -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447812/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447812\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP2.1  - Ring Halt - 1 bottle\"\n    ],\n    \"match_keywords\": [\n      \"ring\",\n      \"halt\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP2.1 - Ring Halt - or these themes: ring, halt, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447812/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up2-2-ring-halt\",\n    \"name\": \"UP2.2 - Ring Halt -\",\n    \"family_name\": \"UP2.2 - Ring Halt -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447813/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447813\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP2.2  - Ring Halt - 3 bottles\"\n    ],\n    \"match_keywords\": [\n      \"ring\",\n      \"halt\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP2.2 - Ring Halt - or these themes: ring, halt, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447813/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up2-3-ring-halt\",\n    \"name\": \"UP2.3 - Ring Halt -\",\n    \"family_name\": \"UP2.3 - Ring Halt -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447814/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447814\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP2.3  - Ring Halt - 6 bottles\"\n    ],\n    \"match_keywords\": [\n      \"ring\",\n      \"halt\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP2.3 - Ring Halt - or these themes: ring, halt, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447814/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up4-1-nerve-control-911\",\n    \"name\": \"UP4.1 - Nerve Control 911 -\",\n    \"family_name\": \"UP4.1 - Nerve Control 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447820/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447820\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP4.1  - Nerve Control 911 - 1 bottle\"\n    ],\n    \"match_keywords\": [\n      \"nerve\",\n      \"control\",\n      \"neuropathy\",\n      \"tingling\",\n      \"nerve discomfort\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP4.1 - Nerve Control 911 - or these themes: nerve, control, neuropathy, tingling, nerve discomfort.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447820/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up4-2-nerve-control-911\",\n    \"name\": \"UP4.2 - Nerve Control 911 -\",\n    \"family_name\": \"UP4.2 - Nerve Control 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447821/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447821\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP4.2  - Nerve Control 911 - 3 bottles\"\n    ],\n    \"match_keywords\": [\n      \"nerve\",\n      \"control\",\n      \"neuropathy\",\n      \"tingling\",\n      \"nerve discomfort\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP4.2 - Nerve Control 911 - or these themes: nerve, control, neuropathy, tingling, nerve discomfort.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447821/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up4-3-nerve-control-911\",\n    \"name\": \"UP4.3 - Nerve Control 911 -\",\n    \"family_name\": \"UP4.3 - Nerve Control 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447822/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447822\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP4.3  - Nerve Control 911 - 6 bottles\"\n    ],\n    \"match_keywords\": [\n      \"nerve\",\n      \"control\",\n      \"neuropathy\",\n      \"tingling\",\n      \"nerve discomfort\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP4.3 - Nerve Control 911 - or these themes: nerve, control, neuropathy, tingling, nerve discomfort.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447822/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-rm7866-main1-tsl-echoxen\",\n    \"name\": \"Main1 [TSL] - EchoXen\",\n    \"family_name\": \"Main1 [TSL] - EchoXen\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/578369/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"578369\",\n    \"vendor_name\": \"RM7866\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main1 [TSL] - EchoXen (1 Bottle)\"\n    ],\n    \"match_keywords\": [\n      \"main1\",\n      \"echoxen\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main1 [TSL] - EchoXen or these themes: main1, echoxen, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/578369/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-rm7866-main2-navy-seal-vsl-echoxen\",\n    \"name\": \"Main2 [Navy Seal VSL] - EchoXen\",\n    \"family_name\": \"Main2 [Navy Seal VSL] - EchoXen\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/578370/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"578370\",\n    \"vendor_name\": \"RM7866\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main2 [Navy Seal VSL] - EchoXen (3 Bottles)\"\n    ],\n    \"match_keywords\": [\n      \"main2\",\n      \"navy\",\n      \"seal\",\n      \"echoxen\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main2 [Navy Seal VSL] - EchoXen or these themes: main2, navy, seal, echoxen, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/578370/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-rm7866-main2sub-echoxen\",\n    \"name\": \"Main2SUB - EchoXen\",\n    \"family_name\": \"Main2SUB - EchoXen\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/611664/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"611664\",\n    \"vendor_name\": \"RM7866\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main2SUB - EchoXen (3 Bottles)\"\n    ],\n    \"match_keywords\": [\n      \"main2sub\",\n      \"echoxen\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main2SUB - EchoXen or these themes: main2sub, echoxen, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/611664/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-rm7866-echoxen\",\n    \"name\": \"EchoXen\",\n    \"family_name\": \"EchoXen\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/578370/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_sales_history\",\n    \"digistore24_id\": \"578370\",\n    \"vendor_name\": \"RM7866\",\n    \"product_type_name\": \"Supplements - health\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 3,\n    \"variant_names\": [\n      \"EchoXen (3 Bottles)\",\n      \"EchoXen 3 More Bottles\",\n      \"EchoXen (2 Bottles)\"\n    ],\n    \"match_keywords\": [\n      \"echoxen\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.6589,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0.1905,\n      \"recency\": 0.1028,\n      \"approval\": 1,\n      \"total\": 0.684\n    },\n    \"total_score\": 0.684,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches EchoXen or these themes: echoxen, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/578370/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-superwebj-ring-quiet-plus\",\n    \"name\": \"Ring Quiet Plus\",\n    \"family_name\": \"Ring Quiet Plus\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/595448/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_sales_history\",\n    \"digistore24_id\": \"595448\",\n    \"vendor_name\": \"superwebj\",\n    \"product_type_name\": \"Supplements - health\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Ring Quiet Plus 2 bottles\"\n    ],\n    \"match_keywords\": [\n      \"ring\",\n      \"quiet\",\n      \"plus\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.3989,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0.0952,\n      \"recency\": 0.0629,\n      \"approval\": 1,\n      \"total\": 0.6276\n    },\n    \"total_score\": 0.6276,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Ring Quiet Plus or these themes: ring, quiet, plus, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/595448/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-aizenpower-main-1-aizen-power\",\n    \"name\": \"Main 1 Aizen Power\",\n    \"family_name\": \"Main 1 Aizen Power\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/413700/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"413700\",\n    \"vendor_name\": \"aizenpower\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main 1 Aizen Power 1 bottle\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"aizen\",\n      \"power\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main 1 Aizen Power or these themes: main, aizen, power.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/413700/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-aizenpower-main-3-aizen-power\",\n    \"name\": \"Main 3 Aizen Power\",\n    \"family_name\": \"Main 3 Aizen Power\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/413702/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"413702\",\n    \"vendor_name\": \"aizenpower\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main 3 Aizen Power 6 bottles\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"aizen\",\n      \"power\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main 3 Aizen Power or these themes: main, aizen, power.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/413702/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-freedomhealthllc-main-1-glucofreeze-30-day-supply\",\n    \"name\": \"MAIN 1 Glucofreeze - 30 Day Supply\",\n    \"family_name\": \"MAIN 1 Glucofreeze - 30 Day Supply\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/437388/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"437388\",\n    \"vendor_name\": \"freedomhealthllc\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 1 Glucofreeze - 1 BOTTLE 30 Day Supply\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"glucofreeze\",\n      \"supply\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 1 Glucofreeze - 30 Day Supply or these themes: main, glucofreeze, supply.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/437388/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-freedomhealthllc-main-2-glucofreeze-60-day-supply\",\n    \"name\": \"MAIN 2 Glucofreeze - 60 Day Supply\",\n    \"family_name\": \"MAIN 2 Glucofreeze - 60 Day Supply\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/437999/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"437999\",\n    \"vendor_name\": \"freedomhealthllc\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 2 Glucofreeze - 3 BOTTLES 60 Day Supply\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"glucofreeze\",\n      \"supply\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 2 Glucofreeze - 60 Day Supply or these themes: main, glucofreeze, supply.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/437999/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-freedomhealthllc-main-3-glucofreeze-90-day-supply\",\n    \"name\": \"MAIN 3 Glucofreeze - 90 Day Supply\",\n    \"family_name\": \"MAIN 3 Glucofreeze - 90 Day Supply\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/438000/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"438000\",\n    \"vendor_name\": \"freedomhealthllc\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 3 Glucofreeze - 6 BOTTLES 90 Day Supply\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"glucofreeze\",\n      \"supply\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 3 Glucofreeze - 90 Day Supply or these themes: main, glucofreeze, supply.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/438000/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-main-1-fungus-elixir-69\",\n    \"name\": \"MAIN 1 - Fungus Elixir - $69\",\n    \"family_name\": \"MAIN 1 - Fungus Elixir - $69\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488841/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488841\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 1 - Fungus Elixir - 1 bottle $69\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"fungus\",\n      \"elixir\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 1 - Fungus Elixir - $69 or these themes: main, fungus, elixir.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488841/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-main-2-fungus-elixir-177\",\n    \"name\": \"MAIN 2 - Fungus Elixir - $177\",\n    \"family_name\": \"MAIN 2 - Fungus Elixir - $177\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488854/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488854\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 2 - Fungus Elixir - 3 bottles $177\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"fungus\",\n      \"elixir\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 2 - Fungus Elixir - $177 or these themes: main, fungus, elixir.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488854/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-main-3-fungus-elixir-294\",\n    \"name\": \"MAIN 3 - Fungus Elixir - $294\",\n    \"family_name\": \"MAIN 3 - Fungus Elixir - $294\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488855/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488855\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 3 - Fungus Elixir - 6 bottles $294\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"fungus\",\n      \"elixir\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 3 - Fungus Elixir - $294 or these themes: main, fungus, elixir.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488855/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-up-2-the-delicious-candida-diet-47\",\n    \"name\": \"UP 2 - The Delicious Candida Diet - $47\",\n    \"family_name\": \"UP 2 - The Delicious Candida Diet - $47\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488844/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488844\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP 2 - The Delicious Candida Diet - $47\"\n    ],\n    \"match_keywords\": [\n      \"delicious\",\n      \"candida\",\n      \"diet\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP 2 - The Delicious Candida Diet - $47 or these themes: delicious, candida, diet.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488844/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-gazenutra-ad1-spinevivo-1-month-supply\",\n    \"name\": \"AD1 SpineVivo™ 1 Month Supply\",\n    \"family_name\": \"AD1 SpineVivo™ 1 Month Supply\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/573072/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"573072\",\n    \"vendor_name\": \"gazenutra\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"AD1 SpineVivo™ 1 Month Supply\"\n    ],\n    \"match_keywords\": [\n      \"spinevivo\",\n      \"month\",\n      \"supply\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches AD1 SpineVivo™ 1 Month Supply or these themes: spinevivo, month, supply.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/573072/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-ketodiet-keto-snacks-cookbook-f-s\",\n    \"name\": \"Keto Snacks Cookbook (F+S)\",\n    \"family_name\": \"Keto Snacks Cookbook (F+S)\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/400534/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"400534\",\n    \"vendor_name\": \"ketodiet\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Keto Snacks Cookbook (F+S)\"\n    ],\n    \"match_keywords\": [\n      \"keto\",\n      \"snacks\",\n      \"cookbook\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keto Snacks Cookbook (F+S) or these themes: keto, snacks, cookbook.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/400534/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-lostrec-the-lost-superfoods-digital\",\n    \"name\": \"The Lost Superfoods Digital\",\n    \"family_name\": \"The Lost Superfoods Digital\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/377300/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"377300\",\n    \"vendor_name\": \"lostrec\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"The Lost Superfoods Digital\"\n    ],\n    \"match_keywords\": [\n      \"lost\",\n      \"superfoods\",\n      \"digital\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches The Lost Superfoods Digital or these themes: lost, superfoods, digital.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/377300/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-mattpar-tube-mastery-and-monetization\",\n    \"name\": \"Tube Mastery And Monetization\",\n    \"family_name\": \"Tube Mastery And Monetization\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/299134/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"299134\",\n    \"vendor_name\": \"mattpar\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Tube Mastery and Monetization\"\n    ],\n    \"match_keywords\": [\n      \"tube\",\n      \"mastery\",\n      \"monetization\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Tube Mastery And Monetization or these themes: tube, mastery, monetization.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/299134/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds4a-camp-boost\",\n    \"name\": \"DS4a CAMP Boost\",\n    \"family_name\": \"DS4a CAMP Boost\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519007/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519007\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS4a cAMP Boost 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"ds4a\",\n      \"camp\",\n      \"boost\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS4a CAMP Boost or these themes: ds4a, camp, boost.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519007/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds4b-camp-boost\",\n    \"name\": \"DS4b CAMP Boost\",\n    \"family_name\": \"DS4b CAMP Boost\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519009/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519009\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS4b cAMP Boost 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"ds4b\",\n      \"camp\",\n      \"boost\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS4b CAMP Boost or these themes: ds4b, camp, boost.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519009/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds6a-gluta-raise\",\n    \"name\": \"DS6a Gluta Raise\",\n    \"family_name\": \"DS6a Gluta Raise\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519011/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519011\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS6a Gluta Raise 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"ds6a\",\n      \"gluta\",\n      \"raise\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS6a Gluta Raise or these themes: ds6a, gluta, raise.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519011/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds6b-gluta-raise\",\n    \"name\": \"DS6b Gluta Raise\",\n    \"family_name\": \"DS6b Gluta Raise\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519012/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519012\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS6b Gluta Raise 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"ds6b\",\n      \"gluta\",\n      \"raise\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS6b Gluta Raise or these themes: ds6b, gluta, raise.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519012/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-up4a-camp-boost\",\n    \"name\": \"UP4a CAMP Boost\",\n    \"family_name\": \"UP4a CAMP Boost\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519016/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519016\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP4a cAMP Boost 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"up4a\",\n      \"camp\",\n      \"boost\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP4a CAMP Boost or these themes: up4a, camp, boost.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519016/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-up4b-camp-boost\",\n    \"name\": \"UP4b CAMP Boost\",\n    \"family_name\": \"UP4b CAMP Boost\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519017/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519017\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP4b cAMP Boost 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"up4b\",\n      \"camp\",\n      \"boost\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP4b CAMP Boost or these themes: up4b, camp, boost.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519017/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-raposo1-keto-after-50-desserts\",\n    \"name\": \"Keto After 50 Desserts\",\n    \"family_name\": \"Keto After 50 Desserts\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/292043/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"292043\",\n    \"vendor_name\": \"raposo1\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Keto After 50 Desserts\"\n    ],\n    \"match_keywords\": [\n      \"keto\",\n      \"after\",\n      \"desserts\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keto After 50 Desserts or these themes: keto, after, desserts.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/292043/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-skyhighperformers-nervix\",\n    \"name\": \"Nervix\",\n    \"family_name\": \"Nervix\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/577608/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_sales_history\",\n    \"digistore24_id\": \"577608\",\n    \"vendor_name\": \"skyhighperformers\",\n    \"product_type_name\": \"Supplements - health\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Nervix (6 Bottles)\"\n    ],\n    \"match_keywords\": [\n      \"nervix\",\n      \"nerve\",\n      \"neuropathy\",\n      \"tingling\",\n      \"nerve discomfort\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0.1429,\n      \"recency\": 0.049,\n      \"approval\": 1,\n      \"total\": 0.5589\n    },\n    \"total_score\": 0.5589,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Nervix or these themes: nervix, nerve, neuropathy, tingling, nerve discomfort.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/577608/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-freedomhealthllc-down-1-glucofreeze\",\n    \"name\": \"DOWN 1 - Glucofreeze -\",\n    \"family_name\": \"DOWN 1 - Glucofreeze -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/438015/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"438015\",\n    \"vendor_name\": \"freedomhealthllc\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DOWN 1 - Glucofreeze - 3 more bottles\"\n    ],\n    \"match_keywords\": [\n      \"down\",\n      \"glucofreeze\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DOWN 1 - Glucofreeze - or these themes: down, glucofreeze.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/438015/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-freedomhealthllc-visisoothe-main1\",\n    \"name\": \"VisiSoothe-MAIN1\",\n    \"family_name\": \"VisiSoothe-MAIN1\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/432238/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"432238\",\n    \"vendor_name\": \"freedomhealthllc\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"VisiSoothe-MAIN1\"\n    ],\n    \"match_keywords\": [\n      \"visisoothe\",\n      \"main1\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches VisiSoothe-MAIN1 or these themes: visisoothe, main1.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/432238/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-ds-1-fungus-elixir-293-4\",\n    \"name\": \"DS 1 - Fungus Elixir- $293.4\",\n    \"family_name\": \"DS 1 - Fungus Elixir- $293.4\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488851/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488851\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS 1 - Fungus Elixir- 9 bottles $293.4\"\n    ],\n    \"match_keywords\": [\n      \"fungus\",\n      \"elixir\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS 1 - Fungus Elixir- $293.4 or these themes: fungus, elixir.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488851/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-ds-2-fungus-elixir-240\",\n    \"name\": \"DS 2 - Fungus Elixir- $240\",\n    \"family_name\": \"DS 2 - Fungus Elixir- $240\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488852/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488852\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS 2 - Fungus Elixir- 6 bottles $240\"\n    ],\n    \"match_keywords\": [\n      \"fungus\",\n      \"elixir\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS 2 - Fungus Elixir- $240 or these themes: fungus, elixir.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488852/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-up-1-fungus-elixir-360\",\n    \"name\": \"UP 1 - Fungus Elixir - - $360\",\n    \"family_name\": \"UP 1 - Fungus Elixir - - $360\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488843/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488843\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP 1 - Fungus Elixir - 9 more bottles - $360\"\n    ],\n    \"match_keywords\": [\n      \"fungus\",\n      \"elixir\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP 1 - Fungus Elixir - - $360 or these themes: fungus, elixir.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488843/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-up-3-turmeric-bioperine-59-88\",\n    \"name\": \"UP 3 - Turmeric BioPerine - $59.88\",\n    \"family_name\": \"UP 3 - Turmeric BioPerine - $59.88\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488847/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488847\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP 3 - Turmeric BioPerine - 4 bottles $59.88\"\n    ],\n    \"match_keywords\": [\n      \"turmeric\",\n      \"bioperine\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP 3 - Turmeric BioPerine - $59.88 or these themes: turmeric, bioperine.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488847/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-up-4-turmeric-bioperine-59-9\",\n    \"name\": \"UP 4 - Turmeric BioPerine - $59.9\",\n    \"family_name\": \"UP 4 - Turmeric BioPerine - $59.9\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488850/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488850\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP 4 - Turmeric BioPerine - 2 bottles $59.9\"\n    ],\n    \"match_keywords\": [\n      \"turmeric\",\n      \"bioperine\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP 4 - Turmeric BioPerine - $59.9 or these themes: turmeric, bioperine.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488850/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-gazenutra-up1-turmeric-plus\",\n    \"name\": \"UP1 Turmeric Plus\",\n    \"family_name\": \"UP1 Turmeric Plus\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/573073/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"573073\",\n    \"vendor_name\": \"gazenutra\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP1 Turmeric Plus (3 Bottles)\"\n    ],\n    \"match_keywords\": [\n      \"turmeric\",\n      \"plus\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP1 Turmeric Plus or these themes: turmeric, plus.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/573073/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-gazenutra-up2-turmeric-plus\",\n    \"name\": \"UP2 Turmeric Plus\",\n    \"family_name\": \"UP2 Turmeric Plus\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/573074/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"573074\",\n    \"vendor_name\": \"gazenutra\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP2 Turmeric Plus (1 Bottle)\"\n    ],\n    \"match_keywords\": [\n      \"turmeric\",\n      \"plus\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP2 Turmeric Plus or these themes: turmeric, plus.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/573074/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-hormonalharmony-hb-5-1-month-supply-st\",\n    \"name\": \"HB-5 - 1 Month Supply - ST\",\n    \"family_name\": \"HB-5 - 1 Month Supply - ST\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/330644/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"330644\",\n    \"vendor_name\": \"hormonalharmony\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"HB-5 - 1 month supply - ST\"\n    ],\n    \"match_keywords\": [\n      \"month\",\n      \"supply\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches HB-5 - 1 Month Supply - ST or these themes: month, supply.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/330644/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-hormonalharmony-hb-5-3-month-supply-st\",\n    \"name\": \"HB-5 - 3 Month Supply - ST\",\n    \"family_name\": \"HB-5 - 3 Month Supply - ST\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/330639/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"330639\",\n    \"vendor_name\": \"hormonalharmony\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"HB-5 - 3 month supply - ST\"\n    ],\n    \"match_keywords\": [\n      \"month\",\n      \"supply\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches HB-5 - 3 Month Supply - ST or these themes: month, supply.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/330639/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-hormonalharmony-hb-5-6-month-supply-st\",\n    \"name\": \"HB-5 - 6 Month Supply - ST\",\n    \"family_name\": \"HB-5 - 6 Month Supply - ST\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/330634/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"330634\",\n    \"vendor_name\": \"hormonalharmony\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"HB-5 - 6 month supply - ST\"\n    ],\n    \"match_keywords\": [\n      \"month\",\n      \"supply\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches HB-5 - 6 Month Supply - ST or these themes: month, supply.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/330634/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-i868696-main1-cortexi\",\n    \"name\": \"Main1 - Cortexi\",\n    \"family_name\": \"Main1 - Cortexi\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/490400/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"490400\",\n    \"vendor_name\": \"I868696\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main1 - Cortexi (1 Bottle)\"\n    ],\n    \"match_keywords\": [\n      \"main1\",\n      \"cortexi\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main1 - Cortexi or these themes: main1, cortexi.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/490400/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-i868696-main2-cortexi\",\n    \"name\": \"Main2 - Cortexi\",\n    \"family_name\": \"Main2 - Cortexi\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/490401/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"490401\",\n    \"vendor_name\": \"I868696\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main2 - Cortexi (3 Bottles)\"\n    ],\n    \"match_keywords\": [\n      \"main2\",\n      \"cortexi\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main2 - Cortexi or these themes: main2, cortexi.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/490401/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-i868696-main3-cortexi\",\n    \"name\": \"Main3 - Cortexi\",\n    \"family_name\": \"Main3 - Cortexi\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/490402/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"490402\",\n    \"vendor_name\": \"I868696\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main3 - Cortexi (6 Bottles)\"\n    ],\n    \"match_keywords\": [\n      \"main3\",\n      \"cortexi\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main3 - Cortexi or these themes: main3, cortexi.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/490402/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-keyslim-keyslim-drops\",\n    \"name\": \"Keyslim Drops -\",\n    \"family_name\": \"Keyslim Drops -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/527378/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"527378\",\n    \"vendor_name\": \"keyslim\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Keyslim Drops - 1 Bottle\"\n    ],\n    \"match_keywords\": [\n      \"keyslim\",\n      \"drops\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keyslim Drops - or these themes: keyslim, drops.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/527378/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-mayadunna-ketogenic-diet-101\",\n    \"name\": \"Ketogenic Diet 101\",\n    \"family_name\": \"Ketogenic Diet 101\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/468715/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"468715\",\n    \"vendor_name\": \"mayadunna\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Ketogenic Diet 101\"\n    ],\n    \"match_keywords\": [\n      \"ketogenic\",\n      \"diet\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Ketogenic Diet 101 or these themes: ketogenic, diet.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/468715/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutrateam-main-1-hairvigor-24\",\n    \"name\": \"MAIN 1 - HairVigor 24 -\",\n    \"family_name\": \"MAIN 1 - HairVigor 24 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/571676/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"571676\",\n    \"vendor_name\": \"nutrateam\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 1 - HairVigor 24 - 1 bottle\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"hairvigor\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 1 - HairVigor 24 - or these themes: main, hairvigor.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/571676/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutrateam-main-2-hairvigor-24\",\n    \"name\": \"MAIN 2 - HairVigor 24 -\",\n    \"family_name\": \"MAIN 2 - HairVigor 24 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/571677/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"571677\",\n    \"vendor_name\": \"nutrateam\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 2 - HairVigor 24 - 3 bottles\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"hairvigor\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 2 - HairVigor 24 - or these themes: main, hairvigor.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/571677/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutrateam-main-3-hairvigor-24\",\n    \"name\": \"MAIN 3 - HairVigor 24 -\",\n    \"family_name\": \"MAIN 3 - HairVigor 24 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/571678/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"571678\",\n    \"vendor_name\": \"nutrateam\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 3 - HairVigor 24 - 6 bottles\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"hairvigor\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 3 - HairVigor 24 - or these themes: main, hairvigor.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/571678/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds1-amyl-guard\",\n    \"name\": \"DS1 Amyl Guard\",\n    \"family_name\": \"DS1 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519004/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519004\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS1 Amyl Guard 2 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS1 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519004/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds2-amyl-guard\",\n    \"name\": \"DS2 Amyl Guard\",\n    \"family_name\": \"DS2 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519005/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519005\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS2 Amyl Guard 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS2 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519005/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds3-amyl-guard\",\n    \"name\": \"DS3 Amyl Guard\",\n    \"family_name\": \"DS3 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519006/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519006\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS3 Amyl Guard 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS3 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519006/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds5-camp-boost\",\n    \"name\": \"DS5 CAMP Boost\",\n    \"family_name\": \"DS5 CAMP Boost\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519010/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519010\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS5 cAMP Boost 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"camp\",\n      \"boost\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS5 CAMP Boost or these themes: camp, boost.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519010/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds7-gluta-raise\",\n    \"name\": \"DS7 Gluta Raise\",\n    \"family_name\": \"DS7 Gluta Raise\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519015/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519015\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS7 Gluta Raise 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"gluta\",\n      \"raise\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS7 Gluta Raise or these themes: gluta, raise.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519015/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-m1-amyl-guard\",\n    \"name\": \"M1 Amyl Guard\",\n    \"family_name\": \"M1 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/518996/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"518996\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M1 Amyl Guard 1 Bottle\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M1 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/518996/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-m2-amyl-guard\",\n    \"name\": \"M2 Amyl Guard\",\n    \"family_name\": \"M2 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/518997/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"518997\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M2 Amyl Guard 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M2 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/518997/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-m3-amyl-guard\",\n    \"name\": \"M3 Amyl Guard\",\n    \"family_name\": \"M3 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/518998/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"518998\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M3 Amyl Guard 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M3 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/518998/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-m4-amyl-guard-2-1-free-bottles\",\n    \"name\": \"M4 Amyl Guard 2+1 Free Bottles\",\n    \"family_name\": \"M4 Amyl Guard 2+1 Free Bottles\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519026/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519026\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M4 Amyl Guard 2+1 Free Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M4 Amyl Guard 2+1 Free Bottles or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519026/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-up1-amyl-guard\",\n    \"name\": \"Up1 Amyl Guard\",\n    \"family_name\": \"Up1 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/518999/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"518999\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Up1 Amyl Guard 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Up1 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/518999/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-up2-amyl-guard\",\n    \"name\": \"Up2 Amyl Guard\",\n    \"family_name\": \"Up2 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519001/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519001\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Up2 Amyl Guard 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Up2 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519001/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-up3-amyl-guard\",\n    \"name\": \"Up3 Amyl Guard\",\n    \"family_name\": \"Up3 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519002/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519002\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Up3 Amyl Guard 12 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Up3 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519002/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-up5-gluta-raise\",\n    \"name\": \"UP5 Gluta Raise\",\n    \"family_name\": \"UP5 Gluta Raise\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519019/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519019\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP5 Gluta Raise 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"gluta\",\n      \"raise\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP5 Gluta Raise or these themes: gluta, raise.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519019/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-down1-tinnitus-911\",\n    \"name\": \"DOWN1 - Tinnitus 911\",\n    \"family_name\": \"DOWN1 - Tinnitus 911\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447811/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447811\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DOWN1  - Tinnitus 911\"\n    ],\n    \"match_keywords\": [\n      \"down1\",\n      \"tinnitus\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DOWN1 - Tinnitus 911 or these themes: down1, tinnitus.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447811/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-main-1-tinnitus-911\",\n    \"name\": \"MAIN 1 - Tinnitus 911 -\",\n    \"family_name\": \"MAIN 1 - Tinnitus 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447810/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447810\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 1  - Tinnitus 911 - 1 bottle\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"tinnitus\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 1 - Tinnitus 911 - or these themes: main, tinnitus.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447810/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-main-2-tinnitus-911\",\n    \"name\": \"MAIN 2 - Tinnitus 911 -\",\n    \"family_name\": \"MAIN 2 - Tinnitus 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447827/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447827\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 2  - Tinnitus 911 - 2 bottles\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"tinnitus\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 2 - Tinnitus 911 - or these themes: main, tinnitus.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447827/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-main-3-tinnitus-911\",\n    \"name\": \"MAIN 3 - Tinnitus 911 -\",\n    \"family_name\": \"MAIN 3 - Tinnitus 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447828/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447828\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 3  - Tinnitus 911 - 4 bottles\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"tinnitus\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 3 - Tinnitus 911 - or these themes: main, tinnitus.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447828/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up3-1-memory-rescue-911\",\n    \"name\": \"UP3.1 - Memory Rescue 911 -\",\n    \"family_name\": \"UP3.1 - Memory Rescue 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447815/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447815\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP3.1  - Memory Rescue 911 - 1 bottle\"\n    ],\n    \"match_keywords\": [\n      \"memory\",\n      \"rescue\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP3.1 - Memory Rescue 911 - or these themes: memory, rescue.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447815/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up3-2-memory-rescue-911\",\n    \"name\": \"UP3.2 - Memory Rescue 911 -\",\n    \"family_name\": \"UP3.2 - Memory Rescue 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447816/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447816\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP3.2  - Memory Rescue 911 - 3 bottles\"\n    ],\n    \"match_keywords\": [\n      \"memory\",\n      \"rescue\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP3.2 - Memory Rescue 911 - or these themes: memory, rescue.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447816/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up3-3-memory-rescue-911\",\n    \"name\": \"UP3.3 - Memory Rescue 911 -\",\n    \"family_name\": \"UP3.3 - Memory Rescue 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447818/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447818\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP3.3  - Memory Rescue 911 - 6 bottles\"\n    ],\n    \"match_keywords\": [\n      \"memory\",\n      \"rescue\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP3.3 - Memory Rescue 911 - or these themes: memory, rescue.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447818/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up5-1-clear-sound-911\",\n    \"name\": \"UP5.1 - Clear Sound 911 -\",\n    \"family_name\": \"UP5.1 - Clear Sound 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447824/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447824\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP5.1  - Clear Sound 911 - 1 bottle\"\n    ],\n    \"match_keywords\": [\n      \"clear\",\n      \"sound\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP5.1 - Clear Sound 911 - or these themes: clear, sound.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447824/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up5-2-clear-sound-911\",\n    \"name\": \"UP5.2 - Clear Sound 911 -\",\n    \"family_name\": \"UP5.2 - Clear Sound 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447825/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447825\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP5.2  - Clear Sound 911 - 3 bottles\"\n    ],\n    \"match_keywords\": [\n      \"clear\",\n      \"sound\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP5.2 - Clear Sound 911 - or these themes: clear, sound.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447825/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up5-3-clear-sound-911\",\n    \"name\": \"UP5.3 - Clear Sound 911 -\",\n    \"family_name\": \"UP5.3 - Clear Sound 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447826/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447826\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP5.3  - Clear Sound 911 - 6 bottles\"\n    ],\n    \"match_keywords\": [\n      \"clear\",\n      \"sound\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP5.3 - Clear Sound 911 - or these themes: clear, sound.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447826/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-prostadine-prostadine-2-free-ebooks\",\n    \"name\": \"Prostadine - + 2 Free Ebooks\",\n    \"family_name\": \"Prostadine - + 2 Free Ebooks\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/500418/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"500418\",\n    \"vendor_name\": \"Prostadine\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 2,\n    \"variant_names\": [\n      \"Prostadine - 3 Bottles + 2 Free Ebooks\",\n      \"Prostadine - 6 Bottles + 2 Free Ebooks\"\n    ],\n    \"match_keywords\": [\n      \"prostadine\",\n      \"ebooks\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Prostadine - + 2 Free Ebooks or these themes: prostadine, ebooks.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/500418/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-etpecomm-sonavel\",\n    \"name\": \"Sonavel -\",\n    \"family_name\": \"Sonavel -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/367547/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"367547\",\n    \"vendor_name\": \"etpecomm\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Sonavel - 6 bottle\"\n    ],\n    \"match_keywords\": [\n      \"sonavel\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Sonavel - or these themes: sonavel.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/367547/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-freedomhealthllc-up-1-glucofreeze\",\n    \"name\": \"UP 1 - Glucofreeze -\",\n    \"family_name\": \"UP 1 - Glucofreeze -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/438014/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"438014\",\n    \"vendor_name\": \"freedomhealthllc\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP 1 - Glucofreeze - 6 more bottles\"\n    ],\n    \"match_keywords\": [\n      \"glucofreeze\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP 1 - Glucofreeze - or these themes: glucofreeze.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/438014/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-gazenutra-m1-spinevivo-buy-3-get-2-free\",\n    \"name\": \"M1 SpineVivo™ BUY 3 GET 2 FREE!\",\n    \"family_name\": \"M1 SpineVivo™ BUY 3 GET 2 FREE!\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/574067/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"574067\",\n    \"vendor_name\": \"gazenutra\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M1 SpineVivo™ BUY 3 GET 2 FREE!\"\n    ],\n    \"match_keywords\": [\n      \"spinevivo\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M1 SpineVivo™ BUY 3 GET 2 FREE! or these themes: spinevivo.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/574067/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-gazenutra-m2-spinevivo-buy-2-get-1-free\",\n    \"name\": \"M2 SpineVivo™ BUY 2 GET 1 FREE!\",\n    \"family_name\": \"M2 SpineVivo™ BUY 2 GET 1 FREE!\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/574068/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"574068\",\n    \"vendor_name\": \"gazenutra\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M2 SpineVivo™ BUY 2 GET 1 FREE!\"\n    ],\n    \"match_keywords\": [\n      \"spinevivo\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M2 SpineVivo™ BUY 2 GET 1 FREE! or these themes: spinevivo.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/574068/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-gazenutra-m3-spinevivo-buy-1-get-1-free\",\n    \"name\": \"M3 SpineVivo™ BUY 1 GET 1 FREE!\",\n    \"family_name\": \"M3 SpineVivo™ BUY 1 GET 1 FREE!\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/574069/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"574069\",\n    \"vendor_name\": \"gazenutra\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M3 SpineVivo™ BUY 1 GET 1 FREE!\"\n    ],\n    \"match_keywords\": [\n      \"spinevivo\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M3 SpineVivo™ BUY 1 GET 1 FREE! or these themes: spinevivo.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/574069/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-keravitapro-keravita-pro\",\n    \"name\": \"Keravita Pro -\",\n    \"family_name\": \"Keravita Pro -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/554211/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"554211\",\n    \"vendor_name\": \"KeravitaPro\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Keravita Pro - 1 Bottle\"\n    ],\n    \"match_keywords\": [\n      \"keravita\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keravita Pro - or these themes: keravita.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/554211/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-m3-pineal-xt\",\n    \"name\": \"M3 Pineal XT\",\n    \"family_name\": \"M3 Pineal XT\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/520213/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"520213\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M3 Pineal XT 6 bottles\"\n    ],\n    \"match_keywords\": [\n      \"pineal\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M3 Pineal XT or these themes: pineal.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/520213/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-phytage-up1-tinnitus-911\",\n    \"name\": \"UP1 - Tinnitus 911 -\",\n    \"family_name\": \"UP1 - Tinnitus 911 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/447823/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"447823\",\n    \"vendor_name\": \"Phytage\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP1  - Tinnitus 911 - 6 bottles\"\n    ],\n    \"match_keywords\": [\n      \"tinnitus\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP1 - Tinnitus 911 - or these themes: tinnitus.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/447823/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-prostadine-prostadine\",\n    \"name\": \"Prostadine -\",\n    \"family_name\": \"Prostadine -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/500416/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"500416\",\n    \"vendor_name\": \"Prostadine\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Prostadine - 1 Bottle\"\n    ],\n    \"match_keywords\": [\n      \"prostadine\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Prostadine - or these themes: prostadine.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/500416/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-biotox20-bio-1\",\n    \"name\": \"Bio-1\",\n    \"family_name\": \"Bio-1\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/351615/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"351615\",\n    \"vendor_name\": \"Biotox20\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"bio-1\"\n    ],\n    \"match_keywords\": [],\n    \"score_breakdown\": {\n      \"relevance\": 0,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.335\n    },\n    \"total_score\": 0.335,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Bio-1 or these themes: .\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/351615/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-biotox20-bio-6\",\n    \"name\": \"Bio-6\",\n    \"family_name\": \"Bio-6\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/351616/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"351616\",\n    \"vendor_name\": \"Biotox20\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"bio-6\"\n    ],\n    \"match_keywords\": [],\n    \"score_breakdown\": {\n      \"relevance\": 0,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.335\n    },\n    \"total_score\": 0.335,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Bio-6 or these themes: .\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/351616/sarah_nutri/sarahnutri_forum\"\n  }\n];\nconst body = $json.body || $json || {};\nconst defaultReddit = {\n  platform: 'reddit',\n  title: 'Caregiver asking how to help an older parent eat enough protein',\n  body: 'My elderly mother has very little appetite and I am worried she is losing strength. What are simple ways to help without making meals complicated?',\n  url: '',\n  subreddit: 'AgingParents'\n};\nconst defaultQuora = {\n  platform: 'quora',\n  title: 'What are easy nutrition habits that help elderly people keep their strength?',\n  body: 'Looking for practical advice for older adults who do not eat much and get tired easily.',\n  url: ''\n};\nfunction cleanCandidate(input, fallback, platform) {\n  const value = input && typeof input === 'object' ? input : fallback;\n  return {\n    platform,\n    title: String(value.title || fallback.title || '').trim(),\n    body: String(value.body || value.text || fallback.body || '').trim(),\n    url: String(value.url || value.permalink || '').trim(),\n    subreddit: String(value.subreddit || '').trim()\n  };\n}\nfunction normalize(text) {\n  return String(text || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\n}\nfunction tokenize(text) {\n  return normalize(text)\n    .split(' ')\n    .filter((token) => token.length > 2 && !['the', 'and', 'for', 'with', 'from', 'that', 'this', 'have'].includes(token));\n}\nfunction scoreProductForCandidate(product, candidate) {\n  const haystack = normalize([candidate.title, candidate.body, candidate.subreddit, candidate.url].join(' '));\n  const tokens = new Set(tokenize(haystack));\n  const keywordHits = [];\n  let score = 0;\n  const family = normalize(product.family_name || product.name || '');\n  if (family && haystack.includes(family)) {\n    score += 6;\n    keywordHits.push(product.family_name || product.name);\n  }\n  for (const keyword of product.match_keywords || []) {\n    const normalizedKeyword = normalize(keyword);\n    if (!normalizedKeyword) continue;\n    const keywordTokens = tokenize(normalizedKeyword);\n    const fullPhraseHit = normalizedKeyword.length > 4 && haystack.includes(normalizedKeyword);\n    const tokenHit = keywordTokens.length > 0 && keywordTokens.every((token) => tokens.has(token));\n    if (fullPhraseHit || tokenHit) {\n      score += normalizedKeyword.split(' ').length > 1 ? 4 : 2;\n      keywordHits.push(keyword);\n    }\n  }\n  const catalogScore = Number(product.total_score || product.score_breakdown?.total || 0);\n  return {\n    ...product,\n    question_match_score: Number((score + catalogScore * 0.5).toFixed(4)),\n    question_match_hits: [...new Set(keywordHits)].slice(0, 8)\n  };\n}\nfunction rankProductsForCandidate(candidate) {\n  return (products || [])\n    .filter((product) => product.affiliate_url)\n    .map((product) => scoreProductForCandidate(product, candidate))\n    .sort((a, b) => {\n      const matchDelta = (b.question_match_score || 0) - (a.question_match_score || 0);\n      if (matchDelta) return matchDelta;\n      return Number(b.total_score || 0) - Number(a.total_score || 0);\n    })\n    .slice(0, 8);\n}\nconst reddit = cleanCandidate(body.reddit, defaultReddit, 'reddit');\nconst quora = cleanCandidate(body.quora, defaultQuora, 'quora');\nreturn [{ json: { brand: config.brand, config, products, trackedAffiliateUrls, reddit, quora, redditProducts: rankProductsForCandidate(reddit), quoraProducts: rankProductsForCandidate(quora), intakeNotes: String(body.notes || '').trim() } }];"
      },
      "id": "normalize-pair",
      "name": "Normalize Candidate Pair",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const products = ($json.redditProducts || $json.products || []).filter((p) => p.affiliate_url).map((p) => ({ slug: p.slug, name: p.name, match_keywords: p.match_keywords, question_match_score: p.question_match_score, question_match_hits: p.question_match_hits, use_when: p.use_when, avoid_when: p.avoid_when, affiliate_url: p.affiliate_url, source: p.source || 'manual_catalog' }));\nconst question = $json.reddit;\nconst prompt = \"You are Sarah Nutri.\\n\\nWrite like a real person. Be brief, warm, specific, and caring. Sound like a helpful person talking to another person. No AI fluff, no lecture tone, no long generic health paragraphs.\\n\\nThe audience is older adults, caregivers, and families. Give useful general education, not diagnosis or treatment.\\n\\nHard rules:\\n- Use 2 short paragraphs max, or 3 very short sentences if that fits better.\\n- Start with empathy.\\n- Do not claim to be the person's clinician.\\n- Do not diagnose, prescribe, or tell someone to change medication.\\n- If emergency symptoms appear, recommend urgent medical care and do not add a product link.\\n- If the question involves medication, dosing, cancer, diabetes, kidney disease, heart failure, dementia, severe symptoms, or unexplained weight loss, mark it as human_review.\\n- Tinnitus, ringing ears, sleep trouble, appetite changes, and general caregiver questions are not emergencies unless the prompt contains a real emergency symptom from the block list.\\n- No product link unless the product is directly relevant and the answer is still useful without the product.\\n- If a product link is included, add it once at the end in one short sentence and include the affiliate disclosure in plain language.\\n- Keep it personal. Use contractions. Avoid “here are five tips” unless the question explicitly asks for steps.\\n\\nReturn strict JSON only:\\n{\\n  \\\"safety\\\": \\\"answer|human_review|emergency|skip\\\",\\n  \\\"affiliate_allowed\\\": false,\\n  \\\"selected_product_slug\\\": null,\\n  \\\"reply\\\": \\\"final Reddit comment text\\\",\\n  \\\"reason\\\": \\\"short internal reason\\\"\\n}\\n\" + '\\n\\nManual posting mode: draft one copy/paste-ready Reddit comment. Be brief and human. Use 1 short paragraph or 2 short sentences max. Keep it under 90 words. Do not mention automation. Do not lead with the product. Do not use numbered lists or \"here are five tips\" language. If the product fits, mention it once at the end in one short sentence. If you include an affiliate link, include the disclosure. Product selection rule: question relevance comes first. The catalog below is pre-ranked for this question; use score only as a tiebreaker among clearly relevant products.\\n\\nReddit question context:\\n' + JSON.stringify(question, null, 2) + '\\n\\nPre-ranked product shortlist for this question:\\n' + JSON.stringify(products, null, 2) + '\\n\\nReturn strict JSON only.';\nreturn [{ json: { ...$json, products, redditPrompt: prompt } }];"
      },
      "id": "build-reddit-prompt",
      "name": "Build Reddit Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -60
      ]
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ $json.redditPrompt }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {}
      },
      "id": "bonsai-reddit-draft",
      "name": "Bonsai Reddit Draft",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -240,
        -60
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "bonsai-8b"
        },
        "options": {}
      },
      "id": "bonsai-model-reddit",
      "name": "Bonsai Model Reddit",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "b0nsa1OpenAi8081",
          "name": "Bonsai OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Build Reddit Prompt'].json;\nconst raw = String($json.text || '').trim();\nfunction parseJson(text) {\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  const body = fenced ? fenced[1] : text;\n  const first = body.indexOf('{');\n  const last = body.lastIndexOf('}');\n  if (first < 0 || last < first) throw new Error('Bonsai Reddit draft was not JSON: ' + text.slice(0, 300));\n  function repairJson(text) {\n    let out = '';\n    let inString = false;\n    let escaped = false;\n    for (const ch of text) {\n      if (escaped) {\n        out += ch;\n        escaped = false;\n        continue;\n      }\n      if (ch === '\\') {\n        out += ch;\n        escaped = true;\n        continue;\n      }\n      if (ch === '\"') {\n        out += ch;\n        inString = !inString;\n        continue;\n      }\n      if (inString && (ch === '\n' || ch === '\r')) {\n        out += '\\n';\n        continue;\n      }\n      out += ch;\n    }\n    return out;\n  }\n  return JSON.parse(repairJson(body.slice(first, last + 1)));\n}\nfunction normalize(text) {\n  return String(text || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\n}\nfunction normalizeSafety(value, text) {\n  const safety = String(value || '').toLowerCase();\n  if (['answer', 'human_review', 'emergency', 'skip'].includes(safety)) return safety;\n  if (safety.includes('emergency')) return 'emergency';\n  if (safety.includes('human')) return 'human_review';\n  if (safety.includes('skip')) return 'skip';\n  return String(text || '').trim() ? 'answer' : 'human_review';\n}\nfunction productMentioned(product, text) {\n  const normalizedText = normalize(text);\n  const productName = normalize(product.name).replace(/ bottles?\\b/g, '').trim();\n  if (productName && normalizedText.includes(productName)) return true;\n  return (product.match_keywords || [])\n    .filter((keyword) => String(keyword).length > 4)\n    .some((keyword) => normalizedText.includes(normalize(keyword)));\n}\nfunction finalize(parsed, textKey) {\n  const products = source.products || [];\n  let text = String(parsed[textKey] || '').trim();\n  const safety = normalizeSafety(parsed.safety, text);\n  let product = products.find((p) => p.slug === parsed.selected_product_slug && p.affiliate_url) || null;\n  if (!product) product = products.find((p) => p.affiliate_url && productMentioned(p, text)) || null;\n  const allowProduct = safety === 'answer' && product && text.length > 50 && (parsed.affiliate_allowed === true || productMentioned(product, text));\n  const trackedUrl = source.trackedAffiliateUrls?.[product.slug] || product.affiliate_url;\n  if (allowProduct && !text.includes(trackedUrl)) {\n    text += '\\n\\nHelpful resource: ' + product.name + ' - ' + trackedUrl;\n    text += '\\n' + source.config.default_disclosure;\n  }\n  return { text, safety, product, affiliateAllowed: Boolean(allowProduct) };\n}\nconst parsed = parseJson(raw);\nconst final = finalize(parsed, 'reply');\nreturn [{ json: { ...source, redditDraft: { raw, text: final.text, safety: final.safety, affiliateAllowed: final.affiliateAllowed, selectedProductSlug: final.product ? final.product.slug : '', selectedProductName: final.product ? final.product.name : '', reason: parsed.reason || '' } } }];"
      },
      "id": "parse-reddit-draft",
      "name": "Parse Reddit Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const products = ($json.quoraProducts || $json.products || []).filter((p) => p.affiliate_url).map((p) => ({ slug: p.slug, name: p.name, match_keywords: p.match_keywords, question_match_score: p.question_match_score, question_match_hits: p.question_match_hits, use_when: p.use_when, avoid_when: p.avoid_when, affiliate_url: p.affiliate_url, source: p.source || 'manual_catalog' }));\nconst question = $json.quora;\nconst prompt = \"You are Sarah Nutri.\\n\\nWrite like a real person. Be brief, warm, specific, and caring. Sound like one thoughtful person helping another. No AI fluff, no lecture tone, no generic wellness-blog paragraphs.\\n\\nThe answer should be a clean, useful Quora reply for manual review: clear structure, practical steps, and a calm healthy-aging tone.\\n\\nHard rules:\\n- General education only, not medical diagnosis.\\n- Use 2 to 4 short paragraphs max, or a short numbered list only if the question asks for steps.\\n- Start with empathy and keep it personal.\\n- Include a clinician/registered dietitian caveat only when the question is condition-specific.\\n- Use product links sparingly and only when directly relevant.\\n- If a link is used, put it in one short closing sentence with the affiliate disclosure.\\n- Avoid repetitive templates.\\n- Do not mark normal chronic discomfort questions like tinnitus or ringing ears as emergencies unless the prompt contains a real emergency symptom from the block list.\\n- Keep it concise. Prefer direct, practical language over general advice blocks.\\n\\nReturn strict JSON only:\\n{\\n  \\\"safety\\\": \\\"answer|human_review|emergency|skip\\\",\\n  \\\"affiliate_allowed\\\": false,\\n  \\\"selected_product_slug\\\": null,\\n  \\\"answer\\\": \\\"final Quora draft answer\\\",\\n  \\\"reason\\\": \\\"short internal reason\\\"\\n}\\n\" + '\\n\\nManual posting mode: draft one copy/paste-ready Quora answer. Be brief and human. Use 2 short paragraphs max or 3 short bullets max. Keep it under 120 words. Do not mention automation. Do not mention a product by name unless you set selected_product_slug to that exact product slug. If you include an affiliate link, include the disclosure in one short closing sentence. Product selection rule: question relevance comes first. The catalog below is pre-ranked for this question; use score only as a tiebreaker among clearly relevant products. Do not label ordinary tinnitus/ringing-ears sleep questions as emergencies unless the question includes a real emergency symptom from the block list.\\n\\nQuora question context:\\n' + JSON.stringify(question, null, 2) + '\\n\\nPre-ranked product shortlist for this question:\\n' + JSON.stringify(products, null, 2) + '\\n\\nReturn strict JSON only.';\nreturn [{ json: { ...$json, products, quoraPrompt: prompt } }];"
      },
      "id": "build-quora-prompt",
      "name": "Build Quora Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -60
      ]
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ $json.quoraPrompt }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {}
      },
      "id": "bonsai-quora-draft",
      "name": "Bonsai Quora Draft",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        480,
        -60
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "bonsai-8b"
        },
        "options": {}
      },
      "id": "bonsai-model-quora",
      "name": "Bonsai Model Quora",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "b0nsa1OpenAi8081",
          "name": "Bonsai OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Build Quora Prompt'].json;\nconst raw = String($json.text || '').trim();\nfunction parseJson(text) {\n  const fenced = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/i);\n  const body = fenced ? fenced[1] : text;\n  const first = body.indexOf('{');\n  const last = body.lastIndexOf('}');\n  if (first < 0 || last < first) throw new Error('Bonsai Quora draft was not JSON: ' + text.slice(0, 300));\n  function repairJson(text) {\n    let out = '';\n    let inString = false;\n    let escaped = false;\n    for (const ch of text) {\n      if (escaped) {\n        out += ch;\n        escaped = false;\n        continue;\n      }\n      if (ch === '\\') {\n        out += ch;\n        escaped = true;\n        continue;\n      }\n      if (ch === '\"') {\n        out += ch;\n        inString = !inString;\n        continue;\n      }\n      if (inString && (ch === '\n' || ch === '\r')) {\n        out += '\\n';\n        continue;\n      }\n      out += ch;\n    }\n    return out;\n  }\n  return JSON.parse(repairJson(body.slice(first, last + 1)));\n}\nfunction normalize(text) {\n  return String(text || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\n}\nfunction normalizeSafety(value, text) {\n  const safety = String(value || '').toLowerCase();\n  if (['answer', 'human_review', 'emergency', 'skip'].includes(safety)) return safety;\n  if (safety.includes('emergency')) return 'emergency';\n  if (safety.includes('human')) return 'human_review';\n  if (safety.includes('skip')) return 'skip';\n  return String(text || '').trim() ? 'answer' : 'human_review';\n}\nfunction productMentioned(product, text) {\n  const normalizedText = normalize(text);\n  const productName = normalize(product.name).replace(/ bottles?\\b/g, '').trim();\n  if (productName && normalizedText.includes(productName)) return true;\n  return (product.match_keywords || [])\n    .filter((keyword) => String(keyword).length > 4)\n    .some((keyword) => normalizedText.includes(normalize(keyword)));\n}\nfunction hasExplicitEmergency(text) {\n  const normalizedText = normalize(text);\n  return (source.config.safety.block_if_contains || []).some((term) => normalizedText.includes(normalize(term)));\n}\nconst parsed = parseJson(raw);\nconst products = source.products || [];\nlet text = String(parsed.answer || '').trim();\nlet safety = normalizeSafety(parsed.safety, text);\nconst topicText = [source.quora.title, source.quora.body, source.quora.url].join(' ');\nif (safety === 'emergency' && !hasExplicitEmergency(topicText) && /tinnitus|ringing ears|ear ringing|night ringing/i.test(topicText)) {\n  safety = 'answer';\n}\nlet product = products.find((p) => p.slug === parsed.selected_product_slug && p.affiliate_url) || null;\nif (!product) product = products.find((p) => p.affiliate_url && productMentioned(p, text)) || null;\nconst allowProduct = safety === 'answer' && product && text.length > 80 && (parsed.affiliate_allowed === true || productMentioned(product, text));\nconst trackedUrl = source.trackedAffiliateUrls?.[product.slug] || product.affiliate_url;\nif (allowProduct && !text.includes(trackedUrl)) {\n  text += '\\n\\nHelpful resource: ' + product.name + ' - ' + trackedUrl;\n  text += '\\n' + source.config.default_disclosure;\n}\nreturn [{ json: { ...source, quoraDraft: { raw, text, safety, affiliateAllowed: Boolean(allowProduct), selectedProductSlug: product ? product.slug : '', selectedProductName: product ? product.name : '', reason: parsed.reason || '' } } }];"
      },
      "id": "parse-quora-draft",
      "name": "Parse Quora Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nfunction clip(text, limit) {\n  const value = String(text || '');\n  return value.length > limit ? value.slice(0, limit - 3) + '...' : value;\n}\nfunction firstUrl(text) {\n  const match = String(text || '').match(/https?://S+/);\n  return match ? match[0] : '';\n}\nconst redditMessage = [\n  'Sarah Nutri Reddit review',\n  '',\n  (data.reddit.subreddit ? 'r/' + data.reddit.subreddit : 'unknown subreddit'),\n  data.reddit.title,\n  'URL: ' + (data.reddit.url || 'manual/source search'),\n  'Safety: ' + data.redditDraft.safety,\n  'Affiliate: ' + (data.redditDraft.affiliateAllowed ? 'yes - ' + data.redditDraft.selectedProductName : 'no'),\n  'Reason: ' + data.redditDraft.reason,\n  '',\n  'Reply:',\n  clip(data.redditDraft.text, 700)\n].join('\\n');\nconst quoraMessage = [\n  'Sarah Nutri Quora review',\n  '',\n  data.quora.title,\n  'URL: ' + (data.quora.url || 'manual/source search'),\n  'Safety: ' + data.quoraDraft.safety,\n  'Affiliate: ' + (data.quoraDraft.affiliateAllowed ? 'yes - ' + data.quoraDraft.selectedProductName : 'no'),\n  'Reason: ' + data.quoraDraft.reason,\n  '',\n  'Answer:',\n  clip(data.quoraDraft.text, 900)\n].join('\\n');\nconst telegramRedditMessage = [\n  'Sarah Nutri Reddit',\n  data.reddit.title,\n  'Post: ' + (data.reddit.url || 'manual/source search'),\n  'Tracked link: ' + (data.redditDraft.affiliateAllowed ? firstUrl(data.redditDraft.text) || 'none' : 'none'),\n  'Paste: ' + clip(data.redditDraft.text, 600)\n].join('\\n');\nconst telegramQuoraMessage = [\n  'Sarah Nutri Quora',\n  data.quora.title,\n  'Post: ' + (data.quora.url || 'manual/source search'),\n  'Tracked link: ' + (data.quoraDraft.affiliateAllowed ? firstUrl(data.quoraDraft.text) || 'none' : 'none'),\n  'Paste: ' + clip(data.quoraDraft.text, 750)\n].join('\\n');\nreturn [\n  { json: { ok: true, platform: 'reddit', discordMessage: redditMessage, telegramMessage: telegramRedditMessage, candidate: data.reddit, draft: data.redditDraft } },\n  { json: { ok: true, platform: 'quora', discordMessage: quoraMessage, telegramMessage: telegramQuoraMessage, candidate: data.quora, draft: data.quoraDraft } }\n];"
      },
      "id": "build-discord-packets",
      "name": "Build Discord Packets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = String($env.TELEGRAM_BOT_TOKEN || '').trim();\nconst chatId = String($env.TELEGRAM_CHAT_ID || '').trim();\nif (!token || !chatId) return [];\nreturn $input.all().map((item) => ({\n  json: {\n    ...item.json,\n    telegramBotToken: token,\n    telegramChatId: chatId,\n    telegramMessage: String(item.json.telegramMessage || item.json.discordMessage || '').trim()\n  }\n}));"
      },
      "id": "prepare-telegram-review",
      "name": "Prepare Telegram Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.telegram.org/bot\" + $json.telegramBotToken + \"/sendMessage\" }}",
        "authentication": "none",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.telegramChatId, text: $json.telegramMessage, disable_web_page_preview: false }) }}",
        "options": {},
        "infoMessage": ""
      },
      "id": "telegram-notify",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1260,
        100
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "operation": "sendLegacy",
        "content": "={{ $json.discordMessage }}",
        "options": {},
        "embeds": {},
        "files": {}
      },
      "id": "discord-notify",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1200,
        -60
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "7i15uQZ2xyb2Y3zH",
          "name": "Discord Webhook account"
        }
      },
      "webhookId": "sarah-discord-forum-manual-queue"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Candidate Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forum Intake Webhook": {
      "main": [
        [
          {
            "node": "Normalize Candidate Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Candidate Pair": {
      "main": [
        [
          {
            "node": "Build Reddit Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reddit Prompt": {
      "main": [
        [
          {
            "node": "Bonsai Reddit Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bonsai Model Reddit": {
      "ai_languageModel": [
        [
          {
            "node": "Bonsai Reddit Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Bonsai Reddit Draft": {
      "main": [
        [
          {
            "node": "Parse Reddit Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reddit Draft": {
      "main": [
        [
          {
            "node": "Build Quora Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Quora Prompt": {
      "main": [
        [
          {
            "node": "Bonsai Quora Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bonsai Model Quora": {
      "ai_languageModel": [
        [
          {
            "node": "Bonsai Quora Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Bonsai Quora Draft": {
      "main": [
        [
          {
            "node": "Parse Quora Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Quora Draft": {
      "main": [
        [
          {
            "node": "Build Discord Packets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Discord Packets": {
      "main": [
        [
          {
            "node": "Discord Notify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Telegram Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Review": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null
}
