workflow_sarah_nutri_video_rebuilt_main.json
{
  "name": "Sarah Nutri - Video -> Discord -> Postiz (LOOP v3)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "sarah-nutri-video-run-v3",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "api-trigger",
      "name": "API Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -980,
        -180
      ],
      "webhookId": "sarah-nutri-video-run-v3"
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "source-title",
              "name": "title",
              "value": "Sarah Nutri rolling video refurnisher",
              "type": "string"
            },
            {
              "id": "source-snippet",
              "name": "contentSnippet",
              "value": "Pull one random real Instagram post from source pool, rewrite it for Sarah Nutri, pass through human approval, then ship to Postiz.",
              "type": "string"
            },
            {
              "id": "source-pool",
              "name": "sourcePool",
              "value": "[{\"title\":\"healthh.hacksss\",\"link\":\"https://www.instagram.com/healthh.hacksss/?g=5\",\"contentSnippet\":\"Pull one random post from this Instagram source and rewrite it for Sarah Nutri with warm, practical elderly-health framing.\"},{\"title\":\"grandma.healer\",\"link\":\"https://www.instagram.com/grandma.healer/\",\"contentSnippet\":\"Pull one random post from this Instagram source and rewrite it for Sarah Nutri with warm, practical elderly-health framing.\"},{\"title\":\"elderly-health-popular\",\"link\":\"https://www.instagram.com/popular/elderly-health/\",\"contentSnippet\":\"Pull one random post from this Instagram source pool and rewrite it for Sarah Nutri with warm, practical elderly-health framing.\"}]",
              "type": "string"
            },
            {
              "id": "reject-feedback",
              "name": "feedback",
              "value": "={{ ($json.query && $json.query.feedback) || '' }}",
              "type": "string"
            },
            {
              "id": "exclude-post-links",
              "name": "excludePostLinks",
              "value": "={{ ($json.query && $json.query.excludePostLinks) || '[]' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "target-config",
      "name": "Target Page Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.59:8788/pull-source",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sources: JSON.parse($json.sourcePool || '[]'), excludePostLinks: JSON.parse($node['Target Page Config'].json.excludePostLinks || '[]') }) }}",
        "options": {}
      },
      "id": "pull-source-post",
      "name": "Pull Source Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -520,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "draft-title",
              "name": "sourceTitle",
              "value": "={{ $json.sourceTitle || 'Instagram source' }}",
              "type": "string"
            },
            {
              "id": "draft-link",
              "name": "sourceLink",
              "value": "={{ $json.sourceLink || '' }}",
              "type": "string"
            },
            {
              "id": "draft-page-link",
              "name": "sourcePageLink",
              "value": "={{ $json.sourcePageLink || '' }}",
              "type": "string"
            },
            {
              "id": "draft-post-link",
              "name": "sourcePostLink",
              "value": "={{ $json.sourcePostLink || $json.sourceLink || '' }}",
              "type": "string"
            },
            {
              "id": "draft-snippet",
              "name": "sourceSnippet",
              "value": "={{ $json.sourceSnippet || '' }}",
              "type": "string"
            },
            {
              "id": "draft-image",
              "name": "sourceImageUrl",
              "value": "={{ $json.sourceImageUrl || '' }}",
              "type": "string"
            },
            {
              "id": "draft-video",
              "name": "sourceVideoUrl",
              "value": "={{ $json.sourceVideoUrl || '' }}",
              "type": "string"
            },
            {
              "id": "draft-handle",
              "name": "sourceHandle",
              "value": "={{ $json.sourceHandle || '' }}",
              "type": "string"
            },
            {
              "id": "draft-resolution",
              "name": "sourceResolution",
              "value": "={{ $json.sourceResolution || '' }}",
              "type": "string"
            },
            {
              "id": "draft-instruction",
              "name": "instruction",
              "value": "={{ `You are Sarah Nutri's senior social media writer. Rewrite this Instagram source into one concise post for adults and seniors. Keep tone warm, practical, science-aware, and easy to understand. Return only final post copy. No labels. No commentary. No media prompt. Keep 3 to 5 relevant hashtags. End post with original source reference ${$json.sourceHandle || ''}. Source title: ${$json.sourceTitle || ''}. Source snippet: ${$json.sourceSnippet || ''}.${$node['Target Page Config'].json.feedback ? ` User requested this change for the next attempt: ${$node['Target Page Config'].json.feedback}. Prefer a genuinely different angle and different media feel from the rejected draft.` : ''}` }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "build-context",
      "name": "Build Draft Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ $json.instruction }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {}
      },
      "id": "rewrite-id",
      "name": "Gemini: Rewrite",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -40,
        0
      ]
    },
    {
      "parameters": {
        "notice": "",
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "model-id",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -120,
        200
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "ZYtHRqXd2R1ruL4K",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = String($json.text || '').replace(/\\r\\n/g, '\\n').trim();\n\nfunction stripPostArtifacts(input) {\n  let text = String(input || '').replace(/\\r\\n/g, '\\n').trim();\n  const markers = [\n    'Image Generation Prompt:',\n    'Image Prompt:',\n    'Video Prompt:',\n    'Prompt:',\n    '🖼️ **IMG PROMPT:**',\n    '🎬 **VIDEO PROMPT:**'\n  ];\n  for (const marker of markers) {\n    const idx = text.toLowerCase().indexOf(marker.toLowerCase());\n    if (idx >= 0) text = text.slice(0, idx).trim();\n  }\n  const socialMatch = text.match(/(?:^|\\n)\\s*(?:\\*\\*)?Social Media Post(?:\\*\\*)?:\\s*([\\s\\S]*?)(?:\\n\\s*(?:\\*\\*)?(?:Image Generation Prompt|Video Prompt)(?:\\*\\*)?:|$)/i);\n  if (socialMatch) text = socialMatch[1].trim();\n  text = text.replace(/^---+\\s*$/gm, '').replace(/^\\s*(?:\\*\\*)?Social Media Post(?:\\*\\*)?:\\s*/i, '').replace(/\\n{3,}/g, '\\n\\n').trim();\n  return text;\n}\n\nreturn [{ json: { ...$json, text: stripPostArtifacts(raw) } }];"
      },
      "id": "normalize-post-copy",
      "name": "Normalize Post Copy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.59:8787/generate-video",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sourceImageUrl: $node['Build Draft Context'].json.sourceImageUrl || '', sourceVideoUrl: $node['Build Draft Context'].json.sourceVideoUrl || '', sourceTitle: $node['Build Draft Context'].json.sourceTitle || '', sourceLink: $node['Build Draft Context'].json.sourceLink || '' }) }}",
        "options": {}
      },
      "id": "generate-video-fallback",
      "name": "Generate Video Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        0
      ]
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ `Create detailed Veo-ready fallback video prompt for Sarah Nutri using this rewritten post: ${$node['Normalize Post Copy'].json.text || ''}` }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {}
      },
      "id": "veo-id",
      "name": "Veo Video Generation",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        420,
        180
      ],
      "disabled": true
    },
    {
      "parameters": {
        "notice": "",
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "model-id-2",
      "name": "Gemini Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        340,
        360
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "ZYtHRqXd2R1ruL4K",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "source-title-final",
              "name": "sourceTitle",
              "value": "={{ $node['Build Draft Context'].json.sourceTitle || '' }}",
              "type": "string"
            },
            {
              "id": "source-link-final",
              "name": "sourceLink",
              "value": "={{ $node['Build Draft Context'].json.sourceLink || '' }}",
              "type": "string"
            },
            {
              "id": "source-page-final",
              "name": "sourcePageLink",
              "value": "={{ $node['Build Draft Context'].json.sourcePageLink || '' }}",
              "type": "string"
            },
            {
              "id": "source-post-final",
              "name": "sourcePostLink",
              "value": "={{ $node['Build Draft Context'].json.sourcePostLink || '' }}",
              "type": "string"
            },
            {
              "id": "source-snippet-final",
              "name": "sourceSnippet",
              "value": "={{ $node['Build Draft Context'].json.sourceSnippet || '' }}",
              "type": "string"
            },
            {
              "id": "source-image-final",
              "name": "sourceImageUrl",
              "value": "={{ $node['Build Draft Context'].json.sourceImageUrl || '' }}",
              "type": "string"
            },
            {
              "id": "source-video-final",
              "name": "sourceVideoUrl",
              "value": "={{ $node['Build Draft Context'].json.sourceVideoUrl || '' }}",
              "type": "string"
            },
            {
              "id": "source-handle-final",
              "name": "sourceHandle",
              "value": "={{ $node['Build Draft Context'].json.sourceHandle || '' }}",
              "type": "string"
            },
            {
              "id": "post-text-final",
              "name": "postText",
              "value": "={{ $node['Normalize Post Copy'].json.text || '' }}",
              "type": "string"
            },
            {
              "id": "video-prompt-final",
              "name": "videoPrompt",
              "value": "={{ $node['Generate Video Fallback'].json.generatedMediaMode === 'generated-mp4-from-image' ? 'Generated MP4 fallback from source image. Veo node remains disabled.' : 'Using original source video. Veo node remains disabled.' }}",
              "type": "string"
            },
            {
              "id": "generated-id-final",
              "name": "generatedMediaId",
              "value": "={{ $node['Generate Video Fallback'].json.generatedMediaId || '' }}",
              "type": "string"
            },
            {
              "id": "generated-path-final",
              "name": "generatedMediaPath",
              "value": "={{ $node['Generate Video Fallback'].json.generatedMediaPath || '' }}",
              "type": "string"
            },
            {
              "id": "generated-url-final",
              "name": "generatedMediaUrl",
              "value": "={{ $node['Generate Video Fallback'].json.generatedMediaUrl || '' }}",
              "type": "string"
            },
            {
              "id": "generated-name-final",
              "name": "generatedMediaName",
              "value": "={{ $node['Generate Video Fallback'].json.generatedMediaName || '' }}",
              "type": "string"
            },
            {
              "id": "generated-mode-final",
              "name": "generatedMediaMode",
              "value": "={{ $node['Generate Video Fallback'].json.generatedMediaMode || '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "assemble-draft",
      "name": "Assemble Draft",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "approval-message",
              "name": "discordMessage",
              "value": "={{ `Sarah Nutri video approval request\\n\\nSource: ${$json.sourceTitle || 'Untitled'} ${$json.sourceHandle || ''}\\nPost: <${$json.sourcePostLink || $json.sourceLink || ''}>\\nPreview: <${$json.sourceVideoUrl || $json.sourceImageUrl || ''}>\\n\\nDraft post:\\n${($json.postText || '').substring(0, 520)}${($json.postText || '').length > 520 ? '...' : ''}\\n\\nReview page:\\n<http://192.168.1.59:8080/webhook/sarah-nutri-video-review?executionId=${$execution.id}>` }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "prepare-approval",
      "name": "Prepare Approval Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "operation": "sendLegacy",
        "content": "={{ $json.discordMessage }}",
        "options": {},
        "embeds": {},
        "files": {}
      },
      "id": "discord-id",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1160,
        0
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "7i15uQZ2xyb2Y3zH",
          "name": "Discord Webhook account"
        }
      },
      "webhookId": "sarah-discord-main-video-v3"
    }
  ],
  "connections": {
    "API Trigger": {
      "main": [
        [
          {
            "node": "Target Page Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Target Page Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Target Page Config": {
      "main": [
        [
          {
            "node": "Pull Source Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Source Post": {
      "main": [
        [
          {
            "node": "Build Draft Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Draft Context": {
      "main": [
        [
          {
            "node": "Gemini: Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini: Rewrite",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Rewrite": {
      "main": [
        [
          {
            "node": "Normalize Post Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Post Copy": {
      "main": [
        [
          {
            "node": "Generate Video Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Fallback": {
      "main": [
        [
          {
            "node": "Assemble Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "Veo Video Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Draft": {
      "main": [
        [
          {
            "node": "Prepare Approval Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Approval Message": {
      "main": [
        [
          {
            "node": "Discord Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {}
}
