workflow_sarah_nutri_forum_manual_queue.json
{
  "name": "Sarah Nutri - Forum Manual Queue -> Discord Review",
  "nodes": [
    {
      "parameters": {
        "notice": ""
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        40
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sarah-nutri-forum-candidates",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "forum-intake-webhook",
      "name": "Forum Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -980,
        -160
      ],
      "webhookId": "sarah-nutri-forum-candidates"
    },
    {
      "parameters": {
        "jsCode": "const config = {\n  \"brand\": \"Sarah Nutri\",\n  \"mode\": \"human_approval_required\",\n  \"daily_approved_post_limit\": 5,\n  \"affiliate_link_probability\": 0.15,\n  \"default_disclosure\": \"Disclosure: this may be an affiliate link, which means I may earn a small commission at no extra cost to you.\",\n  \"reddit\": {\n    \"search_limit\": 15,\n    \"search_query\": \"(elderly OR senior OR \\\"aging parent\\\" OR caregiver OR arthritis OR mobility OR sleep OR constipation OR appetite OR hydration OR \\\"blood pressure\\\")\",\n    \"target_subreddits\": [\n      \"AgingParents\",\n      \"CaregiverSupport\",\n      \"eldercare\",\n      \"AskOldPeopleAdvice\",\n      \"nutrition\",\n      \"Supplements\"\n    ],\n    \"blocked_subreddits\": [\n      \"AskDocs\",\n      \"medical\",\n      \"DiagnoseMe\"\n    ]\n  },\n  \"quora\": {\n    \"daily_manual_post_limit\": 5,\n    \"source_mode\": \"draft_only_until_reviewed\",\n    \"google_query\": \"site:quora.com elderly senior health caregiver nutrition sleep mobility question\"\n  },\n  \"safety\": {\n    \"block_if_contains\": [\n      \"chest pain\",\n      \"stroke\",\n      \"suicidal\",\n      \"suicide\",\n      \"overdose\",\n      \"can't breathe\",\n      \"cannot breathe\",\n      \"severe bleeding\",\n      \"fainted\",\n      \"unconscious\",\n      \"sepsis\",\n      \"blood in stool\",\n      \"blood in urine\"\n    ],\n    \"requires_human_review\": [\n      \"medication\",\n      \"dose\",\n      \"dosage\",\n      \"diagnosis\",\n      \"treatment\",\n      \"cancer\",\n      \"diabetes\",\n      \"kidney disease\",\n      \"heart failure\",\n      \"dementia\"\n    ]\n  }\n};\nconst products = [\n  {\n    \"slug\": \"hydration-electrolytes\",\n    \"name\": \"Senior-friendly hydration support\",\n    \"affiliate_url\": \"https://example.com/affiliate/hydration\",\n    \"match_keywords\": [\n      \"hydration\",\n      \"dehydrated\",\n      \"electrolyte\",\n      \"cramps\",\n      \"water\"\n    ],\n    \"use_when\": \"The person is asking about hydration habits, mild dehydration prevention, or staying hydrated during heat or low appetite.\",\n    \"avoid_when\": \"The person reports confusion, fainting, severe illness, kidney disease, heart failure, or medication changes.\"\n  },\n  {\n    \"slug\": \"protein-shake\",\n    \"name\": \"Easy protein nutrition shake\",\n    \"affiliate_url\": \"https://example.com/affiliate/protein-shake\",\n    \"match_keywords\": [\n      \"protein\",\n      \"appetite\",\n      \"muscle\",\n      \"weak\",\n      \"weight loss\",\n      \"meal replacement\"\n    ],\n    \"use_when\": \"The question is about low appetite, simple protein intake, or maintaining muscle with aging.\",\n    \"avoid_when\": \"The person has kidney disease, unexplained weight loss, swallowing problems, or needs medical nutrition therapy.\"\n  },\n  {\n    \"slug\": \"fiber-support\",\n    \"name\": \"Gentle fiber support\",\n    \"affiliate_url\": \"https://example.com/affiliate/fiber\",\n    \"match_keywords\": [\n      \"constipation\",\n      \"fiber\",\n      \"regular\",\n      \"digestion\",\n      \"bowel\"\n    ],\n    \"use_when\": \"The person asks about simple food and routine support for occasional constipation.\",\n    \"avoid_when\": \"The person reports blood, severe pain, bowel obstruction risk, sudden major bowel changes, or unexplained weight loss.\"\n  },\n  {\n    \"slug\": \"mobility-bands\",\n    \"name\": \"Light resistance bands\",\n    \"affiliate_url\": \"https://example.com/affiliate/resistance-bands\",\n    \"match_keywords\": [\n      \"mobility\",\n      \"walking\",\n      \"strength\",\n      \"exercise\",\n      \"balance\",\n      \"chair exercise\"\n    ],\n    \"use_when\": \"The person asks about gentle strength, balance, or simple home movement for older adults.\",\n    \"avoid_when\": \"The person has acute injury, falls, severe pain, fracture concern, or needs physical therapy clearance.\"\n  },\n  {\n    \"slug\": \"sleep-routine\",\n    \"name\": \"Sleep routine support kit\",\n    \"affiliate_url\": \"https://example.com/affiliate/sleep\",\n    \"match_keywords\": [\n      \"sleep\",\n      \"insomnia\",\n      \"night\",\n      \"routine\",\n      \"tired\"\n    ],\n    \"use_when\": \"The person asks about sleep hygiene, bedtime routine, or non-medical sleep habits.\",\n    \"avoid_when\": \"The person mentions sedatives, sleep apnea, confusion, falls, medication interactions, or severe depression.\"\n  }\n];\nconst body = $json.body || $json || {};\nconst defaultReddit = {\n  platform: 'reddit',\n  title: 'Caregiver asking how to help an older parent eat enough protein',\n  body: 'My elderly mother has very little appetite and I am worried she is losing strength. What are simple ways to help without making meals complicated?',\n  url: '',\n  subreddit: 'AgingParents'\n};\nconst defaultQuora = {\n  platform: 'quora',\n  title: 'What are easy nutrition habits that help elderly people keep their strength?',\n  body: 'Looking for practical advice for older adults who do not eat much and get tired easily.',\n  url: ''\n};\nfunction cleanCandidate(input, fallback, platform) {\n  const value = input && typeof input === 'object' ? input : fallback;\n  return {\n    platform,\n    title: String(value.title || fallback.title || '').trim(),\n    body: String(value.body || value.text || fallback.body || '').trim(),\n    url: String(value.url || value.permalink || '').trim(),\n    subreddit: String(value.subreddit || '').trim()\n  };\n}\nconst reddit = cleanCandidate(body.reddit, defaultReddit, 'reddit');\nconst quora = cleanCandidate(body.quora, defaultQuora, 'quora');\nreturn [{ json: { brand: config.brand, config, products, reddit, quora, intakeNotes: String(body.notes || '').trim() } }];"
      },
      "id": "normalize-pair",
      "name": "Normalize Candidate Pair",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const products = ($json.products || []).filter((p) => p.affiliate_url).map((p) => ({ slug: p.slug, name: p.name, match_keywords: p.match_keywords, use_when: p.use_when, avoid_when: p.avoid_when, affiliate_url: p.affiliate_url, source: p.source || 'manual_catalog' }));\nconst question = $json.reddit;\nconst prompt = \"You are Sarah Nutri, writing as a warm, practical nutrition and healthy-aging voice.\\n\\nThe audience is older adults, caregivers, and families. Give useful general education, not diagnosis or treatment. Be kind, direct, and low-drama.\\n\\nHard rules:\\n- Do not claim to be the person's clinician.\\n- Do not diagnose, prescribe, or tell someone to change medication.\\n- If emergency symptoms appear, recommend urgent medical care and do not add a product link.\\n- If the question involves medication, dosing, cancer, diabetes, kidney disease, heart failure, dementia, severe symptoms, or unexplained weight loss, mark it as human_review.\\n- No product link unless the product is directly relevant and the answer is still useful without the product.\\n- If a product link is included, include the affiliate disclosure in plain language.\\n- Write like a real person helping, not an ad.\\n\\nReturn strict JSON only:\\n{\\n  \\\"safety\\\": \\\"answer|human_review|emergency|skip\\\",\\n  \\\"affiliate_allowed\\\": false,\\n  \\\"selected_product_slug\\\": null,\\n  \\\"reply\\\": \\\"final Reddit comment text\\\",\\n  \\\"reason\\\": \\\"short internal reason\\\"\\n}\\n\" + '\\n\\nManual posting mode: draft one copy/paste-ready Reddit comment. Keep it under 1200 characters. Do not mention automation. If you include an affiliate link, include the disclosure.\\n\\nReddit question context:\\n' + JSON.stringify(question, null, 2) + '\\n\\nAvailable product catalog, including synced Digistore24 entries if present:\\n' + JSON.stringify(products, null, 2) + '\\n\\nReturn strict JSON only.';\nreturn [{ json: { ...$json, redditPrompt: prompt } }];"
      },
      "id": "build-reddit-prompt",
      "name": "Build Reddit Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -60
      ]
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ $json.redditPrompt }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {}
      },
      "id": "bonsai-reddit-draft",
      "name": "Bonsai Reddit Draft",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -240,
        -60
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "bonsai-8b"
        },
        "options": {}
      },
      "id": "bonsai-model-reddit",
      "name": "Bonsai Model Reddit",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "b0nsa1OpenAi8081",
          "name": "Bonsai OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Build Reddit Prompt'].json;\nconst raw = String($json.text || '').trim();\nfunction parseJson(text) {\n  const fenced = text.match(/\\`\\`\\`(?:json)?\\s*([\\s\\S]*?)\\`\\`\\`/i);\n  const body = fenced ? fenced[1] : text;\n  const first = body.indexOf('{');\n  const last = body.lastIndexOf('}');\n  if (first < 0 || last < first) throw new Error('Bonsai Reddit draft was not JSON: ' + text.slice(0, 300));\n  return JSON.parse(body.slice(first, last + 1));\n}\nfunction finalize(parsed, textKey) {\n  const products = source.products || [];\n  const product = products.find((p) => p.slug === parsed.selected_product_slug && p.affiliate_url) || null;\n  let text = String(parsed[textKey] || '').trim();\n  const allowProduct = parsed.affiliate_allowed === true && product && parsed.safety === 'answer' && text.length > 80;\n  if (allowProduct && !text.includes(product.affiliate_url)) {\n    text += '\\n\\nHelpful resource: ' + product.name + ' - ' + product.affiliate_url;\n    text += '\\n' + source.config.default_disclosure;\n  }\n  return { text, product, affiliateAllowed: Boolean(allowProduct) };\n}\nconst parsed = parseJson(raw);\nconst final = finalize(parsed, 'reply');\nreturn [{ json: { ...source, redditDraft: { raw, text: final.text, safety: parsed.safety || 'human_review', affiliateAllowed: final.affiliateAllowed, selectedProductSlug: final.product ? final.product.slug : '', selectedProductName: final.product ? final.product.name : '', reason: parsed.reason || '' } } }];"
      },
      "id": "parse-reddit-draft",
      "name": "Parse Reddit Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const products = ($json.products || []).filter((p) => p.affiliate_url).map((p) => ({ slug: p.slug, name: p.name, match_keywords: p.match_keywords, use_when: p.use_when, avoid_when: p.avoid_when, affiliate_url: p.affiliate_url, source: p.source || 'manual_catalog' }));\nconst question = $json.quora;\nconst prompt = \"You are drafting a Quora answer for Sarah Nutri.\\n\\nThe answer should be higher effort than a Reddit comment: clear structure, practical steps, and a calm healthy-aging tone. Do not post directly from automation. Produce a draft for manual review.\\n\\nHard rules:\\n- General education only, not medical diagnosis.\\n- Include a clinician/registered dietitian caveat when the question is condition-specific.\\n- Use product links sparingly and only when directly relevant.\\n- Include an affiliate disclosure when a link is used.\\n- Avoid repetitive templates.\\n\\nReturn strict JSON only:\\n{\\n  \\\"safety\\\": \\\"answer|human_review|emergency|skip\\\",\\n  \\\"affiliate_allowed\\\": false,\\n  \\\"selected_product_slug\\\": null,\\n  \\\"answer\\\": \\\"final Quora draft answer\\\",\\n  \\\"reason\\\": \\\"short internal reason\\\"\\n}\\n\" + '\\n\\nManual posting mode: draft one copy/paste-ready Quora answer. Keep it under 1800 characters so it fits a Discord review packet. Do not mention automation. If you include an affiliate link, include the disclosure.\\n\\nQuora question context:\\n' + JSON.stringify(question, null, 2) + '\\n\\nAvailable product catalog, including synced Digistore24 entries if present:\\n' + JSON.stringify(products, null, 2) + '\\n\\nReturn strict JSON only.';\nreturn [{ json: { ...$json, quoraPrompt: prompt } }];"
      },
      "id": "build-quora-prompt",
      "name": "Build Quora Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -60
      ]
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ $json.quoraPrompt }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {}
      },
      "id": "bonsai-quora-draft",
      "name": "Bonsai Quora Draft",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        480,
        -60
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "bonsai-8b"
        },
        "options": {}
      },
      "id": "bonsai-model-quora",
      "name": "Bonsai Model Quora",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "b0nsa1OpenAi8081",
          "name": "Bonsai OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Build Quora Prompt'].json;\nconst raw = String($json.text || '').trim();\nfunction parseJson(text) {\n  const fenced = text.match(/\\`\\`\\`(?:json)?\\s*([\\s\\S]*?)\\`\\`\\`/i);\n  const body = fenced ? fenced[1] : text;\n  const first = body.indexOf('{');\n  const last = body.lastIndexOf('}');\n  if (first < 0 || last < first) throw new Error('Bonsai Quora draft was not JSON: ' + text.slice(0, 300));\n  return JSON.parse(body.slice(first, last + 1));\n}\nconst parsed = parseJson(raw);\nconst product = (source.products || []).find((p) => p.slug === parsed.selected_product_slug && p.affiliate_url) || null;\nlet text = String(parsed.answer || '').trim();\nconst allowProduct = parsed.affiliate_allowed === true && product && parsed.safety === 'answer' && text.length > 120;\nif (allowProduct && !text.includes(product.affiliate_url)) {\n  text += '\\n\\nHelpful resource: ' + product.name + ' - ' + product.affiliate_url;\n  text += '\\n' + source.config.default_disclosure;\n}\nreturn [{ json: { ...source, quoraDraft: { raw, text, safety: parsed.safety || 'human_review', affiliateAllowed: Boolean(allowProduct), selectedProductSlug: product ? product.slug : '', selectedProductName: product ? product.name : '', reason: parsed.reason || '' } } }];"
      },
      "id": "parse-quora-draft",
      "name": "Parse Quora Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nfunction clip(text, limit) {\n  const value = String(text || '');\n  return value.length > limit ? value.slice(0, limit - 3) + '...' : value;\n}\nconst redditMessage = [\n  'Sarah Nutri Reddit manual post',\n  '',\n  'Subreddit: ' + (data.reddit.subreddit ? 'r/' + data.reddit.subreddit : 'unknown'),\n  'Question: ' + data.reddit.title,\n  'URL: ' + (data.reddit.url || 'manual/source search'),\n  'Safety: ' + data.redditDraft.safety,\n  'Affiliate: ' + (data.redditDraft.affiliateAllowed ? 'yes - ' + data.redditDraft.selectedProductName : 'no'),\n  'Reason: ' + data.redditDraft.reason,\n  '',\n  'Copy/paste reply:',\n  clip(data.redditDraft.text, 1400)\n].join('\\n');\nconst quoraMessage = [\n  'Sarah Nutri Quora manual post',\n  '',\n  'Question: ' + data.quora.title,\n  'URL: ' + (data.quora.url || 'manual/source search'),\n  'Safety: ' + data.quoraDraft.safety,\n  'Affiliate: ' + (data.quoraDraft.affiliateAllowed ? 'yes - ' + data.quoraDraft.selectedProductName : 'no'),\n  'Reason: ' + data.quoraDraft.reason,\n  '',\n  'Copy/paste answer:',\n  clip(data.quoraDraft.text, 1500)\n].join('\\n');\nreturn [\n  { json: { ok: true, platform: 'reddit', discordMessage: redditMessage, candidate: data.reddit, draft: data.redditDraft } },\n  { json: { ok: true, platform: 'quora', discordMessage: quoraMessage, candidate: data.quora, draft: data.quoraDraft } }\n];"
      },
      "id": "build-discord-packets",
      "name": "Build Discord Packets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -60
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "operation": "sendLegacy",
        "content": "={{ $json.discordMessage }}",
        "options": {},
        "embeds": {},
        "files": {}
      },
      "id": "discord-notify",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1200,
        -60
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "7i15uQZ2xyb2Y3zH",
          "name": "Discord Webhook account"
        }
      },
      "webhookId": "sarah-discord-forum-manual-queue"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Candidate Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forum Intake Webhook": {
      "main": [
        [
          {
            "node": "Normalize Candidate Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Candidate Pair": {
      "main": [
        [
          {
            "node": "Build Reddit Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reddit Prompt": {
      "main": [
        [
          {
            "node": "Bonsai Reddit Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bonsai Model Reddit": {
      "ai_languageModel": [
        [
          {
            "node": "Bonsai Reddit Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Bonsai Reddit Draft": {
      "main": [
        [
          {
            "node": "Parse Reddit Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reddit Draft": {
      "main": [
        [
          {
            "node": "Build Quora Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Quora Prompt": {
      "main": [
        [
          {
            "node": "Bonsai Quora Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bonsai Model Quora": {
      "ai_languageModel": [
        [
          {
            "node": "Bonsai Quora Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Bonsai Quora Draft": {
      "main": [
        [
          {
            "node": "Parse Quora Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Quora Draft": {
      "main": [
        [
          {
            "node": "Build Discord Packets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Discord Packets": {
      "main": [
        [
          {
            "node": "Discord Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null
}
