workflow_sarah_nutri_video_review_page.json
{
  "name": "Sarah Nutri - Video Review Page",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "sarah-nutri-video-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "review-webhook",
      "name": "Review Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -900,
        0
      ],
      "webhookId": "sarah-nutri-video-review"
    },
    {
      "parameters": {
        "url": "={{ `http://localhost:5678/api/v1/executions/${$json.query.executionId}?includeData=true` }}",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2OTg0YTliYi1mMmM5LTRjMTUtYmY3NC1jZDVmZDVjYmQ1YWQiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU5Nzk1MTg2fQ.7ui0fuFgZ0zm5xew5COKoLVbYDNl49G6Iy2M2IUtj-g"
            }
          ]
        },
        "options": {}
      },
      "id": "get-review-execution",
      "name": "Get Review Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -700,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "execution-id",
              "name": "executionId",
              "value": "={{ $node[\"Review Webhook\"].json.query.executionId }}",
              "type": "string"
            },
            {
              "id": "source-title",
              "name": "sourceTitle",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.sourceTitle || 'Untitled' }}",
              "type": "string"
            },
            {
              "id": "source-link",
              "name": "sourceLink",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.sourceLink || '' }}",
              "type": "string"
            },
            {
              "id": "post-text",
              "name": "postText",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.postText || '' }}",
              "type": "string"
            },
            {
              "id": "video-prompt",
              "name": "videoPrompt",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.videoPrompt || \"\" }}",
              "type": "string"
            },
            {
              "id": "source-image",
              "name": "sourceImageUrl",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.sourceImageUrl || '' }}",
              "type": "string"
            },
            {
              "id": "source-video",
              "name": "sourceVideoUrl",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.sourceVideoUrl || '' }}",
              "type": "string"
            },
            {
              "id": "generated-media-path",
              "name": "generatedMediaPath",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.generatedMediaPath || \"\" }}",
              "type": "string"
            },
            {
              "id": "generated-media-url",
              "name": "generatedMediaUrl",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.generatedMediaUrl || \"\" }}",
              "type": "string"
            },
            {
              "id": "generated-media-name",
              "name": "generatedMediaName",
              "value": "={{ $json.data.resultData.runData[\"Assemble Draft\"][0].data.main[0][0].json.generatedMediaName || \"\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "extract-review-data",
      "name": "Extract Review Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -500,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "html",
              "name": "html",
              "value": "={{ (() => { const draft = { executionId: $json.executionId, sourceTitle: $json.sourceTitle, sourceLink: $json.sourceLink, postText: $json.postText, videoPrompt: $json.videoPrompt, sourceImageUrl: $json.sourceImageUrl, sourceVideoUrl: $json.sourceVideoUrl, generatedMediaPath: $json.generatedMediaPath, generatedMediaUrl: $json.generatedMediaUrl, generatedMediaName: $json.generatedMediaName }; return `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n<title>Sarah Nutri Video Review</title>\n<style>\n:root { color-scheme: dark; }\nbody { margin: 0; font-family: Inter, Arial, sans-serif; background: #0b1020; color: #e5e7eb; }\nmain { max-width: 860px; margin: 0 auto; padding: 20px 16px 48px; }\n.card { background: #121933; border: 1px solid #243055; border-radius: 16px; padding: 16px; margin-bottom: 16px; box-shadow: 0 10px 30px rgba(0,0,0,.25); }\nh1 { font-size: 24px; margin: 0 0 8px; }\nh2 { font-size: 16px; margin: 0 0 12px; color: #93c5fd; }\np, a, label, textarea, button, pre { font-size: 15px; }\na { color: #7dd3fc; word-break: break-word; }\n.preview { width: 100%; border-radius: 14px; background: #0f172a; overflow: hidden; min-height: 120px; display: flex; align-items: center; justify-content: center; }\n.preview img, .preview video { width: 100%; max-height: 420px; object-fit: cover; display: block; }\n.copy { white-space: pre-wrap; line-height: 1.55; }\ntextarea { width: 100%; min-height: 120px; border-radius: 12px; border: 1px solid #334155; background: #0f172a; color: #e5e7eb; padding: 12px; box-sizing: border-box; }\n.actions { display: grid; grid-template-columns: 1fr 1fr; gap: 12px; margin-top: 12px; }\nbutton { border: 0; border-radius: 12px; padding: 14px 16px; font-weight: 700; cursor: pointer; }\nbutton.approve { background: #22c55e; color: #08130c; }\nbutton.reject { background: #ef4444; color: white; }\nbutton:disabled { opacity: 0.6; cursor: wait; }\n.status { margin-top: 12px; min-height: 22px; color: #cbd5e1; white-space: pre-wrap; line-height: 1.45; }\nsmall { color: #94a3b8; display: block; margin-top: 8px; }\ndetails { margin-top: 12px; }\nsummary { cursor: pointer; color: #93c5fd; }\n@media (max-width: 640px) { .actions { grid-template-columns: 1fr; } main { padding: 14px 12px 36px; } }\n</style>\n</head>\n<body>\n<main>\n<div class=\"card\">\n<h1>Sarah Nutri Video Review</h1>\n<p>Review the draft, compare the source video with the Veo placeholder, then approve or reject with instructions.</p>\n</div>\n<div class=\"card\">\n<h2>Source</h2>\n<p id=\"title\" class=\"copy\"></p>\n<p><a id=\"sourceLink\" href=\"#\" target=\"_blank\" rel=\"noreferrer\">Open source</a></p>\n</div>\n<div class=\"card\">\n<h2>Source Media Preview</h2>\n<div id=\"preview\" class=\"preview\"></div>\n<small>The original source media stays the default post asset when it exists.</small>\n</div>\n<div class=\"card\">\n<h2>Veo Fallback (Inactive)</h2>\n<div id=\"generatedPreview\" class=\"preview\"></div>\n<small>Veo is inactive for now, so the source video remains the default review asset.</small>\n</div>\n<div class=\"card\">\n<h2>Draft Post</h2>\n<pre id=\"postText\" class=\"copy\"></pre>\n<details>\n<summary>Show video prompt</summary>\n<pre id=\"videoPrompt\" class=\"copy\"></pre>\n</details>\n</div>\n<div class=\"card\">\n<h2>Decision</h2>\n<label for=\"feedback\">If rejecting, describe exactly what should change.</label>\n<textarea id=\"feedback\" placeholder=\"Example: make it more polemical, add more urgency, generate new media with a stronger emotional tone\"></textarea>\n<div class=\"actions\">\n<button class=\"approve\" id=\"approveBtn\">Approve</button>\n<button class=\"reject\" id=\"rejectBtn\">Reject And Rewrite</button>\n</div>\n<div class=\"status\" id=\"status\"></div>\n</div>\n</main>\n<script>\nconst draft = ${JSON.stringify(draft)};\nconst baseCallback = 'http://192.168.1.59:8080/webhook/sarah-nutri-video-approval';\nconst approveBtn = document.getElementById('approveBtn');\nconst rejectBtn = document.getElementById('rejectBtn');\ndocument.getElementById('title').textContent = draft.sourceTitle || 'Untitled';\nconst link = document.getElementById('sourceLink');\nlink.href = draft.sourceLink || '#';\nlink.textContent = draft.sourceLink || 'No source link available';\ndocument.getElementById('postText').textContent = draft.postText || '';\ndocument.getElementById('videoPrompt').textContent = draft.videoPrompt || '';\nconst preview = document.getElementById('preview');\nif (draft.sourceVideoUrl) {\n  const video = document.createElement('video');\n  video.src = draft.sourceVideoUrl;\n  video.controls = true;\n  video.playsInline = true;\n  preview.appendChild(video);\n} else if (draft.sourceImageUrl) {\n  const img = document.createElement('img');\n  img.src = draft.sourceImageUrl;\n  img.alt = 'Source media preview';\n  preview.appendChild(img);\n} else {\n  preview.textContent = 'No source media preview available.';\n}\nconst generatedPreview = document.getElementById('generatedPreview');\nconst generatedCard = generatedPreview.parentElement;\nif (draft.generatedMediaUrl || draft.generatedMediaPath) {\n  const generatedAsset = (draft.generatedMediaUrl || draft.generatedMediaPath || '').toLowerCase();\n  if (generatedAsset.endsWith('.mp4') || generatedAsset.endsWith('.webm') || generatedAsset.endsWith('.mov')) {\n    const video = document.createElement('video');\n    video.src = draft.generatedMediaUrl || draft.generatedMediaPath;\n    video.controls = true;\n    video.playsInline = true;\n    generatedPreview.appendChild(video);\n  } else {\n    const img = document.createElement('img');\n    img.src = draft.generatedMediaUrl || draft.generatedMediaPath;\n    img.alt = 'AI generated fallback preview';\n    generatedPreview.appendChild(img);\n  }\n  const note = document.createElement('small');\n  note.textContent = draft.sourceVideoUrl ? 'The generated preview is available above.' : 'No source video was available, so the generated MP4 is the default approval asset.';\n  generatedCard.appendChild(note);\n} else {\n  generatedPreview.textContent = 'No Veo fallback is available yet. Reject a draft to generate a new version.';\n}\nconst statusEl = document.getElementById('status');\nfunction setStatus(message) { statusEl.textContent = message; }\nfunction setBusy(isBusy) {\n  approveBtn.disabled = isBusy;\n  rejectBtn.disabled = isBusy;\n}\nfunction selectedMediaChoice() {\n  const selected = document.querySelector('input[name=\\\"mediaChoice\\\"]:checked');\n  return selected ? selected.value : 'source';\n}\nasync function sendDecision(action) {\n  const feedback = document.getElementById('feedback').value.trim();\n  if (action === 'reject' && !feedback) {\n    setStatus('Add feedback before rejecting.');\n    return;\n  }\n  setBusy(true);\n  setStatus(action === 'approve' ? 'Approving and sending to Postiz...' : 'Rejecting and requesting a rewrite...');\n  const url = new URL(baseCallback);\n  url.searchParams.set('action', action);\n  url.searchParams.set('executionId', draft.executionId);\n  url.searchParams.set('mediaChoice', selectedMediaChoice());\n  if (feedback) url.searchParams.set('feedback', feedback);\n  try {\n    const response = await fetch(url.toString(), { method: 'GET' });\n    const payload = await response.json().catch(() => ({}));\n    if (!response.ok) throw new Error(payload.message || 'Request failed');\n    const message = payload.message || (action === 'approve' ? 'Approved.' : 'Rejected.');\n    setStatus(message);\n    if (action === 'approve') {\n      rejectBtn.disabled = true;\n    } else {\n      setBusy(false);\n    }\n  } catch (error) {\n    setBusy(false);\n    setStatus(error.message || 'Request failed. Try again.');\n  }\n}\napproveBtn.addEventListener('click', () => sendDecision('approve'));\nrejectBtn.addEventListener('click', () => sendDecision('reject'));\n</script>\n</body>\n</html>`; })() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "build-review-html",
      "name": "Build Review HTML",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond-review-html",
      "name": "Respond Review HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -100,
        0
      ]
    }
  ],
  "connections": {
    "Review Webhook": {
      "main": [
        [
          {
            "node": "Get Review Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Review Execution": {
      "main": [
        [
          {
            "node": "Extract Review Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Review Data": {
      "main": [
        [
          {
            "node": "Build Review HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Review HTML": {
      "main": [
        [
          {
            "node": "Respond Review HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
