workflow_sarah_nutri_live_fix.json
{
  "name": "Sarah Nutri - RSS -> Discord -> Postiz (LOOP)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-id",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -700,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.who.int/rss-feeds/news-english.xml"
      },
      "id": "rss-id",
      "name": "RSS Health News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -500,
        0
      ]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "limit-id",
      "name": "Latest Article",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "instruction",
              "value": "={{ `Write a concise Sarah Nutri social media post for adults and seniors based on this article. Keep it practical, warm, and clear. Include 3 to 5 relevant hashtags. Article: ${$json.title} - ${$json.contentSnippet}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-initial",
      "name": "Set Initial Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `You are an expert social media manager for Sarah Nutri. ${$json.instruction}` }}"
      },
      "id": "rewrite-id",
      "name": "Gemini: Rewrite",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        100,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "bonsai-8b"
        },
        "options": {}
      },
      "id": "model-id",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "b0nsa1OpenAi8081",
          "name": "Bonsai OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `Nano Banana 2.0: Create a detailed photorealistic AI image prompt of a healthy elderly person enjoying life based on this text: ${$json.text}` }}"
      },
      "id": "nano-id",
      "name": "Nano Banana AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "bonsai-8b"
        },
        "options": {}
      },
      "id": "model-id-2",
      "name": "Gemini Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "b0nsa1OpenAi8081",
          "name": "Bonsai OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "approval-message",
              "name": "discordMessage",
              "value": "={{ `Sarah Nutri approval request\n\nSource title:\n${$node[\"Latest Article\"].json.title || \"Untitled\"}\n\nSource link for preview:\n${$node[\"Latest Article\"].json.link || \"\"}\n\nDraft post:\n${($node[\"Gemini: Rewrite\"].json.text || \"\").substring(0, 650)}${($node[\"Gemini: Rewrite\"].json.text || \"\").length > 650 ? \"...\" : \"\"}\n\nImage prompt:\n${($json.text || \"\").substring(0, 400)}${($json.text || \"\").length > 400 ? \"...\" : \"\"}\n\nApprove:\n<${$execution.resumeUrl}&approved=true>\n\nReject:\n<${$execution.resumeUrl}&approved=false&feedback=Needs+revision>\n\nCustom reject feedback:\nReplace FEEDBACK_HERE in this URL, then open it:\n<${$execution.resumeUrl}&approved=false&feedback=FEEDBACK_HERE>` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-approval",
      "name": "Prepare Approval Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.discordMessage }}",
        "options": {}
      },
      "id": "discord-id",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        700,
        0
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "7i15uQZ2xyb2Y3zH"
        }
      },
      "webhookId": "22b9c018-1f86-4c68-a7d0-0f460e5aca19"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "ignoreBots": true,
          "respondWith": "text",
          "responseBody": "Feedback received. Returning to workflow."
        }
      },
      "id": "wait-id",
      "name": "Wait Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        900,
        0
      ],
      "webhookId": "4dbf5dfd-3501-4890-b61d-1714058b0c05"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ ($json.query.approved || '').toString().toLowerCase() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-id",
      "name": "If Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2",
              "name": "instruction",
              "value": "={{ `The user rejected the previous Sarah Nutri draft with this feedback: \"${$json.query.feedback || 'Needs revision'}\". Rewrite the post so it addresses that feedback while staying concise, practical, warm, and senior-friendly. Previous draft: ${($node[\"Gemini: Rewrite\"].json.text || '').substring(0, 700)}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-loop",
      "name": "Set Loop Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        -200
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:4007/api/public/v1/posts",
        "method": "POST",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "66809b7288bee402dcf00e1eb8d33b26567844a576f3684a5b1f72aa3d0e97b5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'draft', shortLink: false, date: $now.toISOString(), tags: [], posts: [{ integration: { id: 'cmnp9dbkr0003lm7pipaj2hwb' }, value: [{ content: $node['Gemini: Rewrite'].json.text, image: [] }], settings: { __type: 'youtube', title: ($node['Latest Article'].json.title || 'Sarah Nutri Draft').substring(0, 95), type: 'private', tags: [] } }] }) }}"
      },
      "id": "postiz-id",
      "name": "Create Postiz Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "RSS Health News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Health News": {
      "main": [
        [
          {
            "node": "Latest Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Latest Article": {
      "main": [
        [
          {
            "node": "Set Initial Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Initial Prompt": {
      "main": [
        [
          {
            "node": "Gemini: Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini: Rewrite",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Rewrite": {
      "main": [
        [
          {
            "node": "Nano Banana AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "Nano Banana AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Nano Banana AI": {
      "main": [
        [
          {
            "node": "Prepare Approval Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Approval Message": {
      "main": [
        [
          {
            "node": "Discord Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notify": {
      "main": [
        [
          {
            "node": "Wait Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Approval": {
      "main": [
        [
          {
            "node": "If Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved?": {
      "main": [
        [
          {
            "node": "Create Postiz Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Loop Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Loop Prompt": {
      "main": [
        [
          {
            "node": "Gemini: Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
