workflow_sarah_nutri_forum_manual_queue.json
{
  "name": "Sarah Nutri - Forum Manual Queue -> Discord Review",
  "nodes": [
    {
      "parameters": {
        "notice": ""
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        40
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sarah-nutri-forum-candidates",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "forum-intake-webhook",
      "name": "Forum Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -980,
        -160
      ],
      "webhookId": "sarah-nutri-forum-candidates"
    },
    {
      "parameters": {
        "jsCode": "const config = {\n  \"brand\": \"Sarah Nutri\",\n  \"mode\": \"human_approval_required\",\n  \"daily_approved_post_limit\": 5,\n  \"affiliate_link_probability\": 0.15,\n  \"default_disclosure\": \"Disclosure: this may be an affiliate link, which means I may earn a small commission at no extra cost to you.\",\n  \"reddit\": {\n    \"search_limit\": 15,\n    \"search_query\": \"(elderly OR senior OR \\\"aging parent\\\" OR caregiver OR arthritis OR mobility OR sleep OR constipation OR appetite OR hydration OR \\\"blood pressure\\\")\",\n    \"target_subreddits\": [\n      \"AgingParents\",\n      \"CaregiverSupport\",\n      \"eldercare\",\n      \"AskOldPeopleAdvice\",\n      \"nutrition\",\n      \"Supplements\"\n    ],\n    \"blocked_subreddits\": [\n      \"AskDocs\",\n      \"medical\",\n      \"DiagnoseMe\"\n    ]\n  },\n  \"quora\": {\n    \"daily_manual_post_limit\": 5,\n    \"source_mode\": \"draft_only_until_reviewed\",\n    \"google_query\": \"site:quora.com elderly senior health caregiver nutrition sleep mobility question\"\n  },\n  \"safety\": {\n    \"block_if_contains\": [\n      \"chest pain\",\n      \"stroke\",\n      \"suicidal\",\n      \"suicide\",\n      \"overdose\",\n      \"can't breathe\",\n      \"cannot breathe\",\n      \"severe bleeding\",\n      \"fainted\",\n      \"unconscious\",\n      \"sepsis\",\n      \"blood in stool\",\n      \"blood in urine\"\n    ],\n    \"requires_human_review\": [\n      \"medication\",\n      \"dose\",\n      \"dosage\",\n      \"diagnosis\",\n      \"treatment\",\n      \"cancer\",\n      \"diabetes\",\n      \"kidney disease\",\n      \"heart failure\",\n      \"dementia\"\n    ]\n  }\n};\nconst products = [\n  {\n    \"slug\": \"digistore24-family-docsrem-the-doctor-s-book-of-survival-home-remedies\",\n    \"name\": \"The Doctor's Book Of Survival Home Remedies\",\n    \"family_name\": \"The Doctor's Book Of Survival Home Remedies\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/the-doctor-s-book-of-survival-home-remedies\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"467670\",\n    \"vendor_name\": \"docsrem\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"The Doctor's Book Of Survival Home Remedies\"\n    ],\n    \"match_keywords\": [\n      \"doctor\",\n      \"book\",\n      \"survival\",\n      \"home\",\n      \"remedies\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches The Doctor's Book Of Survival Home Remedies or these themes: doctor, book, survival, home, remedies.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/467670/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12EGGC0972T5ZREE96F9QE\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-docsrem-the-doctor-s-book-of-survival-home-remedies\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"the-doctor-s-book-of-survival-home-remedies\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:00:45.965Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:34.192Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-durchstartenonline-30-days-ketogenic-meal-plan\",\n    \"name\": \"30-Days Ketogenic Meal Plan\",\n    \"family_name\": \"30-Days Ketogenic Meal Plan\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/30-ketogenic-meal-plan\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"273309\",\n    \"vendor_name\": \"durchstartenonline\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 2,\n    \"variant_names\": [\n      \"30-Days Ketogenic Meal Plan\",\n      \"30-Days Ketogenic Meal Plan\"\n    ],\n    \"match_keywords\": [\n      \"days\",\n      \"ketogenic\",\n      \"meal\",\n      \"plan\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches 30-Days Ketogenic Meal Plan or these themes: days, ketogenic, meal, plan.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/273309/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12EHSC55T575KSYSZC6ZZE\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-durchstartenonline-30-days-ketogenic-meal-plan\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"30-ketogenic-meal-plan\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:00:47.277Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:35.316Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-ketodiet-keto-air-fryer-cookbook-ds07\",\n    \"name\": \"Keto Air Fryer Cookbook (DS07)\",\n    \"family_name\": \"Keto Air Fryer Cookbook (DS07)\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/keto-air-fryer-cookbook\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"411008\",\n    \"vendor_name\": \"ketodiet\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Keto Air Fryer Cookbook (DS07)\"\n    ],\n    \"match_keywords\": [\n      \"keto\",\n      \"fryer\",\n      \"cookbook\",\n      \"ds07\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keto Air Fryer Cookbook (DS07) or these themes: keto, fryer, cookbook, ds07.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/411008/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12ET4JESQBNY33SF5D4X6H\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-ketodiet-keto-air-fryer-cookbook-ds07\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"keto-air-fryer-cookbook\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:00:55.827Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:39.872Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-ketodiet-keto-bread-pasta-pizza-collection\",\n    \"name\": \"Keto Bread Pasta Pizza Collection\",\n    \"family_name\": \"Keto Bread Pasta Pizza Collection\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/keto-bread-pasta-pizza-collection\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"403387\",\n    \"vendor_name\": \"ketodiet\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Keto Bread Pasta Pizza Collection\"\n    ],\n    \"match_keywords\": [\n      \"keto\",\n      \"bread\",\n      \"pasta\",\n      \"pizza\",\n      \"collection\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keto Bread Pasta Pizza Collection or these themes: keto, bread, pasta, pizza, collection.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/403387/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12EVKR07TJ2ZR2C1TP6J02\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-ketodiet-keto-bread-pasta-pizza-collection\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"keto-bread-pasta-pizza-collection\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:00:57.337Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:41.052Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-keyslim-keyslim-drops-3-digital-bonuses\",\n    \"name\": \"Keyslim Drops - + 3 Digital Bonuses\",\n    \"family_name\": \"Keyslim Drops - + 3 Digital Bonuses\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/keyslim-drops-3-digital\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"527379\",\n    \"vendor_name\": \"keyslim\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 2,\n    \"variant_names\": [\n      \"Keyslim Drops - 3 Bottles + 3 Digital Bonuses\",\n      \"Keyslim Drops - 6 Bottles + 3 Digital Bonuses\"\n    ],\n    \"match_keywords\": [\n      \"keyslim\",\n      \"drops\",\n      \"digital\",\n      \"bonuses\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keyslim Drops - + 3 Digital Bonuses or these themes: keyslim, drops, digital, bonuses.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/527379/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12EXA85PJWQD157YYSTMXQ\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-keyslim-keyslim-drops-3-digital-bonuses\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"keyslim-drops-3-digital\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:00:59.081Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:42.904Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-lostrec-the-lost-superfoods-physical-and-digital-us\",\n    \"name\": \"The Lost Superfoods Physical And Digital US\",\n    \"family_name\": \"The Lost Superfoods Physical And Digital US\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/the-lost-superfoods-physical-and-digital-us\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"377301\",\n    \"vendor_name\": \"lostrec\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"The Lost Superfoods Physical and Digital US\"\n    ],\n    \"match_keywords\": [\n      \"lost\",\n      \"superfoods\",\n      \"physical\",\n      \"digital\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches The Lost Superfoods Physical And Digital US or these themes: lost, superfoods, physical, digital.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/377301/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12EZ34RXCC8WM14EAND8FY\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-lostrec-the-lost-superfoods-physical-and-digital-us\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"the-lost-superfoods-physical-and-digital-us\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:00.901Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:44.738Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-mayadunna-stress-annihilator-video-guide\",\n    \"name\": \"Stress Annihilator Video Guide\",\n    \"family_name\": \"Stress Annihilator Video Guide\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/stress-annihilator-video-guide\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"547122\",\n    \"vendor_name\": \"mayadunna\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Stress Annihilator Video Guide\"\n    ],\n    \"match_keywords\": [\n      \"stress\",\n      \"annihilator\",\n      \"video\",\n      \"guide\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Stress Annihilator Video Guide or these themes: stress, annihilator, video, guide.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/547122/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12F0QJW4XPS0R63TGQB3S2\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-mayadunna-stress-annihilator-video-guide\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"stress-annihilator-video-guide\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:02.579Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:46.188Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-add1-members-portal-access-30-day-free\",\n    \"name\": \"ADD1 Members Portal Access 30 Day FREE\",\n    \"family_name\": \"ADD1 Members Portal Access 30 Day FREE\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/add1-members-portal-access-30-free\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519020\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"ADD1 Members Portal Access 30 day FREE\"\n    ],\n    \"match_keywords\": [\n      \"add1\",\n      \"members\",\n      \"portal\",\n      \"access\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches ADD1 Members Portal Access 30 Day FREE or these themes: add1, members, portal, access.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519020/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12F2BA2TQM5N7D1301K37Z\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-nutraville-add1-members-portal-access-30-day-free\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"add1-members-portal-access-30-free\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:04.236Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:47.627Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-rm7866-main1-tsl-echoxen\",\n    \"name\": \"Main1 [TSL] - EchoXen\",\n    \"family_name\": \"Main1 [TSL] - EchoXen\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/echoxen-main1\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"578369\",\n    \"vendor_name\": \"RM7866\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main1 [TSL] - EchoXen (1 Bottle)\"\n    ],\n    \"match_keywords\": [\n      \"main1\",\n      \"echoxen\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main1 [TSL] - EchoXen or these themes: main1, echoxen, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/578369/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12F8HSHZ7TQ0XNMHV3QG71\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-rm7866-main1-tsl-echoxen\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"echoxen-main1\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:10.586Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:48.558Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-rm7866-main2-navy-seal-vsl-echoxen\",\n    \"name\": \"Main2 [Navy Seal VSL] - EchoXen\",\n    \"family_name\": \"Main2 [Navy Seal VSL] - EchoXen\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/echoxen-main2\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"578370\",\n    \"vendor_name\": \"RM7866\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main2 [Navy Seal VSL] - EchoXen (3 Bottles)\"\n    ],\n    \"match_keywords\": [\n      \"main2\",\n      \"navy\",\n      \"seal\",\n      \"echoxen\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main2 [Navy Seal VSL] - EchoXen or these themes: main2, navy, seal, echoxen, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/578370/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12F9M1V4ZY1EDC5W1JNXJD\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-rm7866-main2-navy-seal-vsl-echoxen\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"echoxen-main2\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:11.682Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:49.514Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-rm7866-main2sub-echoxen\",\n    \"name\": \"Main2SUB - EchoXen\",\n    \"family_name\": \"Main2SUB - EchoXen\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/main2sub-echoxen\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"611664\",\n    \"vendor_name\": \"RM7866\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main2SUB - EchoXen (3 Bottles)\"\n    ],\n    \"match_keywords\": [\n      \"main2sub\",\n      \"echoxen\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.685\n    },\n    \"total_score\": 0.685,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main2SUB - EchoXen or these themes: main2sub, echoxen, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/611664/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12FANN41GE82Y71S6Q29FM\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-rm7866-main2sub-echoxen\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"main2sub-echoxen\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:12.758Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:50.136Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-rm7866-echoxen\",\n    \"name\": \"EchoXen\",\n    \"family_name\": \"EchoXen\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/echoxen\",\n    \"source\": \"affiliate_sales_history\",\n    \"digistore24_id\": \"578370\",\n    \"vendor_name\": \"RM7866\",\n    \"product_type_name\": \"Supplements - health\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 3,\n    \"variant_names\": [\n      \"EchoXen (3 Bottles)\",\n      \"EchoXen 3 More Bottles\",\n      \"EchoXen (2 Bottles)\"\n    ],\n    \"match_keywords\": [\n      \"echoxen\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.6589,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0.1905,\n      \"recency\": 0.1028,\n      \"approval\": 1,\n      \"total\": 0.684\n    },\n    \"total_score\": 0.684,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches EchoXen or these themes: echoxen, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/578370/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12FC6K5XS3Q15G6FYNNFRM\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-rm7866-echoxen\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"echoxen\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:14.324Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:50.731Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-superwebj-ring-quiet-plus\",\n    \"name\": \"Ring Quiet Plus\",\n    \"family_name\": \"Ring Quiet Plus\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/ring-quiet-plus\",\n    \"source\": \"affiliate_sales_history\",\n    \"digistore24_id\": \"595448\",\n    \"vendor_name\": \"superwebj\",\n    \"product_type_name\": \"Supplements - health\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Ring Quiet Plus 2 bottles\"\n    ],\n    \"match_keywords\": [\n      \"ring\",\n      \"quiet\",\n      \"plus\",\n      \"tinnitus\",\n      \"ringing ears\",\n      \"ear ringing\",\n      \"hearing\",\n      \"ear comfort\",\n      \"night ringing\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 1,\n      \"earnings_per_sale\": 0.3989,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0.0952,\n      \"recency\": 0.0629,\n      \"approval\": 1,\n      \"total\": 0.6276\n    },\n    \"total_score\": 0.6276,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Ring Quiet Plus or these themes: ring, quiet, plus, tinnitus, ringing ears, ear ringing, hearing, ear comfort, night ringing.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/595448/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12FE2YD6TGA6G2WB9CRWJE\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-superwebj-ring-quiet-plus\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"ring-quiet-plus\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:16.256Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:52.248Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-aizenpower-main-1-aizen-power\",\n    \"name\": \"Main 1 Aizen Power\",\n    \"family_name\": \"Main 1 Aizen Power\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/aizen-power-main1\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"413700\",\n    \"vendor_name\": \"aizenpower\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main 1 Aizen Power 1 bottle\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"aizen\",\n      \"power\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main 1 Aizen Power or these themes: main, aizen, power.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/413700/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12FF580A02CP4NTPA981BD\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-aizenpower-main-1-aizen-power\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"aizen-power-main1\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:17.353Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:53.200Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-aizenpower-main-3-aizen-power\",\n    \"name\": \"Main 3 Aizen Power\",\n    \"family_name\": \"Main 3 Aizen Power\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/aizen-power-main3\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"413702\",\n    \"vendor_name\": \"aizenpower\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Main 3 Aizen Power 6 bottles\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"aizen\",\n      \"power\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Main 3 Aizen Power or these themes: main, aizen, power.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/413702/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12FFVCTRKABXBH7PXPNTVA\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-aizenpower-main-3-aizen-power\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"aizen-power-main3\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:18.061Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:53.856Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-freedomhealthllc-main-1-glucofreeze-30-day-supply\",\n    \"name\": \"MAIN 1 Glucofreeze - 30 Day Supply\",\n    \"family_name\": \"MAIN 1 Glucofreeze - 30 Day Supply\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/glucofreeze-30-supply-main1\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"437388\",\n    \"vendor_name\": \"freedomhealthllc\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 1 Glucofreeze - 1 BOTTLE 30 Day Supply\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"glucofreeze\",\n      \"supply\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 1 Glucofreeze - 30 Day Supply or these themes: main, glucofreeze, supply.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/437388/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12FJS6BMGQ9G9MNY4X6EMD\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-freedomhealthllc-main-1-glucofreeze-30-day-supply\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"glucofreeze-30-supply-main1\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:21.063Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:54.987Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-freedomhealthllc-main-2-glucofreeze-60-day-supply\",\n    \"name\": \"MAIN 2 Glucofreeze - 60 Day Supply\",\n    \"family_name\": \"MAIN 2 Glucofreeze - 60 Day Supply\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/glucofreeze-60-supply-main2\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"437999\",\n    \"vendor_name\": \"freedomhealthllc\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 2 Glucofreeze - 3 BOTTLES 60 Day Supply\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"glucofreeze\",\n      \"supply\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 2 Glucofreeze - 60 Day Supply or these themes: main, glucofreeze, supply.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/437999/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12FKJDEFG9QFPBD40TZF57\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-freedomhealthllc-main-2-glucofreeze-60-day-supply\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"glucofreeze-60-supply-main2\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:21.870Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:55.576Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-freedomhealthllc-main-3-glucofreeze-90-day-supply\",\n    \"name\": \"MAIN 3 Glucofreeze - 90 Day Supply\",\n    \"family_name\": \"MAIN 3 Glucofreeze - 90 Day Supply\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/glucofreeze-90-supply-main3\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"438000\",\n    \"vendor_name\": \"freedomhealthllc\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 3 Glucofreeze - 6 BOTTLES 90 Day Supply\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"glucofreeze\",\n      \"supply\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 3 Glucofreeze - 90 Day Supply or these themes: main, glucofreeze, supply.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/438000/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12FMQZG5SDD8R2BY0W5CZ7\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-freedomhealthllc-main-3-glucofreeze-90-day-supply\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"glucofreeze-90-supply-main3\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:23.072Z\",\n    \"dub_updated_at\": \"2026-04-25T02:07:56.595Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-main-1-fungus-elixir-69\",\n    \"name\": \"MAIN 1 - Fungus Elixir - $69\",\n    \"family_name\": \"MAIN 1 - Fungus Elixir - $69\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/fungus-elixir-69-main1\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488841\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 1 - Fungus Elixir - 1 bottle $69\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"fungus\",\n      \"elixir\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 1 - Fungus Elixir - $69 or these themes: main, fungus, elixir.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488841/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12FS2E02C6SQ8Y09RH9AN2\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-funguselixir-main-1-fungus-elixir-69\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"fungus-elixir-69-main1\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:27.503Z\",\n    \"dub_updated_at\": \"2026-04-25T02:08:00.454Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-main-2-fungus-elixir-177\",\n    \"name\": \"MAIN 2 - Fungus Elixir - $177\",\n    \"family_name\": \"MAIN 2 - Fungus Elixir - $177\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/fungus-elixir-177-main2\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488854\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 2 - Fungus Elixir - 3 bottles $177\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"fungus\",\n      \"elixir\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 2 - Fungus Elixir - $177 or these themes: main, fungus, elixir.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488854/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12FVN1MD7K7HMF9HVYGA98\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-funguselixir-main-2-fungus-elixir-177\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"fungus-elixir-177-main2\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:30.146Z\",\n    \"dub_updated_at\": \"2026-04-25T02:08:02.744Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-main-3-fungus-elixir-294\",\n    \"name\": \"MAIN 3 - Fungus Elixir - $294\",\n    \"family_name\": \"MAIN 3 - Fungus Elixir - $294\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/fungus-elixir-294-main3\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488855\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 3 - Fungus Elixir - 6 bottles $294\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"fungus\",\n      \"elixir\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 3 - Fungus Elixir - $294 or these themes: main, fungus, elixir.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488855/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12FXCBZ6H6W67X68AKBV12\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-funguselixir-main-3-fungus-elixir-294\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"fungus-elixir-294-main3\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:31.917Z\",\n    \"dub_updated_at\": \"2026-04-25T02:08:05.076Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-up-2-the-delicious-candida-diet-47\",\n    \"name\": \"UP 2 - The Delicious Candida Diet - $47\",\n    \"family_name\": \"UP 2 - The Delicious Candida Diet - $47\",\n    \"affiliate_url\": \"https://sarah-nutri.dub.link/the-delicious-candida-diet-47-up2\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488844\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP 2 - The Delicious Candida Diet - $47\"\n    ],\n    \"match_keywords\": [\n      \"delicious\",\n      \"candida\",\n      \"diet\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP 2 - The Delicious Candida Diet - $47 or these themes: delicious, candida, diet.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488844/sarah_nutri/sarahnutri_forum\",\n    \"dub_link_id\": \"link_1KQ12FZC6VZQ959VHZNZ0D7XZ\",\n    \"dub_external_id\": \"content-factory:digistore24:digistore24-family-funguselixir-up-2-the-delicious-candida-diet-47\",\n    \"dub_domain\": \"sarah-nutri.dub.link\",\n    \"dub_key\": \"the-delicious-candida-diet-47-up2\",\n    \"dub_track_conversion\": false,\n    \"dub_created_at\": \"2026-04-25T01:01:33.959Z\",\n    \"dub_updated_at\": \"2026-04-25T02:08:06.169Z\",\n    \"tracking_source\": \"dub\"\n  },\n  {\n    \"slug\": \"digistore24-family-lostrec-the-lost-superfoods-digital\",\n    \"name\": \"The Lost Superfoods Digital\",\n    \"family_name\": \"The Lost Superfoods Digital\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/377300/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"377300\",\n    \"vendor_name\": \"lostrec\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"The Lost Superfoods Digital\"\n    ],\n    \"match_keywords\": [\n      \"lost\",\n      \"superfoods\",\n      \"digital\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches The Lost Superfoods Digital or these themes: lost, superfoods, digital.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/377300/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-mattpar-tube-mastery-and-monetization\",\n    \"name\": \"Tube Mastery And Monetization\",\n    \"family_name\": \"Tube Mastery And Monetization\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/299134/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"299134\",\n    \"vendor_name\": \"mattpar\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Tube Mastery and Monetization\"\n    ],\n    \"match_keywords\": [\n      \"tube\",\n      \"mastery\",\n      \"monetization\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Tube Mastery And Monetization or these themes: tube, mastery, monetization.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/299134/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds4a-camp-boost\",\n    \"name\": \"DS4a CAMP Boost\",\n    \"family_name\": \"DS4a CAMP Boost\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519007/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519007\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS4a cAMP Boost 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"ds4a\",\n      \"camp\",\n      \"boost\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS4a CAMP Boost or these themes: ds4a, camp, boost.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519007/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds4b-camp-boost\",\n    \"name\": \"DS4b CAMP Boost\",\n    \"family_name\": \"DS4b CAMP Boost\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519009/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519009\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS4b cAMP Boost 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"ds4b\",\n      \"camp\",\n      \"boost\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS4b CAMP Boost or these themes: ds4b, camp, boost.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519009/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds6a-gluta-raise\",\n    \"name\": \"DS6a Gluta Raise\",\n    \"family_name\": \"DS6a Gluta Raise\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519011/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519011\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS6a Gluta Raise 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"ds6a\",\n      \"gluta\",\n      \"raise\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS6a Gluta Raise or these themes: ds6a, gluta, raise.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519011/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds6b-gluta-raise\",\n    \"name\": \"DS6b Gluta Raise\",\n    \"family_name\": \"DS6b Gluta Raise\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519012/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519012\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS6b Gluta Raise 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"ds6b\",\n      \"gluta\",\n      \"raise\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS6b Gluta Raise or these themes: ds6b, gluta, raise.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519012/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-up4a-camp-boost\",\n    \"name\": \"UP4a CAMP Boost\",\n    \"family_name\": \"UP4a CAMP Boost\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519016/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519016\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP4a cAMP Boost 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"up4a\",\n      \"camp\",\n      \"boost\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP4a CAMP Boost or these themes: up4a, camp, boost.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519016/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-up4b-camp-boost\",\n    \"name\": \"UP4b CAMP Boost\",\n    \"family_name\": \"UP4b CAMP Boost\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519017/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519017\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP4b cAMP Boost 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"up4b\",\n      \"camp\",\n      \"boost\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP4b CAMP Boost or these themes: up4b, camp, boost.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519017/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-raposo1-keto-after-50-desserts\",\n    \"name\": \"Keto After 50 Desserts\",\n    \"family_name\": \"Keto After 50 Desserts\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/292043/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"292043\",\n    \"vendor_name\": \"raposo1\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Keto After 50 Desserts\"\n    ],\n    \"match_keywords\": [\n      \"keto\",\n      \"after\",\n      \"desserts\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.75,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.5975\n    },\n    \"total_score\": 0.5975,\n    \"scoring_reason\": \"strong keyword relevance, already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keto After 50 Desserts or these themes: keto, after, desserts.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/292043/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-freedomhealthllc-down-1-glucofreeze\",\n    \"name\": \"DOWN 1 - Glucofreeze -\",\n    \"family_name\": \"DOWN 1 - Glucofreeze -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/438015/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"438015\",\n    \"vendor_name\": \"freedomhealthllc\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DOWN 1 - Glucofreeze - 3 more bottles\"\n    ],\n    \"match_keywords\": [\n      \"down\",\n      \"glucofreeze\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DOWN 1 - Glucofreeze - or these themes: down, glucofreeze.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/438015/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-ds-1-fungus-elixir-293-4\",\n    \"name\": \"DS 1 - Fungus Elixir- $293.4\",\n    \"family_name\": \"DS 1 - Fungus Elixir- $293.4\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488851/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488851\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS 1 - Fungus Elixir- 9 bottles $293.4\"\n    ],\n    \"match_keywords\": [\n      \"fungus\",\n      \"elixir\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS 1 - Fungus Elixir- $293.4 or these themes: fungus, elixir.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488851/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-ds-2-fungus-elixir-240\",\n    \"name\": \"DS 2 - Fungus Elixir- $240\",\n    \"family_name\": \"DS 2 - Fungus Elixir- $240\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488852/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488852\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS 2 - Fungus Elixir- 6 bottles $240\"\n    ],\n    \"match_keywords\": [\n      \"fungus\",\n      \"elixir\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS 2 - Fungus Elixir- $240 or these themes: fungus, elixir.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488852/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-up-1-fungus-elixir-360\",\n    \"name\": \"UP 1 - Fungus Elixir - - $360\",\n    \"family_name\": \"UP 1 - Fungus Elixir - - $360\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488843/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488843\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP 1 - Fungus Elixir - 9 more bottles - $360\"\n    ],\n    \"match_keywords\": [\n      \"fungus\",\n      \"elixir\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP 1 - Fungus Elixir - - $360 or these themes: fungus, elixir.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488843/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-up-3-turmeric-bioperine-59-88\",\n    \"name\": \"UP 3 - Turmeric BioPerine - $59.88\",\n    \"family_name\": \"UP 3 - Turmeric BioPerine - $59.88\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488847/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488847\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP 3 - Turmeric BioPerine - 4 bottles $59.88\"\n    ],\n    \"match_keywords\": [\n      \"turmeric\",\n      \"bioperine\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP 3 - Turmeric BioPerine - $59.88 or these themes: turmeric, bioperine.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488847/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-funguselixir-up-4-turmeric-bioperine-59-9\",\n    \"name\": \"UP 4 - Turmeric BioPerine - $59.9\",\n    \"family_name\": \"UP 4 - Turmeric BioPerine - $59.9\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/488850/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"488850\",\n    \"vendor_name\": \"funguselixir\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP 4 - Turmeric BioPerine - 2 bottles $59.9\"\n    ],\n    \"match_keywords\": [\n      \"turmeric\",\n      \"bioperine\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP 4 - Turmeric BioPerine - $59.9 or these themes: turmeric, bioperine.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/488850/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-keyslim-keyslim-drops\",\n    \"name\": \"Keyslim Drops -\",\n    \"family_name\": \"Keyslim Drops -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/527378/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"527378\",\n    \"vendor_name\": \"keyslim\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Keyslim Drops - 1 Bottle\"\n    ],\n    \"match_keywords\": [\n      \"keyslim\",\n      \"drops\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keyslim Drops - or these themes: keyslim, drops.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/527378/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-mayadunna-ketogenic-diet-101\",\n    \"name\": \"Ketogenic Diet 101\",\n    \"family_name\": \"Ketogenic Diet 101\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/468715/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"468715\",\n    \"vendor_name\": \"mayadunna\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Ketogenic Diet 101\"\n    ],\n    \"match_keywords\": [\n      \"ketogenic\",\n      \"diet\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Ketogenic Diet 101 or these themes: ketogenic, diet.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/468715/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutrateam-main-1-hairvigor-24\",\n    \"name\": \"MAIN 1 - HairVigor 24 -\",\n    \"family_name\": \"MAIN 1 - HairVigor 24 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/571676/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"571676\",\n    \"vendor_name\": \"nutrateam\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 1 - HairVigor 24 - 1 bottle\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"hairvigor\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 1 - HairVigor 24 - or these themes: main, hairvigor.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/571676/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutrateam-main-2-hairvigor-24\",\n    \"name\": \"MAIN 2 - HairVigor 24 -\",\n    \"family_name\": \"MAIN 2 - HairVigor 24 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/571677/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"571677\",\n    \"vendor_name\": \"nutrateam\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 2 - HairVigor 24 - 3 bottles\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"hairvigor\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 2 - HairVigor 24 - or these themes: main, hairvigor.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/571677/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutrateam-main-3-hairvigor-24\",\n    \"name\": \"MAIN 3 - HairVigor 24 -\",\n    \"family_name\": \"MAIN 3 - HairVigor 24 -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/571678/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"571678\",\n    \"vendor_name\": \"nutrateam\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"MAIN 3 - HairVigor 24 - 6 bottles\"\n    ],\n    \"match_keywords\": [\n      \"main\",\n      \"hairvigor\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches MAIN 3 - HairVigor 24 - or these themes: main, hairvigor.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/571678/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds1-amyl-guard\",\n    \"name\": \"DS1 Amyl Guard\",\n    \"family_name\": \"DS1 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519004/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519004\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS1 Amyl Guard 2 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS1 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519004/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds2-amyl-guard\",\n    \"name\": \"DS2 Amyl Guard\",\n    \"family_name\": \"DS2 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519005/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519005\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS2 Amyl Guard 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS2 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519005/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds3-amyl-guard\",\n    \"name\": \"DS3 Amyl Guard\",\n    \"family_name\": \"DS3 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519006/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519006\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS3 Amyl Guard 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS3 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519006/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds5-camp-boost\",\n    \"name\": \"DS5 CAMP Boost\",\n    \"family_name\": \"DS5 CAMP Boost\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519010/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519010\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS5 cAMP Boost 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"camp\",\n      \"boost\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS5 CAMP Boost or these themes: camp, boost.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519010/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-ds7-gluta-raise\",\n    \"name\": \"DS7 Gluta Raise\",\n    \"family_name\": \"DS7 Gluta Raise\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519015/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519015\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"DS7 Gluta Raise 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"gluta\",\n      \"raise\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches DS7 Gluta Raise or these themes: gluta, raise.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519015/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-m1-amyl-guard\",\n    \"name\": \"M1 Amyl Guard\",\n    \"family_name\": \"M1 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/518996/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"518996\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M1 Amyl Guard 1 Bottle\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M1 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/518996/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-m2-amyl-guard\",\n    \"name\": \"M2 Amyl Guard\",\n    \"family_name\": \"M2 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/518997/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"518997\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M2 Amyl Guard 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M2 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/518997/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-m3-amyl-guard\",\n    \"name\": \"M3 Amyl Guard\",\n    \"family_name\": \"M3 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/518998/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"518998\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M3 Amyl Guard 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M3 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/518998/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-m4-amyl-guard-2-1-free-bottles\",\n    \"name\": \"M4 Amyl Guard 2+1 Free Bottles\",\n    \"family_name\": \"M4 Amyl Guard 2+1 Free Bottles\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519026/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519026\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M4 Amyl Guard 2+1 Free Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M4 Amyl Guard 2+1 Free Bottles or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519026/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-up1-amyl-guard\",\n    \"name\": \"Up1 Amyl Guard\",\n    \"family_name\": \"Up1 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/518999/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"518999\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Up1 Amyl Guard 3 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Up1 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/518999/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-up2-amyl-guard\",\n    \"name\": \"Up2 Amyl Guard\",\n    \"family_name\": \"Up2 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519001/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519001\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Up2 Amyl Guard 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Up2 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519001/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-up3-amyl-guard\",\n    \"name\": \"Up3 Amyl Guard\",\n    \"family_name\": \"Up3 Amyl Guard\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519002/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519002\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Up3 Amyl Guard 12 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"amyl\",\n      \"guard\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Up3 Amyl Guard or these themes: amyl, guard.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519002/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-up5-gluta-raise\",\n    \"name\": \"UP5 Gluta Raise\",\n    \"family_name\": \"UP5 Gluta Raise\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/519019/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"519019\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP5 Gluta Raise 6 Bottles\"\n    ],\n    \"match_keywords\": [\n      \"gluta\",\n      \"raise\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP5 Gluta Raise or these themes: gluta, raise.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/519019/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-prostadine-prostadine-2-free-ebooks\",\n    \"name\": \"Prostadine - + 2 Free Ebooks\",\n    \"family_name\": \"Prostadine - + 2 Free Ebooks\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/500418/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"500418\",\n    \"vendor_name\": \"Prostadine\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 2,\n    \"variant_names\": [\n      \"Prostadine - 3 Bottles + 2 Free Ebooks\",\n      \"Prostadine - 6 Bottles + 2 Free Ebooks\"\n    ],\n    \"match_keywords\": [\n      \"prostadine\",\n      \"ebooks\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.5,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.51\n    },\n    \"total_score\": 0.51,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Prostadine - + 2 Free Ebooks or these themes: prostadine, ebooks.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/500418/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-freedomhealthllc-up-1-glucofreeze\",\n    \"name\": \"UP 1 - Glucofreeze -\",\n    \"family_name\": \"UP 1 - Glucofreeze -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/438014/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"438014\",\n    \"vendor_name\": \"freedomhealthllc\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"UP 1 - Glucofreeze - 6 more bottles\"\n    ],\n    \"match_keywords\": [\n      \"glucofreeze\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches UP 1 - Glucofreeze - or these themes: glucofreeze.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/438014/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-keravitapro-keravita-pro\",\n    \"name\": \"Keravita Pro -\",\n    \"family_name\": \"Keravita Pro -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/554211/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"554211\",\n    \"vendor_name\": \"KeravitaPro\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Keravita Pro - 1 Bottle\"\n    ],\n    \"match_keywords\": [\n      \"keravita\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Keravita Pro - or these themes: keravita.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/554211/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-nutraville-m3-pineal-xt\",\n    \"name\": \"M3 Pineal XT\",\n    \"family_name\": \"M3 Pineal XT\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/520213/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"520213\",\n    \"vendor_name\": \"Nutraville\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"M3 Pineal XT 6 bottles\"\n    ],\n    \"match_keywords\": [\n      \"pineal\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches M3 Pineal XT or these themes: pineal.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/520213/sarah_nutri/sarahnutri_forum\"\n  },\n  {\n    \"slug\": \"digistore24-family-prostadine-prostadine\",\n    \"name\": \"Prostadine -\",\n    \"family_name\": \"Prostadine -\",\n    \"affiliate_url\": \"https://www.checkout-ds24.com/redir/500416/sarah_nutri/sarahnutri_forum\",\n    \"source\": \"affiliate_partnership_ui\",\n    \"digistore24_id\": \"500416\",\n    \"vendor_name\": \"Prostadine\",\n    \"product_type_name\": \"\",\n    \"discovery_state\": \"approved_live\",\n    \"variant_count\": 1,\n    \"variant_names\": [\n      \"Prostadine - 1 Bottle\"\n    ],\n    \"match_keywords\": [\n      \"prostadine\"\n    ],\n    \"score_breakdown\": {\n      \"relevance\": 0.25,\n      \"earnings_per_sale\": 0.5,\n      \"conversion\": 0.5,\n      \"cancellation\": 0.5,\n      \"newness\": 0.5,\n      \"sales\": 0,\n      \"recency\": 1,\n      \"approval\": 1,\n      \"total\": 0.4225\n    },\n    \"total_score\": 0.4225,\n    \"scoring_reason\": \"already approved\",\n    \"use_when\": \"Use only when the forum question clearly matches Prostadine - or these themes: prostadine.\",\n    \"avoid_when\": \"Avoid for emergency symptoms, diagnosis requests, medication changes, severe disease, or when the product is not directly relevant.\",\n    \"raw_affiliate_url\": \"https://www.checkout-ds24.com/redir/500416/sarah_nutri/sarahnutri_forum\"\n  }\n];\nconst trackedAffiliateUrls = {\n  \"digistore24-family-docsrem-the-doctor-s-book-of-survival-home-remedies\": \"https://sarah-nutri.dub.link/the-doctor-s-book-of-survival-home-remedies\",\n  \"digistore24-family-durchstartenonline-30-days-ketogenic-meal-plan\": \"https://sarah-nutri.dub.link/30-ketogenic-meal-plan\",\n  \"digistore24-family-ketodiet-keto-air-fryer-cookbook-ds07\": \"https://sarah-nutri.dub.link/keto-air-fryer-cookbook\",\n  \"digistore24-family-ketodiet-keto-bread-pasta-pizza-collection\": \"https://sarah-nutri.dub.link/keto-bread-pasta-pizza-collection\",\n  \"digistore24-family-keyslim-keyslim-drops-3-digital-bonuses\": \"https://sarah-nutri.dub.link/keyslim-drops-3-digital\",\n  \"digistore24-family-lostrec-the-lost-superfoods-physical-and-digital-us\": \"https://sarah-nutri.dub.link/the-lost-superfoods-physical-and-digital-us\",\n  \"digistore24-family-mayadunna-stress-annihilator-video-guide\": \"https://sarah-nutri.dub.link/stress-annihilator-video-guide\",\n  \"digistore24-family-nutraville-add1-members-portal-access-30-day-free\": \"https://sarah-nutri.dub.link/add1-members-portal-access-30-free\",\n  \"digistore24-family-rm7866-main1-tsl-echoxen\": \"https://sarah-nutri.dub.link/echoxen\",\n  \"digistore24-family-rm7866-main2-navy-seal-vsl-echoxen\": \"https://sarah-nutri.dub.link/echoxen\",\n  \"digistore24-family-rm7866-main2sub-echoxen\": \"https://sarah-nutri.dub.link/main2sub-echoxen\",\n  \"digistore24-family-rm7866-echoxen\": \"https://sarah-nutri.dub.link/echoxen\",\n  \"digistore24-family-superwebj-ring-quiet-plus\": \"https://sarah-nutri.dub.link/ring-quiet-plus\",\n  \"digistore24-family-aizenpower-main-1-aizen-power\": \"https://sarah-nutri.dub.link/aizen-power-main1\",\n  \"digistore24-family-aizenpower-main-3-aizen-power\": \"https://sarah-nutri.dub.link/aizen-power-main1\",\n  \"digistore24-family-freedomhealthllc-main-1-glucofreeze-30-day-supply\": \"https://sarah-nutri.dub.link/glucofreeze-30-supply-main1\",\n  \"digistore24-family-freedomhealthllc-main-2-glucofreeze-60-day-supply\": \"https://sarah-nutri.dub.link/glucofreeze-60-supply-main2\",\n  \"digistore24-family-freedomhealthllc-main-3-glucofreeze-90-day-supply\": \"https://sarah-nutri.dub.link/glucofreeze-90-supply-main3\",\n  \"digistore24-family-funguselixir-main-1-fungus-elixir-69\": \"https://sarah-nutri.dub.link/fungus-elixir-69-main1\",\n  \"digistore24-family-funguselixir-main-2-fungus-elixir-177\": \"https://sarah-nutri.dub.link/fungus-elixir-177-main2\",\n  \"digistore24-family-funguselixir-main-3-fungus-elixir-294\": \"https://sarah-nutri.dub.link/fungus-elixir-294-main3\",\n  \"digistore24-family-funguselixir-up-2-the-delicious-candida-diet-47\": \"https://sarah-nutri.dub.link/the-delicious-candida-diet-47-up2\",\n  \"digistore24-family-lostrec-the-lost-superfoods-digital\": \"https://www.checkout-ds24.com/redir/377300/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-mattpar-tube-mastery-and-monetization\": \"https://www.checkout-ds24.com/redir/299134/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-ds4a-camp-boost\": \"https://www.checkout-ds24.com/redir/519007/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-ds4b-camp-boost\": \"https://www.checkout-ds24.com/redir/519009/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-ds6a-gluta-raise\": \"https://www.checkout-ds24.com/redir/519011/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-ds6b-gluta-raise\": \"https://www.checkout-ds24.com/redir/519012/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-up4a-camp-boost\": \"https://www.checkout-ds24.com/redir/519016/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-up4b-camp-boost\": \"https://www.checkout-ds24.com/redir/519017/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-raposo1-keto-after-50-desserts\": \"https://www.checkout-ds24.com/redir/292043/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-freedomhealthllc-down-1-glucofreeze\": \"https://www.checkout-ds24.com/redir/438014/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-funguselixir-ds-1-fungus-elixir-293-4\": \"https://www.checkout-ds24.com/redir/488851/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-funguselixir-ds-2-fungus-elixir-240\": \"https://www.checkout-ds24.com/redir/488852/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-funguselixir-up-1-fungus-elixir-360\": \"https://www.checkout-ds24.com/redir/488843/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-funguselixir-up-3-turmeric-bioperine-59-88\": \"https://www.checkout-ds24.com/redir/488847/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-funguselixir-up-4-turmeric-bioperine-59-9\": \"https://www.checkout-ds24.com/redir/488850/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-keyslim-keyslim-drops\": \"https://www.checkout-ds24.com/redir/527378/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-mayadunna-ketogenic-diet-101\": \"https://www.checkout-ds24.com/redir/468715/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutrateam-main-1-hairvigor-24\": \"https://www.checkout-ds24.com/redir/571676/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutrateam-main-2-hairvigor-24\": \"https://www.checkout-ds24.com/redir/571676/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutrateam-main-3-hairvigor-24\": \"https://www.checkout-ds24.com/redir/571676/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-ds1-amyl-guard\": \"https://www.checkout-ds24.com/redir/519004/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-ds2-amyl-guard\": \"https://www.checkout-ds24.com/redir/519005/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-ds3-amyl-guard\": \"https://www.checkout-ds24.com/redir/519006/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-ds5-camp-boost\": \"https://www.checkout-ds24.com/redir/519010/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-ds7-gluta-raise\": \"https://www.checkout-ds24.com/redir/519015/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-m1-amyl-guard\": \"https://www.checkout-ds24.com/redir/518996/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-m2-amyl-guard\": \"https://www.checkout-ds24.com/redir/518997/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-m3-amyl-guard\": \"https://www.checkout-ds24.com/redir/518998/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-m4-amyl-guard-2-1-free-bottles\": \"https://www.checkout-ds24.com/redir/519026/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-up1-amyl-guard\": \"https://www.checkout-ds24.com/redir/518999/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-up2-amyl-guard\": \"https://www.checkout-ds24.com/redir/518999/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-up3-amyl-guard\": \"https://www.checkout-ds24.com/redir/518999/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-up5-gluta-raise\": \"https://www.checkout-ds24.com/redir/519019/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-prostadine-prostadine-2-free-ebooks\": \"https://www.checkout-ds24.com/redir/500418/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-freedomhealthllc-up-1-glucofreeze\": \"https://www.checkout-ds24.com/redir/438014/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-keravitapro-keravita-pro\": \"https://www.checkout-ds24.com/redir/554211/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-nutraville-m3-pineal-xt\": \"https://www.checkout-ds24.com/redir/520213/sarah_nutri/sarahnutri_forum\",\n  \"digistore24-family-prostadine-prostadine\": \"https://www.checkout-ds24.com/redir/500416/sarah_nutri/sarahnutri_forum\"\n};\nconst body = $json.body || $json || {};\nconst defaultReddit = {\n  platform: 'reddit',\n  title: 'Caregiver asking how to help an older parent eat enough protein',\n  body: 'My elderly mother has very little appetite and I am worried she is losing strength. What are simple ways to help without making meals complicated?',\n  url: '',\n  subreddit: 'AgingParents'\n};\nconst defaultQuora = {\n  platform: 'quora',\n  title: 'What are easy nutrition habits that help elderly people keep their strength?',\n  body: 'Looking for practical advice for older adults who do not eat much and get tired easily.',\n  url: ''\n};\n\nfunction cleanCandidate(input, fallback, platform) {\n  const value = input && typeof input === 'object' ? input : fallback;\n  return {\n    platform,\n    title: String(value.title || fallback.title || '').trim(),\n    body: String(value.body || value.text || fallback.body || '').trim(),\n    url: String(value.url || value.permalink || '').trim(),\n    subreddit: String(value.subreddit || '').trim()\n  };\n}\n\nfunction normalize(text) {\n  return String(text || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\n}\n\nfunction tokenize(text) {\n  return normalize(text)\n    .split(' ')\n    .filter((token) => token.length > 2 && !['the', 'and', 'for', 'with', 'from', 'that', 'this', 'have'].includes(token));\n}\n\nfunction normalizeUrl(value) {\n  return String(value || '').trim();\n}\n\nfunction scoreProductForCandidate(product, candidate) {\n  const haystack = normalize([candidate.title, candidate.body, candidate.subreddit, candidate.url].join(' '));\n  const tokens = new Set(tokenize(haystack));\n  const keywordHits = [];\n  let score = 0;\n  const family = normalize(product.family_name || product.name || '');\n  if (family && haystack.includes(family)) {\n    score += 6;\n    keywordHits.push(product.family_name || product.name);\n  }\n  for (const keyword of product.match_keywords || []) {\n    const normalizedKeyword = normalize(keyword);\n    if (!normalizedKeyword) continue;\n    const keywordTokens = tokenize(normalizedKeyword);\n    const fullPhraseHit = normalizedKeyword.length > 4 && haystack.includes(normalizedKeyword);\n    const tokenHit = keywordTokens.length > 0 && keywordTokens.every((token) => tokens.has(token));\n    if (fullPhraseHit || tokenHit) {\n      score += normalizedKeyword.split(' ').length > 1 ? 4 : 2;\n      keywordHits.push(keyword);\n    }\n  }\n  const catalogScore = Number(product.total_score || product.score_breakdown?.total || 0);\n  return {\n    ...product,\n    question_match_score: Number((score + catalogScore * 0.5).toFixed(4)),\n    question_match_hits: [...new Set(keywordHits)].slice(0, 8)\n  };\n}\n\nfunction rankProductsForCandidate(candidate) {\n  return (products || [])\n    .filter((product) => product.affiliate_url)\n    .map((product) => scoreProductForCandidate(product, candidate))\n    .sort((a, b) => {\n      const matchDelta = (b.question_match_score || 0) - (a.question_match_score || 0);\n      if (matchDelta) return matchDelta;\n      return Number(b.total_score || 0) - Number(a.total_score || 0);\n    })\n    .slice(0, 8);\n}\n\nconst reddit = cleanCandidate(body.reddit, defaultReddit, 'reddit');\nconst quora = cleanCandidate(body.quora, defaultQuora, 'quora');\n\nreturn [{\n  json: {\n    brand: config.brand,\n    config,\n    products,\n    trackedAffiliateUrls,\n    reddit,\n    quora,\n    redditProducts: rankProductsForCandidate(reddit),\n    quoraProducts: rankProductsForCandidate(quora),\n    intakeNotes: String(body.notes || '').trim()\n  }\n}];"
      },
      "id": "normalize-pair",
      "name": "Normalize Candidate Pair",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -60
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ \"http://host.docker.internal:8791/forum-link-checks\" + '?reddit_url=' + encodeURIComponent($json.reddit?.url || '') + '&quora_url=' + encodeURIComponent($json.quora?.url || '') }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "check-forum-links",
      "name": "Check Forum Links",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -500,
        -220
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Normalize Candidate Pair'].json;\nconst checks = $json || {};\nconst redditCheck = checks.reddit || { live: null, status: 'unvalidated', finalUrl: source.reddit?.url || '', reason: 'missing_health_response', platform: 'reddit' };\nconst quoraCheck = checks.quora || { live: null, status: 'unvalidated', finalUrl: source.quora?.url || '', reason: 'missing_health_response', platform: 'quora' };\n\nreturn [{\n  json: {\n    ...source,\n    reddit: { ...source.reddit, urlCheck: redditCheck },\n    quora: { ...source.quora, urlCheck: quoraCheck }\n  }\n}];"
      },
      "id": "merge-link-checks",
      "name": "Merge Link Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const products = ($json.redditProducts || $json.products || []).filter((p) => p.affiliate_url).map((p) => ({\n  slug: p.slug,\n  name: p.name,\n  match_keywords: p.match_keywords,\n  question_match_score: p.question_match_score,\n  question_match_hits: p.question_match_hits,\n  use_when: p.use_when,\n  avoid_when: p.avoid_when,\n  affiliate_url: p.affiliate_url,\n  source: p.source || 'manual_catalog'\n}));\nconst question = $json.reddit;\nconst prompt = [\n  \"You are Sarah Nutri. Write like a real person: brief, warm, specific, and caring.\",\n  \"Start with empathy. No AI fluff, no lecture tone, no \\\"here are five tips\\\".\",\n  \"Opening examples: \\\"Oh, I know how annoying this can be.\\\" \\\"I've seen this help a lot for older adults.\\\" \\\"I've been looking into this, and one thing that stands out is...\\\"\",\n  \"Closing examples: \\\"You're not alone in this, and there are practical ways to make it easier.\\\" \\\"If you want, I can help you narrow down the next best step.\\\" \\\"Small changes can really add up here, and you don't have to figure it out alone.\\\"\",\n  \"Hard rules: do not diagnose, prescribe, or change medications. No product unless directly relevant. If the thread is dead, unavailable, or unverified, return safety skip.\",\n  \"If you mention a product, use the short family name only, not pack counts or variant labels.\",\n  \"Manual posting mode: draft one copy/paste-ready Reddit comment. Use 1 short paragraph or 2 short sentences max. Keep it under 90 words. Do not mention automation. Do not lead with the product. If the product fits, mention it once at the end and include the affiliate disclosure.\",\n  'Reddit question context:',\n  JSON.stringify(question, null, 2),\n  'Thread URL check:',\n  JSON.stringify(question.urlCheck || {}, null, 2),\n  'Pre-ranked product shortlist for this question:',\n  JSON.stringify(products, null, 2),\n  'Return strict JSON only.'\n].join('\\n\\n');\nreturn [{ json: { ...$json, products, redditPrompt: prompt } }];"
      },
      "id": "build-reddit-prompt",
      "name": "Build Reddit Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -60
      ]
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ $json.redditPrompt }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {}
      },
      "id": "bonsai-reddit-draft",
      "name": "Bonsai Reddit Draft",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -240,
        -60
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "bonsai-8b"
        },
        "options": {}
      },
      "id": "bonsai-model-reddit",
      "name": "Bonsai Model Reddit",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "b0nsa1OpenAi8081",
          "name": "Bonsai OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Build Reddit Prompt'].json;\nconst raw = String($json.text || '').trim();\nfunction parseJson(text) {\n  const fenced = text.match(/\\`\\`\\`(?:json)?\\\\s*([\\\\s\\\\S]*?)\\`\\`\\`/i);\n  const body = fenced ? fenced[1] : text;\n  const first = body.indexOf('{');\n  const last = body.lastIndexOf('}');\n  if (first < 0 || last < first) throw new Error('Bonsai Reddit draft was not JSON: ' + text.slice(0, 300));\n  function repairJson(value) {\n    let out = '';\n    let inString = false;\n    let escaped = false;\n    for (const ch of value) {\n      if (escaped) {\n        out += ch;\n        escaped = false;\n        continue;\n      }\n      if (ch === '\\\\\\\\') {\n        out += ch;\n        escaped = true;\n        continue;\n      }\n      if (ch === '\"') {\n        out += ch;\n        inString = !inString;\n        continue;\n      }\n      if (inString && ch.charCodeAt(0) < 32) {\n        if (ch === '\\n') out += '\\\\\\\\n';\n        else if (ch === '\\r') out += '\\\\\\\\r';\n        else if (ch === '\\t') out += '\\\\\\\\t';\n        else if (ch === '\\b') out += '\\\\\\\\b';\n        else if (ch === '\\f') out += '\\\\\\\\f';\n        else out += '\\\\\\\\u' + ch.charCodeAt(0).toString(16).padStart(4, '0');\n        continue;\n      }\n      out += ch;\n    }\n    return out;\n  }\n  return JSON.parse(repairJson(body.slice(first, last + 1)));\n}\nfunction normalize(text) {\n  return String(text || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\n}\nfunction normalizeSafety(value, text) {\n  const safety = String(value || '').toLowerCase();\n  if (['answer', 'human_review', 'emergency', 'skip'].includes(safety)) return safety;\n  if (safety.includes('emergency')) return 'emergency';\n  if (safety.includes('human')) return 'human_review';\n  if (safety.includes('skip')) return 'skip';\n  return String(text || '').trim() ? 'answer' : 'human_review';\n}\nfunction escapeRegExp(value) {\n  const pattern = new RegExp('[.*+?^' + '$' + '{}()|[\\\\]\\\\\\\\]', 'g');\n  return String(value || '').replace(pattern, '\\\\$&');\n}\nfunction productMentioned(product, text) {\n  const normalizedText = normalize(text);\n  const productName = normalize(product.name).replace(/ bottles?\\\\b/g, '').trim();\n  if (productName && normalizedText.includes(productName)) return true;\n  return (product.match_keywords || [])\n    .filter((keyword) => String(keyword).length > 4)\n    .some((keyword) => normalizedText.includes(normalize(keyword)));\n}\nfunction cleanProductLabel(product) {\n  const raw = String(product?.family_name || product?.name || product?.slug || product?.digistore24_id || '');\n  return raw\n    .replace(new RegExp('\\\\[[^\\\\]]+\\\\]', 'g'), ' ')\n    .replace(new RegExp('\\\\b(main|up|down)\\\\s*\\\\d+(\\\\.\\\\d+)?\\\\b', 'gi'), ' ')\n    .replace(/[-–—:]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim() || String(product?.name || 'product');\n}\nfunction normalizeSimple(value) {\n  return String(value || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim().replace(/\\s+/g, ' ');\n}\nfunction canonicalizeProduct(product, pool) {\n  if (!product) return null;\n  const labelKey = normalizeSimple(cleanProductLabel(product));\n  const canonical = (pool || []).find((candidate) => {\n    if (!candidate?.affiliate_url) return false;\n    return normalizeSimple(cleanProductLabel(candidate)) === labelKey && normalizeSimple(candidate.name || candidate.family_name || '') === labelKey;\n  });\n  return canonical || product;\n}\nfunction stripVariantNoise(value) {\n  return String(value || '')\n    .replace(new RegExp('\\\\[[^\\\\]]+\\\\]', 'g'), ' ')\n    .replace(new RegExp('\\\\b(main|up|down)\\\\s*\\\\d+(\\\\.\\\\d+)?\\\\b', 'gi'), ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nfunction normalizeProductAliases(text, product, pool, displayName) {\n  if (!product || !displayName) return String(text || '');\n  const labelKey = normalizeSimple(cleanProductLabel(product));\n  const aliases = new Set();\n  for (const candidate of pool || []) {\n    if (normalizeSimple(cleanProductLabel(candidate)) !== labelKey) continue;\n    for (const value of [candidate.name, candidate.family_name, ...(candidate.variant_names || [])]) {\n      const clean = String(value || '').trim();\n      if (clean) aliases.add(clean);\n    }\n  }\n  let output = String(text || '');\n  for (const alias of aliases) {\n    if (normalizeSimple(alias) === normalizeSimple(displayName)) continue;\n    output = output.replace(new RegExp(escapeRegExp(alias), 'gi'), displayName);\n  }\n  return output;\n}\nfunction hasExplicitEmergency(text) {\n  const normalizedText = normalize(text);\n  return (source.config.safety.block_if_contains || []).some((term) => normalizedText.includes(normalize(term)));\n}\nfunction buildFallbackReply(candidate, product) {\n  const topic = String(candidate.title || '').trim();\n  const body = String(candidate.body || '').trim();\n  const label = product ? cleanProductLabel(product) : '';\n  const lines = [\n    'Oh, I know how frustrating this can be, especially at night.',\n    'A few things people often find helpful are keeping the room steady and calm, using a little background sound if silence makes the ringing feel louder, and getting a hearing check if it keeps hanging on.',\n    'You\\'re not alone in this, and there are practical ways to make it easier.'\n  ];\n  if (/tinnitus|ring|ear/i.test([topic, body].join(' ')) && product && product.name) {\n    lines.splice(2, 0, 'I found a product match that may be worth a look: ' + (label || product.name) + '.');\n  }\n  return lines.join(' ');\n}\n\nlet parsed;\ntry {\n  parsed = parseJson(raw);\n} catch (error) {\n  return [{\n    json: {\n      ...source,\n      redditDraft: {\n        raw,\n        text: 'Draft parsing failed. Please retry the Reddit run.',\n        safety: 'skip',\n        affiliateAllowed: false,\n        selectedProductSlug: '',\n        selectedProductName: '',\n        reason: String(error?.message || error),\n        urlCheck: source.reddit.urlCheck || {}\n      }\n    }\n  }];\n}\nconst products = source.redditProducts || source.products || [];\nconst urlCheck = source.reddit.urlCheck || {};\nlet text = String(parsed.reply || '').trim();\nlet safety = normalizeSafety(parsed.safety, text);\nconst topicText = [source.reddit.title, source.reddit.body, source.reddit.url].join(' ');\n\nif (urlCheck.live === false) {\n  if (urlCheck.status !== 'missing' && urlCheck.status !== 'unvalidated') {\n    safety = 'skip';\n    text = 'Thread no longer reachable. Pick a live Reddit post before drafting a reply.';\n  }\n}\n\nif (safety === 'emergency' && !hasExplicitEmergency(topicText) && /tinnitus|ringing ears|ear ringing|night ringing/i.test(topicText)) {\n  safety = 'answer';\n}\nif (safety === 'human_review' && !hasExplicitEmergency(topicText)) {\n  safety = 'answer';\n}\n\nlet product = products.find((p) => p.slug === parsed.selected_product_slug && p.affiliate_url) || null;\nif (!product) product = products.find((p) => p.affiliate_url && productMentioned(p, text)) || null;\nif (!product) product = products.find((p) => p.affiliate_url && Array.isArray(p.question_match_hits) && p.question_match_hits.length > 0) || null;\nproduct = canonicalizeProduct(product, products);\nconst displayName = product ? cleanProductLabel(product) : '';\nconst trackedUrl = product ? (source.trackedAffiliateUrls?.[product.slug] || product.affiliate_url) : '';\nif (product && displayName && product.name && displayName !== product.name) {\n  text = text.replace(new RegExp(escapeRegExp(product.name), 'g'), displayName);\n}\ntext = normalizeProductAliases(text, product, products, displayName);\ntext = stripVariantNoise(text);\nif (product && displayName && trackedUrl) {\n  text = text.replace(/Helpful resource:[^\\n]*/i, 'Helpful resource: ' + displayName + ' - ' + trackedUrl);\n}\nif (!text || text.length < 40) {\n  text = buildFallbackReply(source.reddit, product);\n}\n\nconst allowProduct = safety !== 'skip' && safety !== 'emergency' && product && text.length > 80 && (parsed.affiliate_allowed === true || productMentioned(product, text) || (Array.isArray(product.question_match_hits) && product.question_match_hits.length > 0));\nif (allowProduct && trackedUrl && !text.includes(trackedUrl)) {\n  text += '\\n\\nHelpful resource: ' + (displayName || product.name) + ' - ' + trackedUrl;\n  text += '\\n' + source.config.default_disclosure;\n}\n\nreturn [{\n  json: {\n    ...source,\n    redditDraft: {\n      raw,\n      text,\n      safety,\n      affiliateAllowed: Boolean(allowProduct),\n      selectedProductSlug: product ? product.slug : '',\n      selectedProductName: displayName || (product ? product.name : ''),\n      reason: parsed.reason || (urlCheck.live === false ? urlCheck.reason || 'thread_unreachable' : ''),\n      urlCheck\n    }\n  }\n}];"
      },
      "id": "parse-reddit-draft",
      "name": "Parse Reddit Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const products = ($json.quoraProducts || $json.products || []).filter((p) => p.affiliate_url).map((p) => ({\n  slug: p.slug,\n  name: p.name,\n  match_keywords: p.match_keywords,\n  question_match_score: p.question_match_score,\n  question_match_hits: p.question_match_hits,\n  use_when: p.use_when,\n  avoid_when: p.avoid_when,\n  affiliate_url: p.affiliate_url,\n  source: p.source || 'manual_catalog'\n}));\nconst question = $json.quora;\nconst prompt = [\n  \"You are Sarah Nutri. Write like a real person: brief, warm, specific, and caring.\",\n  \"Start with empathy. No AI fluff, no lecture tone.\",\n  \"Opening examples: \\\"Oh, I know how frustrating this can be.\\\" \\\"I've been looking into this, and one thing that keeps coming up is...\\\" \\\"For a lot of families, this tends to help more than people expect.\\\"\",\n  \"Closing examples: \\\"You're not alone in this, and there are many ways to manage it with support and care.\\\" \\\"If you'd like, I can help narrow this down to the most practical next step.\\\"\",\n  \"Hard rules: general education only, not diagnosis. No product unless directly relevant. If the thread is dead, unavailable, or unverified, return safety skip.\",\n  \"If you mention a product, use the short family name only, not pack counts or variant labels.\",\n  \"Manual posting mode: draft one copy/paste-ready Quora answer. Use 2 short paragraphs max or 3 short bullets max. Keep it under 120 words. Do not mention automation. If you include an affiliate link, include the disclosure in one short closing sentence.\",\n  'Quora question context:',\n  JSON.stringify(question, null, 2),\n  'Thread URL check:',\n  JSON.stringify(question.urlCheck || {}, null, 2),\n  'Pre-ranked product shortlist for this question:',\n  JSON.stringify(products, null, 2),\n  'Return strict JSON only.'\n].join('\\n\\n');\nreturn [{ json: { ...$json, products, quoraPrompt: prompt } }];"
      },
      "id": "build-quora-prompt",
      "name": "Build Quora Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -60
      ]
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "={{ $json.quoraPrompt }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {}
      },
      "id": "bonsai-quora-draft",
      "name": "Bonsai Quora Draft",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        480,
        -60
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "id",
          "value": "bonsai-8b"
        },
        "options": {}
      },
      "id": "bonsai-model-quora",
      "name": "Bonsai Model Quora",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "b0nsa1OpenAi8081",
          "name": "Bonsai OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $node['Build Quora Prompt'].json;\nconst raw = String($json.text || '').trim();\nfunction parseJson(text) {\n  const fenced = text.match(/\\`\\`\\`(?:json)?\\\\s*([\\\\s\\\\S]*?)\\`\\`\\`/i);\n  const body = fenced ? fenced[1] : text;\n  const first = body.indexOf('{');\n  const last = body.lastIndexOf('}');\n  if (first < 0 || last < first) throw new Error('Bonsai Quora draft was not JSON: ' + text.slice(0, 300));\n  function repairJson(value) {\n    let out = '';\n    let inString = false;\n    let escaped = false;\n    for (const ch of value) {\n      if (escaped) {\n        out += ch;\n        escaped = false;\n        continue;\n      }\n      if (ch === '\\\\\\\\') {\n        out += ch;\n        escaped = true;\n        continue;\n      }\n      if (ch === '\"') {\n        out += ch;\n        inString = !inString;\n        continue;\n      }\n      if (inString && ch.charCodeAt(0) < 32) {\n        if (ch === '\\n') out += '\\\\\\\\n';\n        else if (ch === '\\r') out += '\\\\\\\\r';\n        else if (ch === '\\t') out += '\\\\\\\\t';\n        else if (ch === '\\b') out += '\\\\\\\\b';\n        else if (ch === '\\f') out += '\\\\\\\\f';\n        else out += '\\\\\\\\u' + ch.charCodeAt(0).toString(16).padStart(4, '0');\n        continue;\n      }\n      out += ch;\n    }\n    return out;\n  }\n  return JSON.parse(repairJson(body.slice(first, last + 1)));\n}\nfunction normalize(text) {\n  return String(text || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\n}\nfunction normalizeSafety(value, text) {\n  const safety = String(value || '').toLowerCase();\n  if (['answer', 'human_review', 'emergency', 'skip'].includes(safety)) return safety;\n  if (safety.includes('emergency')) return 'emergency';\n  if (safety.includes('human')) return 'human_review';\n  if (safety.includes('skip')) return 'skip';\n  return String(text || '').trim() ? 'answer' : 'human_review';\n}\nfunction escapeRegExp(value) {\n  const pattern = new RegExp('[.*+?^' + '$' + '{}()|[\\\\]\\\\\\\\]', 'g');\n  return String(value || '').replace(pattern, '\\\\$&');\n}\nfunction productMentioned(product, text) {\n  const normalizedText = normalize(text);\n  const productName = normalize(product.name).replace(/ bottles?\\\\b/g, '').trim();\n  if (productName && normalizedText.includes(productName)) return true;\n  return (product.match_keywords || [])\n    .filter((keyword) => String(keyword).length > 4)\n    .some((keyword) => normalizedText.includes(normalize(keyword)));\n}\nfunction cleanProductLabel(product) {\n  const raw = String(product?.family_name || product?.name || product?.slug || product?.digistore24_id || '');\n  return raw\n    .replace(new RegExp('\\\\[[^\\\\]]+\\\\]', 'g'), ' ')\n    .replace(new RegExp('\\\\b(main|up|down)\\\\s*\\\\d+(\\\\.\\\\d+)?\\\\b', 'gi'), ' ')\n    .replace(/[-–—:]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim() || String(product?.name || 'product');\n}\nfunction normalizeSimple(value) {\n  return String(value || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim().replace(/\\s+/g, ' ');\n}\nfunction canonicalizeProduct(product, pool) {\n  if (!product) return null;\n  const labelKey = normalizeSimple(cleanProductLabel(product));\n  const canonical = (pool || []).find((candidate) => {\n    if (!candidate?.affiliate_url) return false;\n    return normalizeSimple(cleanProductLabel(candidate)) === labelKey && normalizeSimple(candidate.name || candidate.family_name || '') === labelKey;\n  });\n  return canonical || product;\n}\nfunction stripVariantNoise(value) {\n  return String(value || '')\n    .replace(new RegExp('\\\\[[^\\\\]]+\\\\]', 'g'), ' ')\n    .replace(new RegExp('\\\\b(main|up|down)\\\\s*\\\\d+(\\\\.\\\\d+)?\\\\b', 'gi'), ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nfunction normalizeProductAliases(text, product, pool, displayName) {\n  if (!product || !displayName) return String(text || '');\n  const labelKey = normalizeSimple(cleanProductLabel(product));\n  const aliases = new Set();\n  for (const candidate of pool || []) {\n    if (normalizeSimple(cleanProductLabel(candidate)) !== labelKey) continue;\n    for (const value of [candidate.name, candidate.family_name, ...(candidate.variant_names || [])]) {\n      const clean = String(value || '').trim();\n      if (clean) aliases.add(clean);\n    }\n  }\n  let output = String(text || '');\n  for (const alias of aliases) {\n    if (normalizeSimple(alias) === normalizeSimple(displayName)) continue;\n    output = output.replace(new RegExp(escapeRegExp(alias), 'gi'), displayName);\n  }\n  return output;\n}\nfunction hasExplicitEmergency(text) {\n  const normalizedText = normalize(text);\n  return (source.config.safety.block_if_contains || []).some((term) => normalizedText.includes(normalize(term)));\n}\n\nlet parsed;\ntry {\n  parsed = parseJson(raw);\n} catch (error) {\n  return [{\n    json: {\n      ...source,\n      quoraDraft: {\n        raw,\n        text: 'Draft parsing failed. Please retry the Quora run.',\n        safety: 'skip',\n        affiliateAllowed: false,\n        selectedProductSlug: '',\n        selectedProductName: '',\n        reason: String(error?.message || error),\n        urlCheck: source.quora.urlCheck || {}\n      }\n    }\n  }];\n}\nconst products = source.quoraProducts || source.products || [];\nconst urlCheck = source.quora.urlCheck || {};\nlet text = String(parsed.answer || '').trim();\nlet safety = normalizeSafety(parsed.safety, text);\nconst topicText = [source.quora.title, source.quora.body, source.quora.url].join(' ');\n\nif (urlCheck.live === false) {\n  if (urlCheck.status !== 'missing' && urlCheck.status !== 'unvalidated') {\n    safety = 'skip';\n    text = 'Thread no longer reachable. Pick a live Quora question before drafting an answer.';\n  }\n}\n\nif (safety === 'emergency' && !hasExplicitEmergency(topicText) && /tinnitus|ringing ears|ear ringing|night ringing/i.test(topicText)) {\n  safety = 'answer';\n}\nif (safety === 'human_review' && !hasExplicitEmergency(topicText)) {\n  safety = 'answer';\n}\n\nlet product = products.find((p) => p.slug === parsed.selected_product_slug && p.affiliate_url) || null;\nif (!product) product = products.find((p) => p.affiliate_url && productMentioned(p, text)) || null;\nif (!product) product = products.find((p) => p.affiliate_url && Array.isArray(p.question_match_hits) && p.question_match_hits.length > 0) || null;\nproduct = canonicalizeProduct(product, products);\nconst displayName = product ? cleanProductLabel(product) : '';\nconst trackedUrl = product ? (source.trackedAffiliateUrls?.[product.slug] || product.affiliate_url) : '';\nif (product && displayName && product.name && displayName !== product.name) {\n  text = text.replace(new RegExp(escapeRegExp(product.name), 'g'), displayName);\n}\ntext = normalizeProductAliases(text, product, products, displayName);\ntext = stripVariantNoise(text);\nif (product && displayName && trackedUrl) {\n  text = text.replace(/Helpful resource:[^\\n]*/i, 'Helpful resource: ' + displayName + ' - ' + trackedUrl);\n}\nif (!text || text.length < 40) {\n  text = buildFallbackReply(source.quora, product);\n}\n\nconst allowProduct = safety !== 'skip' && safety !== 'emergency' && product && text.length > 80 && (parsed.affiliate_allowed === true || productMentioned(product, text) || (Array.isArray(product.question_match_hits) && product.question_match_hits.length > 0));\nif (allowProduct && trackedUrl && !text.includes(trackedUrl)) {\n  text += '\\n\\nHelpful resource: ' + (displayName || product.name) + ' - ' + trackedUrl;\n  text += '\\n' + source.config.default_disclosure;\n}\n\nreturn [{\n  json: {\n    ...source,\n    quoraDraft: {\n      raw,\n      text,\n      safety,\n      affiliateAllowed: Boolean(allowProduct),\n      selectedProductSlug: product ? product.slug : '',\n      selectedProductName: displayName || (product ? product.name : ''),\n      reason: parsed.reason || (urlCheck.live === false ? urlCheck.reason || 'thread_unreachable' : ''),\n      urlCheck\n    }\n  }\n}];"
      },
      "id": "parse-quora-draft",
      "name": "Parse Quora Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nfunction clip(text, limit) {\n  const value = String(text || '');\n  return value.length > limit ? value.slice(0, limit - 3) + '...' : value;\n}\nfunction firstUrl(text) {\n  const match = String(text || '').match(new RegExp('https?:\\\\/\\\\/\\\\S+'));\n  return match ? match[0] : '';\n}\nfunction urlSummary(check) {\n  if (!check) return 'unknown';\n  const status = check.live === true ? 'live' : check.live === false ? 'dead' : 'unvalidated';\n  const reason = check.reason ? ' (' + check.reason + ')' : '';\n  return status + reason;\n}\nfunction sourceUrlDisplay(candidate, check) {\n  const rawLiveUrl = String(check?.finalUrl || candidate?.url || '').trim();\n  const liveUrl = rawLiveUrl.replace(/[?#].*$/, '');\n  if (check?.live === true && liveUrl) return liveUrl;\n  if (check?.status === 'missing') return 'manual/source search';\n  if (check?.live === false) return 'dead link removed';\n  return candidate?.url ? candidate.url : 'manual/source search';\n}\nfunction message(lines) {\n  return lines.filter((line) => line !== '').join('\\n');\n}\nfunction normalizeSimple(value) {\n  return String(value || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim().replace(/\\s+/g, ' ');\n}\nfunction cleanPacketLabel(product) {\n  const raw = String(product?.family_name || product?.name || product?.slug || product?.digistore24_id || '');\n  return raw\n    .replace(new RegExp('\\\\[[^\\\\]]+\\\\]', 'g'), ' ')\n    .replace(new RegExp('\\\\b(main|up|down)\\\\s*\\\\d+(\\\\.\\\\d+)?\\\\b', 'gi'), ' ')\n    .replace(/[-–—:]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim() || String(product?.name || 'product');\n}\nfunction pickPacketProduct(candidate, draft) {\n  const pool = candidate?.platform === 'quora'\n    ? (data.quoraProducts || data.products || [])\n    : (data.redditProducts || data.products || []);\n  const bySlug = draft?.selectedProductSlug ? pool.find((product) => product.slug === draft.selectedProductSlug && product.affiliate_url) : null;\n  if (bySlug) {\n    const labelKey = normalizeSimple(cleanPacketLabel(bySlug));\n    return pool.find((product) => product.affiliate_url && normalizeSimple(cleanPacketLabel(product)) === labelKey && normalizeSimple(product.name || product.family_name || '') === labelKey) || bySlug;\n  }\n  if (draft?.safety === 'skip' || draft?.safety === 'emergency') return null;\n  const matches = pool.filter((product) => product.affiliate_url && Array.isArray(product.question_match_hits) && product.question_match_hits.length > 0);\n  matches.sort((a, b) => {\n    const aLabel = cleanPacketLabel(a);\n    const bLabel = cleanPacketLabel(b);\n    const aCanonical = normalizeSimple(a.name) === normalizeSimple(aLabel);\n    const bCanonical = normalizeSimple(b.name) === normalizeSimple(bLabel);\n    if (aCanonical !== bCanonical) return aCanonical ? -1 : 1;\n    if (aLabel.length !== bLabel.length) return aLabel.length - bLabel.length;\n    const scoreDelta = Number(b.question_match_score || 0) - Number(a.question_match_score || 0);\n    if (scoreDelta !== 0) return scoreDelta;\n    return normalizeSimple(a.name).localeCompare(normalizeSimple(b.name));\n  });\n  return matches[0] || null;\n}\nfunction draftFields(candidate, draft) {\n  const product = pickPacketProduct(candidate, draft);\n  const trackedUrl = product ? (data.trackedAffiliateUrls?.[product.slug] || product.affiliate_url || '') : '';\n  const displayName = product ? cleanPacketLabel(product) : '';\n  return {\n    affiliate: product ? 'yes - ' + displayName : 'no',\n    trackedUrl,\n    selectedProductName: displayName,\n    reason: draft.reason || '',\n    safety: draft.safety || 'skip'\n  };\n}\nfunction copyBlock(label, text) {\n  return [label + ':', clip(text, 1200)].join('\\n');\n}\n\nconst reddit = draftFields(data.reddit, data.redditDraft);\nconst quora = draftFields(data.quora, data.quoraDraft);\nconst redditHasResource = /Helpful resource:/i.test(String(data.redditDraft.text || ''));\nconst quoraHasResource = /Helpful resource:/i.test(String(data.quoraDraft.text || ''));\n\nconst redditMessage = message([\n  'Sarah Nutri Reddit manual post',\n  'Subreddit: ' + (data.reddit.subreddit ? 'r/' + data.reddit.subreddit : 'unknown subreddit'),\n  'Question: ' + data.reddit.title,\n  'URL: ' + sourceUrlDisplay(data.reddit, data.reddit.urlCheck),\n  'URL check: ' + urlSummary(data.reddit.urlCheck),\n  'Safety: ' + reddit.safety,\n  'Affiliate: ' + reddit.affiliate,\n  'Reason: ' + reddit.reason,\n  '',\n  copyBlock('Copy/paste reply', data.redditDraft.text),\n  !redditHasResource && reddit.trackedUrl ? 'Helpful resource: ' + reddit.selectedProductName + ' - ' + reddit.trackedUrl : '',\n  !redditHasResource && reddit.trackedUrl ? 'Disclosure: ' + data.config.default_disclosure : ''\n]);\n\nconst quoraMessage = message([\n  'Sarah Nutri Quora manual post',\n  'Question: ' + data.quora.title,\n  'URL: ' + sourceUrlDisplay(data.quora, data.quora.urlCheck),\n  'URL check: ' + urlSummary(data.quora.urlCheck),\n  'Safety: ' + quora.safety,\n  'Affiliate: ' + quora.affiliate,\n  'Reason: ' + quora.reason,\n  '',\n  copyBlock('Copy/paste answer', data.quoraDraft.text),\n  !quoraHasResource && quora.trackedUrl ? 'Helpful resource: ' + quora.selectedProductName + ' - ' + quora.trackedUrl : '',\n  !quoraHasResource && quora.trackedUrl ? 'Disclosure: ' + data.config.default_disclosure : ''\n]);\n\nconst telegramRedditMessage = message([\n  'Sarah Nutri Reddit',\n  data.reddit.title,\n  'Post: ' + (data.reddit.url || 'manual/source search'),\n  'Tracked link: ' + (reddit.trackedUrl || 'none'),\n  'Paste: ' + clip(data.redditDraft.text, 600)\n]);\n\nconst telegramQuoraMessage = message([\n  'Sarah Nutri Quora',\n  data.quora.title,\n  'Post: ' + (data.quora.url || 'manual/source search'),\n  'Tracked link: ' + (quora.trackedUrl || 'none'),\n  'Paste: ' + clip(data.quoraDraft.text, 750)\n]);\n\nreturn [\n  { json: { ok: true, platform: 'reddit', discordMessage: redditMessage, telegramMessage: telegramRedditMessage, candidate: data.reddit, draft: data.redditDraft } },\n  { json: { ok: true, platform: 'quora', discordMessage: quoraMessage, telegramMessage: telegramQuoraMessage, candidate: data.quora, draft: data.quoraDraft } }\n];"
      },
      "id": "build-discord-packets",
      "name": "Build Discord Packets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -60
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = String($env.TELEGRAM_BOT_TOKEN || '').trim();\nconst chatId = String($env.TELEGRAM_CHAT_ID || '').trim();\nif (!token || !chatId) return [];\nreturn $input.all().map((item) => ({\n  json: {\n    ...item.json,\n    telegramBotToken: token,\n    telegramChatId: chatId,\n    telegramMessage: String(item.json.telegramMessage || item.json.discordMessage || '').trim()\n  }\n}));"
      },
      "id": "prepare-telegram-review",
      "name": "Prepare Telegram Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.telegram.org/bot\" + $json.telegramBotToken + \"/sendMessage\" }}",
        "authentication": "none",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.telegramChatId, text: $json.telegramMessage, disable_web_page_preview: false }) }}",
        "options": {},
        "infoMessage": ""
      },
      "id": "telegram-notify",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1260,
        100
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "operation": "sendLegacy",
        "content": "={{ $json.discordMessage }}",
        "options": {},
        "embeds": {},
        "files": {}
      },
      "id": "discord-notify",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1200,
        -60
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "7i15uQZ2xyb2Y3zH",
          "name": "Discord Webhook account"
        }
      },
      "webhookId": "sarah-discord-forum-manual-queue"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Candidate Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forum Intake Webhook": {
      "main": [
        [
          {
            "node": "Normalize Candidate Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Candidate Pair": {
      "main": [
        [
          {
            "node": "Check Forum Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Forum Links": {
      "main": [
        [
          {
            "node": "Merge Link Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Link Checks": {
      "main": [
        [
          {
            "node": "Build Reddit Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reddit Prompt": {
      "main": [
        [
          {
            "node": "Bonsai Reddit Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bonsai Model Reddit": {
      "ai_languageModel": [
        [
          {
            "node": "Bonsai Reddit Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Bonsai Reddit Draft": {
      "main": [
        [
          {
            "node": "Parse Reddit Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reddit Draft": {
      "main": [
        [
          {
            "node": "Build Quora Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Quora Prompt": {
      "main": [
        [
          {
            "node": "Bonsai Quora Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bonsai Model Quora": {
      "ai_languageModel": [
        [
          {
            "node": "Bonsai Quora Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Bonsai Quora Draft": {
      "main": [
        [
          {
            "node": "Parse Quora Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Quora Draft": {
      "main": [
        [
          {
            "node": "Build Discord Packets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Discord Packets": {
      "main": [
        [
          {
            "node": "Discord Notify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Telegram Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Review": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null
}
